Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(strategy): clear closed rebuilt grid slots (#767)
  backend/apps/trading/services/strategy_cycles.py
  backend/tests/integration/trading/test_strategy_cycles_pagination.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/gridState.ts
  frontend/tests/unit/components/tasks/detail/strategy/gridState.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

[codex] fix snowball refillable head slots (#768)
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix(metrics): auto-select comparison granularity
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/hooks/useTaskMetrics.ts
  frontend/src/utils/fetchMetrics.ts
  frontend/tests/unit/hooks/useTaskMetrics.test.ts
  frontend/tests/unit/utils/fetchMetrics.test.ts
Due: eslint, typescript-check, vitest

fix(metrics): stop comparison auto reloads
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
Due: eslint, typescript-check, vitest

fix(metrics): auto-select comparison granularity (#770)
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/hooks/useTaskMetrics.ts
  frontend/src/utils/fetchMetrics.ts
  frontend/tests/unit/hooks/useTaskMetrics.test.ts
  frontend/tests/unit/utils/fetchMetrics.test.ts
Due: eslint, typescript-check, vitest

perf(snowball): archive completed cycles from hot state
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/strategy_snapshot.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/strategies/snowball/tick_phases.py
  backend/tests/unit/trading/services/test_strategy_cycles.py
  backend/tests/unit/trading/services/test_strategy_snapshot.py
  backend/tests/unit/trading/strategies/snowball/test_tick_phases.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(snowball): auto adjust base units by balance
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/services/backtest_initial_positions.py
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/cycle_lifecycle.py
  backend/apps/trading/strategies/snowball/parameters.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/types/strategy.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(metrics): add rollups and periodic trade charts
  backend/apps/trading/management/commands/backfill_metric_rollups.py
  backend/apps/trading/migrations/0066_metrics_rollup.py
  backend/apps/trading/models/__init__.py
  backend/apps/trading/models/metrics.py
  backend/apps/trading/services/metrics_aggregator.py
  backend/apps/trading/services/periodic_trade_metrics.py
  backend/apps/trading/services/strategy_data.py
  backend/apps/trading/services/strategy_data_common.py
  backend/apps/trading/services/strategy_metrics.py
  backend/apps/trading/views/strategy_data_mixin.py
  backend/config/settings.py
  backend/tests/integration/trading/test_mixins_integration.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useStrategyData.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/types/strategyVisualization.ts
  frontend/src/utils/fetchMetrics.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

perf(metrics): stream paginated chart data
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/hooks/useTaskMetrics.ts
  frontend/src/utils/fetchMetrics.ts
  frontend/tests/integration/components/ExecutionComparisonDialog.test.tsx
  frontend/tests/unit/hooks/useTaskMetrics.test.ts
  frontend/tests/unit/utils/fetchMetrics.test.ts
Due: eslint, typescript-check, vitest

feat(metrics): show current base units
  backend/apps/trading/services/strategy_snapshot.py
  backend/apps/trading/strategies/snowball/tick_phases.py
  backend/tests/unit/trading/services/test_strategy_snapshot.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  frontend/src/components/tasks/detail/ExecutionStatusSummary.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/tests/integration/components/ExecutionStatusSummary.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(metrics): show current base units (#774)
  backend/apps/trading/services/strategy_snapshot.py
  backend/apps/trading/strategies/snowball/tick_phases.py
  backend/tests/unit/trading/services/test_strategy_snapshot.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  frontend/src/components/tasks/detail/ExecutionStatusSummary.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/tests/integration/components/ExecutionStatusSummary.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(configurations): show copy name dialog
  frontend/src/components/configurations/ConfigurationCard.test.tsx
  frontend/src/components/configurations/ConfigurationCard.tsx
  frontend/src/components/configurations/ConfigurationCopyDialog.tsx
  frontend/src/components/configurations/configurationCopyError.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/configuration.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/configuration.json
  frontend/src/pages/ConfigurationDetailPage.test.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/pages/ConfigurationsPage.test.tsx
Due: eslint, typescript-check, vitest

fix(configurations): show copy name dialog (#775)
  frontend/src/components/configurations/ConfigurationCard.test.tsx
  frontend/src/components/configurations/ConfigurationCard.tsx
  frontend/src/components/configurations/ConfigurationCopyDialog.tsx
  frontend/src/components/configurations/configurationCopyError.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/configuration.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/configuration.json
  frontend/src/pages/ConfigurationDetailPage.test.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/pages/ConfigurationsPage.test.tsx
Due: eslint, typescript-check, vitest

fix(metrics): stack period bar charts
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(metrics): stack period bar charts (#777)
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

feat(strategy): add snowball warmup controls
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/services/strategy_snapshot.py
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/cycle_lifecycle.py
  backend/apps/trading/strategies/snowball/cycle_orchestrator.py
  backend/apps/trading/strategies/snowball/cycle_state.py
  backend/apps/trading/strategies/snowball/parameters.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/strategies/snowball/tick_phases.py
  backend/apps/trading/strategies/snowball/warmup.py
  backend/tests/unit/trading/services/test_strategy_snapshot.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_tick_phases.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/utils/configFieldOrder.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): retry transient OANDA auth reads
  backend/apps/market/services/oanda_retry.py
  backend/tests/unit/trading/services/test_oanda_retry.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(strategy): add snowball warmup controls (#779)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/services/strategy_snapshot.py
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/cycle_lifecycle.py
  backend/apps/trading/strategies/snowball/cycle_orchestrator.py
  backend/apps/trading/strategies/snowball/cycle_state.py
  backend/apps/trading/strategies/snowball/parameters.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/strategies/snowball/tick_phases.py
  backend/apps/trading/strategies/snowball/warmup.py
  backend/tests/unit/trading/services/test_strategy_snapshot.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_tick_phases.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/utils/configFieldOrder.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): retry transient OANDA auth reads (#780)
  backend/apps/market/services/oanda_retry.py
  backend/tests/unit/trading/services/test_oanda_retry.py
  backend/tests/unit/trading/services/test_reconciliation.py
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): anchor stop-loss-exit rebuild trigger on SL level and add buffer/cooldown
  backend/apps/trading/migrations/0067_snowball_rebuild_entry_buffer_cooldown.py
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/parameters.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/utils/configFieldOrder.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(backtest): skip major FX holidays during backtests
  backend/apps/trading/migrations/0068_backtest_holiday_calendar.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/services/market_holidays.py
  backend/apps/trading/services/market_schedule.py
  backend/apps/trading/tasks/market_idle.py
  backend/pyproject.toml
  backend/tests/unit/trading/services/test_market_holidays.py
  backend/tests/unit/trading/services/test_market_schedule.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/tasks/forms/backtestTaskPayload.ts
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/pages/BacktestTasksComparePage.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(snowball): anchor stop-loss-exit rebuild trigger on SL level and add buffer/cooldown (#782)
  backend/apps/trading/migrations/0067_snowball_rebuild_entry_buffer_cooldown.py
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/parameters.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/utils/configFieldOrder.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat: backtest holiday calendar (#784)
  backend/apps/trading/migrations/0068_backtest_holiday_calendar.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/services/market_holidays.py
  backend/apps/trading/services/market_schedule.py
  backend/apps/trading/tasks/market_idle.py
  backend/pyproject.toml
  backend/tests/unit/trading/services/test_market_holidays.py
  backend/tests/unit/trading/services/test_market_schedule.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/tasks/forms/backtestTaskPayload.ts
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/pages/BacktestTasksComparePage.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): clean strategy comparison rows
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/utils/strategyConfigComparison.test.ts
  frontend/src/utils/strategyConfigComparison.ts
  frontend/src/utils/strategySchemaLabels.test.ts
  frontend/src/utils/strategySchemaLabels.ts
Due: eslint, typescript-check, vitest

fix(backtest): resume market idle after close
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/services/market_holidays.py
  backend/apps/trading/tasks/market_idle.py
  backend/tests/unit/trading/services/test_market_holidays.py
  backend/tests/unit/trading/tasks/test_market_idle.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/tasks/forms/validationSchemas.test.ts
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/pages/BacktestTasksComparePage.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): clarify base unit ratio label
  backend/apps/trading/schemas/snowball.json
  frontend/src/utils/strategyConfigComparison.test.ts
Due: django-check, django-migrations-check, eslint, typescript-check, vitest

fix: execution comparison labels (#786)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/services/market_holidays.py
  backend/apps/trading/tasks/market_idle.py
  backend/tests/unit/trading/services/test_market_holidays.py
  backend/tests/unit/trading/tasks/test_market_idle.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/tasks/forms/validationSchemas.test.ts
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/pages/BacktestTasksComparePage.tsx
  frontend/src/utils/strategyConfigComparison.test.ts
  frontend/src/utils/strategyConfigComparison.ts
  frontend/src/utils/strategySchemaLabels.test.ts
  frontend/src/utils/strategySchemaLabels.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(backtest): preserve pending in-memory rebuild cycles
  backend/apps/trading/in_memory_execution.py
  backend/tests/unit/trading/test_in_memory_execution.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(backtest): preserve pending in-memory rebuild cycles (#789)
  backend/apps/trading/in_memory_execution.py
  backend/tests/unit/trading/test_in_memory_execution.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(backtest): add tick quality filters
  backend/apps/market/services/backtest_tick_quality.py
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/admin.py
  backend/apps/trading/migrations/0070_backtest_tick_quality_filters.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/task_policy.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/views/backtest.py
  backend/tests/integration/market/tasks/test_backtest.py
  backend/tests/integration/market/tasks/test_backtest_stream_publisher.py
  backend/tests/integration/trading/test_serializers_integration.py
  backend/tests/unit/trading/serializers/test_backtest.py
  backend/tests/unit/trading/tasks/test_backtest_task.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  docs/openapi.json
  frontend/src/api/types.ts
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/tasks/forms/backtestTaskPayload.test.ts
  frontend/src/components/tasks/forms/backtestTaskPayload.ts
  frontend/src/components/tasks/forms/executionEditGuards.test.ts
  frontend/src/components/tasks/forms/executionEditGuards.ts
  frontend/src/components/tasks/forms/validationSchemas.test.ts
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/pages/BacktestTasksComparePage.tsx
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(backtest): add tick quality filters (#791)
  backend/apps/market/services/backtest_tick_quality.py
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/admin.py
  backend/apps/trading/migrations/0070_backtest_tick_quality_filters.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/task_policy.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/views/backtest.py
  backend/tests/integration/market/tasks/test_backtest.py
  backend/tests/integration/market/tasks/test_backtest_stream_publisher.py
  backend/tests/integration/trading/test_serializers_integration.py
  backend/tests/unit/trading/serializers/test_backtest.py
  backend/tests/unit/trading/tasks/test_backtest_task.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  docs/openapi.json
  frontend/src/api/types.ts
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/tasks/forms/backtestTaskPayload.test.ts
  frontend/src/components/tasks/forms/backtestTaskPayload.ts
  frontend/src/components/tasks/forms/executionEditGuards.test.ts
  frontend/src/components/tasks/forms/executionEditGuards.ts
  frontend/src/components/tasks/forms/validationSchemas.test.ts
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/pages/BacktestTasksComparePage.tsx
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(backtest): add closed datetime windows
  backend/apps/trading/migrations/0071_alter_backtesttask_excluded_dates.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/services/market_holidays.py
  backend/apps/trading/services/market_schedule.py
  backend/apps/trading/tasks/market_idle.py
  backend/tests/unit/trading/serializers/test_backtest.py
  backend/tests/unit/trading/services/test_market_holidays.py
  backend/tests/unit/trading/services/test_market_schedule.py
  backend/tests/unit/trading/tasks/test_market_idle.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/api/types.ts
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/backtest/MarketClosedWindowsEditor.tsx
  frontend/src/components/settings/GeneralSettings.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/tasks/forms/backtestTaskPayload.ts
  frontend/src/components/tasks/forms/validationSchemas.test.ts
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/constants/timezones.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/pages/BacktestTasksComparePage.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): add tick granularity for live tasks
  backend/apps/trading/admin.py
  backend/apps/trading/migrations/0073_tradingtask_tick_granularity.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/tasks/source.py
  backend/apps/trading/tasks/trading.py
  backend/tests/unit/trading/serializers/test_trading.py
  backend/tests/unit/trading/tasks/test_source.py
  backend/tests/unit/trading/tasks/test_trading_task.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/api/types.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/src/pages/TradingTaskFormPage.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/tradingTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
