Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

fix(frontend): improve task trend panel initial load (#129)
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/hooks/useWindowedCandles.ts
Due: eslint, typescript-check, vitest

fix(vscode): resolve workspace interpreter warnings
  .vscode/settings.json
Due: none

chore(config): sync workspace settings
  .vscode/settings.json
  backend/uv.lock
  docs/openapi.json
Due: django-check, django-migrations-check

fix: vscode settings warnings (#134)
  .vscode/settings.json
  backend/uv.lock
  docs/openapi.json
Due: django-check, django-migrations-check

feat(strategy): add snowball strategy visualization tab
  backend/apps/trading/events/base.py
  backend/apps/trading/migrations/0025_strategyeventrecord_actual_exit_price_and_more.py
  backend/apps/trading/models/events.py
  backend/apps/trading/serializers/__init__.py
  backend/apps/trading/serializers/strategy_visualization.py
  backend/apps/trading/services/strategy_visualization.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  backend/uv.lock
  docs/openapi.json
  docs/snowball-strategy-tab-design.md
  frontend/src/api/apiClient.ts
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTabConfig.ts
  frontend/src/hooks/useTaskStrategyEvents.ts
  frontend/src/hooks/useWindowedCandles.ts
  frontend/src/hooks/useWindowedTaskMarkers.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/src/types/index.ts
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): align executor and tests with visualization schema
  backend/apps/trading/tasks/executor.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/tasks/test_executor.py
Due: ty, django-check, django-migrations-check, pytest

fix(deploy): require jwt secret and document setup
  .github/workflows/build-and-deploy.yml
  DEPLOYMENT.md
  README.md
  docker-compose.prod.yaml
Due: none

feat: snowball strategy tab design (#137)
  .github/workflows/build-and-deploy.yml
  DEPLOYMENT.md
  README.md
  backend/apps/trading/events/base.py
  backend/apps/trading/migrations/0025_strategyeventrecord_actual_exit_price_and_more.py
  backend/apps/trading/models/events.py
  backend/apps/trading/serializers/__init__.py
  backend/apps/trading/serializers/strategy_visualization.py
  backend/apps/trading/services/strategy_visualization.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/uv.lock
  docker-compose.prod.yaml
  docs/openapi.json
  docs/snowball-strategy-tab-design.md
  frontend/src/api/apiClient.ts
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTabConfig.ts
  frontend/src/hooks/useTaskStrategyEvents.ts
  frontend/src/hooks/useWindowedCandles.ts
  frontend/src/hooks/useWindowedTaskMarkers.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/src/types/index.ts
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat: snowball strategy tab design (#137)
  .github/workflows/build-and-deploy.yml
  DEPLOYMENT.md
  README.md
  backend/apps/trading/events/base.py
  backend/apps/trading/migrations/0025_strategyeventrecord_actual_exit_price_and_more.py
  backend/apps/trading/models/events.py
  backend/apps/trading/serializers/__init__.py
  backend/apps/trading/serializers/strategy_visualization.py
  backend/apps/trading/services/strategy_visualization.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/uv.lock
  docker-compose.prod.yaml
  docs/openapi.json
  frontend/src/api/apiClient.ts
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTabConfig.ts
  frontend/src/hooks/useTaskStrategyEvents.ts
  frontend/src/hooks/useWindowedCandles.ts
  frontend/src/hooks/useWindowedTaskMarkers.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/src/types/index.ts
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(deploy): fail fast and use domain healthchecks
  .github/workflows/build-and-deploy.yml
  docker-compose.prod.yaml
Due: none

fix(deploy): fail fast and use domain healthchecks (#139)
  .github/workflows/build-and-deploy.yml
  docker-compose.prod.yaml
Due: none

refactor(api): align task contracts and query architecture
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/services/config_usage.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/urls.py
  backend/apps/trading/views/__init__.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/configs.py
  backend/apps/trading/views/task_base.py
  backend/apps/trading/views/trading.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  backend/tests/unit/trading/views/test_trading_viewset.py
  docs/openapi.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/config/reactQuery.ts
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useBacktestTasks.ts
  frontend/src/hooks/useConfigurationMutations.ts
  frontend/src/hooks/useConfigurations.ts
  frontend/src/hooks/useStrategies.ts
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/hooks/useTradingTasks.ts
  frontend/src/hooks/useWrappedMutation.ts
  frontend/src/services/api/accounts.ts
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/configurations.ts
  frontend/src/services/api/contracts.ts
  frontend/src/services/api/market.ts
  frontend/src/services/api/strategies.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/tradingTask.ts
  frontend/tests/unit/services/apiServices.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(frontend): unify task data access and polling
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/config/reactQuery.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useChartPreferences.ts
  frontend/src/hooks/useSequentialPolling.ts
  frontend/src/hooks/useTaskLogComponents.ts
  frontend/src/hooks/useTaskPolling.ts
  frontend/src/hooks/useTaskStrategyEvents.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/hooks/useWindowedTaskMarkers.ts
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/src/services/api/taskResources.ts
  frontend/src/services/monitoring/errorReporting.ts
  frontend/src/services/polling/TaskPollingService.ts
  frontend/src/utils/fetchAllTrades.ts
  frontend/src/utils/logger.ts
  frontend/tests/integration/components/ErrorBoundary.test.tsx
  frontend/tests/integration/contexts/AuthContext.test.tsx
  frontend/tests/unit/services/apiServices.test.ts
Due: eslint, typescript-check, vitest

fix(security): harden auth tokens and finish frontend auth controls
  backend/apps/accounts/services/jwt.py
  backend/apps/market/models/oanda.py
  backend/config/settings.py
  backend/config/settings_e2e.py
  backend/config/settings_parts/security.py
  backend/config/settings_test.py
  backend/pyproject.toml
  backend/tests/integration/accounts/views/test_refresh.py
  backend/tests/integration/market/models/test_oanda.py
  backend/tests/unit/accounts/services/test_jwt.py
  backend/tests/unit/config/test_settings.py
  backend/uv.lock
  frontend/src/api/client.ts
  frontend/src/api/index.ts
  frontend/src/components/backtest/BacktestTaskActions.tsx
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/common/TaskControlButtons.tsx
  frontend/src/components/configurations/ConfigurationDeleteDialog.tsx
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/settings/AccountManagement.tsx
  frontend/src/components/settings/AddAccountModal.tsx
  frontend/src/components/settings/GeneralSettings.tsx
  frontend/src/components/trading/TradingTaskActions.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/hooks/useMarketConfig.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/ConfigurationFormPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/tests/unit/api/client.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(auth): migrate legacy refresh tokens and cover pause actions
  .env.example
  DEVELOPMENT.md
  backend/apps/accounts/migrations/0005_hash_refresh_tokens.py
  backend/apps/accounts/services/jwt.py
  backend/tests/integration/accounts/views/test_refresh.py
  frontend/tests/unit/components/taskCardsPause.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

test(frontend): cover task card control actions
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/tests/unit/components/taskCardActions.test.tsx
  frontend/tests/unit/components/taskCardsPause.test.tsx
Due: eslint, typescript-check, vitest

test(tasks): cover detail actions and auth overlap
  DEVELOPMENT.md
  backend/tests/unit/accounts/services/test_jwt.py
  docs/oanda-key-rotation.md
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

test(snowball): add backtest tick simulations
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
Due: ty, django-check, django-migrations-check, pytest

test(snowball): cover resume and manual intervals
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
Due: ty, django-check, django-migrations-check, pytest

fix(tasks): preserve run context and narrow auth logout
  backend/apps/trading/tasks/service.py
  backend/tests/unit/trading/tasks/test_service.py
  frontend/src/api/client.ts
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/services/api/accounts.ts
  frontend/src/utils/authEvents.ts
  frontend/tests/integration/hooks/useTaskTrendReplayData.test.ts
  frontend/tests/unit/api/client.test.ts
  frontend/tests/unit/utils/authEvents.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(recovery): align resume contract and account list loading
  backend/apps/trading/models/trading.py
  backend/apps/trading/tasks/recovery.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/trading.py
  backend/tests/integration/trading/test_models.py
  backend/tests/unit/trading/tasks/test_recovery.py
  backend/tests/unit/trading/views/test_trading_viewset.py
  docs/openapi.json
  frontend/src/components/settings/AccountManagement.tsx
  frontend/src/hooks/useAccounts.ts
  frontend/src/hooks/useOandaAccounts.ts
  frontend/src/services/api/accounts.ts
  frontend/tests/unit/services/apiServices.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(frontend): unify task and account api hooks
  backend/apps/trading/strategies/base.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/trading.py
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/settings/AccountManagement.tsx
  frontend/src/components/settings/AddAccountModal.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/config/reactQuery.ts
  frontend/src/hooks/useAccountMutations.ts
  frontend/src/hooks/useAccounts.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
  frontend/tests/unit/components/taskCardActions.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(frontend): centralize query refresh flows
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/config/reactQuery.ts
  frontend/src/hooks/useAccounts.ts
  frontend/src/hooks/useBacktestTasks.ts
  frontend/src/hooks/useOandaAccounts.ts
  frontend/src/hooks/useTaskExecutions.ts
  frontend/src/hooks/useTradingTasks.ts
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
Due: eslint, typescript-check, vitest

refactor(frontend): consolidate view data hooks
  frontend/src/components/backtest/BacktestTaskActions.tsx
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/configurations/ConfigurationDeleteDialog.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/settings/GeneralSettings.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/config/reactQuery.ts
  frontend/src/hooks/useBackendHealth.ts
  frontend/src/hooks/useBacktestTasks.ts
  frontend/src/hooks/useConfigurations.ts
  frontend/src/hooks/useOandaAccounts.ts
  frontend/src/hooks/useStrategies.ts
  frontend/src/hooks/useTaskStrategyEvents.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/hooks/useTradingTasks.ts
  frontend/src/hooks/useUserSettings.ts
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
  frontend/tests/unit/components/taskCardActions.test.tsx
Due: eslint, typescript-check, vitest

refactor(frontend): unify market and auth view hooks
  frontend/src/config/reactQuery.ts
  frontend/src/hooks/useAuthMutations.ts
  frontend/src/hooks/useIncrementalTaskResource.ts
  frontend/src/hooks/useMarketConfig.ts
  frontend/src/hooks/useTaskEvents.ts
  frontend/src/hooks/useTaskLogs.ts
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/hooks/useWindowedCandles.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/services/api/market.ts
  frontend/tests/integration/pages/LoginPage.test.tsx
  frontend/tests/integration/pages/RegisterPage.test.tsx
Due: eslint, typescript-check, vitest

fix(executions): add detail endpoint and simplify task polling
  backend/apps/trading/services/executions.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/trading.py
  backend/tests/integration/trading/test_mixins_integration.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useBacktestTasks.ts
  frontend/src/hooks/useMarketConfig.ts
  frontend/src/hooks/useTaskExecutions.ts
  frontend/src/hooks/useTradingTasks.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/tests/integration/hooks/useMarketConfig.test.tsx
  frontend/tests/integration/hooks/useTaskExecutions.test.tsx
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(frontend): remove legacy task polling stack
  backend/apps/trading/services/executions.py
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/forms/InstrumentSelector.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/config/reactQuery.ts
  frontend/src/hooks/useTaskPolling.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/services/polling/TaskPollingService.ts
  frontend/tests/unit/components/taskCardActions.test.tsx
  frontend/tests/unit/services/TaskPollingService.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(frontend): unify market config consumers
  backend/apps/trading/services/executions.py
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/settings/DisplaySettings.tsx
  frontend/src/config/reactQuery.ts
  frontend/src/hooks/useMarketConfig.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/pages/DashboardPage.tsx
  frontend/tests/integration/hooks/useMarketConfig.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(frontend): normalize settings storage and refresh hooks
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/hooks/useAppSettings.ts
  frontend/src/hooks/useChartPreferences.ts
  frontend/src/hooks/useIncrementalTaskResource.ts
  frontend/src/hooks/useTaskEvents.ts
  frontend/src/hooks/useTaskLogs.ts
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/utils/persistentState.ts
Due: eslint, typescript-check, vitest

refactor(api): decouple frontend models from generated clients
  backend/apps/trading/services/executions.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/views/mixins.py
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/settings/AccountManagement.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/hooks/useAccountMutations.ts
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useConfigurations.ts
  frontend/src/services/api/accounts.ts
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/configurations.ts
  frontend/src/services/api/contracts.ts
  frontend/src/services/api/pagination.ts
  frontend/src/services/api/taskResources.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/common.ts
  frontend/src/types/strategy.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(frontend): centralize persisted view preferences
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/components/tasks/display/StatusBadge.tsx
  frontend/src/contexts/AccessibilityContext.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useColumnConfig.ts
  frontend/src/hooks/useTabConfig.ts
  frontend/src/pages/TradingTasksPage.tsx
  frontend/src/utils/candleColors.ts
  frontend/src/utils/persistentState.ts
Due: eslint, typescript-check, vitest

refactor(frontend): reduce trend replay eager loading
  frontend/src/components/common/DataTable.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/i18n/config.ts
  frontend/src/utils/fetchAllTrades.ts
Due: eslint, typescript-check, vitest

refactor(api): remove eager fetch-all flows
  backend/apps/trading/views/mixins.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/components/tasks/forms/ConfigurationSelector.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/hooks/useConfigurations.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useWindowedTaskMarkers.ts
  frontend/src/pages/TradingTasksPage.tsx
  frontend/src/services/api/configurations.ts
  frontend/src/services/api/pagination.ts
  frontend/src/services/api/taskResources.ts
  frontend/src/utils/fetchMetrics.ts
  frontend/src/utils/replayTradeFetchers.ts
  frontend/tests/integration/hooks/useTaskTrendReplayData.test.ts
  frontend/tests/unit/services/apiServices.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

perf(tasks): narrow polling and summary recomputation
  backend/apps/trading/serializers/events.py
  backend/apps/trading/services/executions.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/views/mixins.py
  docs/openapi.json
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useIncrementalTaskResource.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskStrategyEvents.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/hooks/useTradingTaskMutations.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): add replay endpoint and execution snapshots
  backend/apps/trading/migrations/0026_taskexecutionsnapshot.py
  backend/apps/trading/models/__init__.py
  backend/apps/trading/models/snapshots.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/serializers/trend_replay.py
  backend/apps/trading/services/execution_metrics.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/executions.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/services/trend_replay.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/tasks/trading.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/hooks/taskMutationCache.ts
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/services/api/taskResources.ts
  frontend/src/utils/replayTradeFetchers.ts
  frontend/tests/integration/hooks/useTaskTrendReplayData.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(tasks): centralize derived resources and replay markers
  backend/apps/trading/serializers/trend_replay.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/executions.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/services/trend_replay.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/tasks/trading.py
  backend/tests/integration/trading/test_mixins_integration.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/hooks/taskMutationCache.ts
  frontend/src/hooks/taskResourceCache.ts
  frontend/src/hooks/useTaskExecutions.ts
  frontend/src/hooks/useTaskStrategyEvents.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/services/api/taskResources.ts
  frontend/tests/integration/hooks/useTaskTrendReplayData.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(tasks): consolidate lifecycle and query factories
  backend/apps/trading/serializers/trend_replay.py
  backend/apps/trading/services/execution_lifecycle.py
  backend/apps/trading/services/trend_replay.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/tasks/trading.py
  backend/tests/integration/trading/test_mixins_integration.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/hooks/taskMutationCache.ts
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskExecutions.ts
  frontend/src/hooks/useTaskStrategyEvents.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/services/api/taskResources.ts
  frontend/tests/integration/hooks/useTaskTrendReplayData.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest
