Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

fix(frontend): resolve ESLint warnings and add e2e tsconfig
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/tsconfig.e2e.json
  frontend/tsconfig.json
Due: eslint, typescript-check, vitest

test: frontend test suite (#68)
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/tsconfig.e2e.json
  frontend/tsconfig.json
Due: eslint, typescript-check, vitest

feat(strategy): add Snowball strategy implementation
  backend/apps/trading/enums.py
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/__init__.py
  backend/apps/trading/strategies/snowball/calculators.py
  backend/apps/trading/strategies/snowball/enums.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/types/strategy.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

test: fix StrategyType choices count and backtest e2e timeout
  backend/tests/e2e/trading/test_backtest_tasks_api.py
  backend/tests/unit/trading/test_enums.py
Due: ty, django-check, django-migrations-check, pytest

feat(chart): display timezone abbreviation on OHLC charts
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/utils/chartTimezone.ts
Due: eslint, typescript-check, vitest

fix: resolve build errors in TradingTaskForm and StrategyConfigForm
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
Due: eslint, typescript-check, vitest

test: add unit tests for accounts tasks and trading services
  backend/tests/unit/accounts/test_tasks.py
  backend/tests/unit/trading/services/__init__.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/services/test_unrealized_pnl.py
  frontend/tests/e2e/dashboard.spec.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: add timeout to Celery inspect calls and increase E2E test timeout
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/service.py
  backend/tests/e2e/trading/test_backtest_tasks_api.py
Due: ty, django-check, django-migrations-check, pytest

refactor(strategy): improve snowball strategy parameter configuration
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/base.py
  backend/apps/trading/strategies/snowball/calculators.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
  frontend/src/components/strategy/StrategyConfigForm.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(strategy): improve snowball strategy parameter configuration (#71)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/base.py
  backend/apps/trading/strategies/snowball/calculators.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
  frontend/src/components/strategy/StrategyConfigForm.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(test): move test_floor_strategy.py into floor/ subdirectory
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/floor/test_floor_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

test(snowball): add comprehensive unit tests for Snowball strategy
  backend/tests/unit/trading/strategies/snowball/__init__.py
  backend/tests/unit/trading/strategies/snowball/test_calculators.py
  backend/tests/unit/trading/strategies/snowball/test_enums.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/uv.lock
Due: ty, django-check, django-migrations-check, pytest

fix: snowball add count reset and tests (#73)
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/floor/test_floor_strategy.py
  backend/tests/unit/trading/strategies/snowball/__init__.py
  backend/tests/unit/trading/strategies/snowball/test_calculators.py
  backend/tests/unit/trading/strategies/snowball/test_enums.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): normalize atr_timeframe to uppercase and add snowball tests
  backend/apps/trading/strategies/snowball/models.py
  backend/tests/e2e/trading/test_snowball_configs_api.py
  backend/tests/integration/trading/test_snowball_integration.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): allow empty manual interval inputs in snowball config
  frontend/src/components/strategy/StrategyConfigForm.tsx
Due: eslint, typescript-check, vitest

fix(strategy): normalize atr_timeframe to uppercase and add snowball … (#75)
  backend/apps/trading/strategies/snowball/models.py
  backend/tests/e2e/trading/test_snowball_configs_api.py
  backend/tests/integration/trading/test_snowball_integration.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix: snowball manual interval input (#77)
  frontend/src/components/strategy/StrategyConfigForm.tsx
Due: eslint, typescript-check, vitest

feat(settings): consolidate profile into settings, add display/data/chart preferences
  frontend/src/App.tsx
  frontend/src/components/common/Breadcrumbs.tsx
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/settings/DataSettings.tsx
  frontend/src/components/settings/DisplaySettings.tsx
  frontend/src/components/settings/GeneralSettings.tsx
  frontend/src/components/settings/index.ts
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useAppSettings.ts
  frontend/src/hooks/useChartPreferences.ts
  frontend/src/hooks/useIdleTimeout.ts
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/settings.json
  frontend/src/pages/SettingsPage.tsx
  frontend/src/utils/candleColors.ts
  frontend/src/utils/formatters.ts
Due: eslint, typescript-check, vitest

feat(settings): consolidate profile into settings, add display/data/c… (#79)
  frontend/src/App.tsx
  frontend/src/components/common/Breadcrumbs.tsx
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/settings/DataSettings.tsx
  frontend/src/components/settings/DisplaySettings.tsx
  frontend/src/components/settings/GeneralSettings.tsx
  frontend/src/components/settings/index.ts
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useAppSettings.ts
  frontend/src/hooks/useChartPreferences.ts
  frontend/src/hooks/useIdleTimeout.ts
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/settings.json
  frontend/src/pages/SettingsPage.tsx
  frontend/src/utils/candleColors.ts
  frontend/src/utils/formatters.ts
Due: eslint, typescript-check, vitest

fix(strategy): guard m_pips range validation behind dynamic_tp_enabled and raise m_pips_max default
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): guard m_pips range validation behind dynamic_tp_enable… (#81)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(celery): add backtest and system queues to worker command
  README.md
  docker-compose.prod.yaml
  docker-compose.yaml
Due: none

fix(celery): add backtest and system queues to worker command (#83)
  README.md
  docker-compose.prod.yaml
  docker-compose.yaml
Due: none

feat(trading): add hedging support and trend panel
  backend/apps/trading/engine.py
  backend/apps/trading/migrations/0014_add_hedging_enabled.py
  backend/apps/trading/migrations/0015_add_layer_retracement_to_order.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/models/orders.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/order.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/trading.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/index.ts
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/src/pages/TradingTaskDetailPage.tsx
  frontend/src/types/backtestTask.ts
  frontend/src/types/tradingTask.ts
  frontend/src/utils/fetchAllTrades.ts
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): add hedging support and trend panel
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0016_add_planned_exit_price_to_position.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/order.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/backtest/detail/TaskExecutionsTab.tsx
  frontend/src/components/common/DataTable.tsx
  frontend/src/components/configurations/ParametersForm.tsx
  frontend/src/components/tasks/actions/RestartOptionsDialog.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/components/trading/detail/TradingTaskConfigTab.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/src/theme/darkTheme.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): correct snowball counter lot sizing and add retracement column
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): correct snowball counter lot sizing and add retracemen… (#87)
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest
