Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

mypy:
  name: mypy
  entry: bash -c 'cd backend && source .venv/bin/activate && mypy .'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Added S3 support and fixed a bug in the soft limit time parameters.
  backend/accounts/migrations/0022_add_s3_data_source_settings.py
  backend/accounts/models.py
  backend/accounts/serializers.py
  backend/tests/test_backtest_task.py
  backend/tests/test_backtest_task_execution.py
  backend/trading/backtest_task_models.py
  backend/trading/backtest_task_views.py
  backend/trading/enums.py
  backend/trading/historical_data_loader.py
  backend/trading/migrations/0024_change_default_data_source_to_athena.py
  backend/trading/services/task_executor.py
  backend/trading/tasks.py
  backend/trading_system/celery.py
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/forms/DataSourceSelector.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/types/common.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Remove task route for backtest
  backend/trading_system/celery.py
Due: mypy, django-check, django-migrations-check, pytest

Fixed an issue where backtest task failed with credential expiration.
  backend/pyproject.toml
  backend/trading/historical_data_loader.py
Due: mypy, django-check, django-migrations-check, pytest

Enable trading task.
  backend/trading/trading_task_views.py
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/detail/LiveTaskTab.tsx
  frontend/src/components/trading/detail/OpenPositionsTable.tsx
  frontend/src/components/trading/detail/RecentTradesLog.tsx
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Fixed missing parameter in the strategy configuration.
  backend/tests/test_backtest_task_execution.py
  backend/tests/test_serializers.py
  backend/trading/backtest_task_serializers.py
  backend/trading/services/task_executor.py
  backend/trading/trading_task_serializers.py
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/test/BacktestTaskForm.test.tsx
  frontend/src/types/backtestTask.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Fixed an issue where trading task failed to load oanda account.
  backend/trading/services/task_executor.py
  backend/trading/tasks.py
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/pages/TradingTaskDetailPage.tsx
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Added model classes for database query results.
  backend/tests/test_floor_strategy.py
  backend/tests/test_market_data_streamer.py
  backend/trading/backtest_engine.py
  backend/trading/base_strategy.py
  backend/trading/market_data_streamer.py
  backend/trading/parallel_strategy_executor.py
  backend/trading/result_models.py
  backend/trading/services/task_executor.py
  backend/trading/tasks.py
Due: mypy, django-check, django-migrations-check, pytest

fix(market-data): use correct OANDA streaming hostname.
  backend/accounts/jwt_utils.py
  backend/trading/market_data_streamer.py
Due: mypy, django-check, django-migrations-check, pytest

fix(tests): update expected hostnames for streaming tests
  backend/tests/test_market_data_streamer.py
Due: mypy, django-check, django-migrations-check, pytest

Added refresh button and improved status sync between frontend and backend.
  backend/trading/enums.py
  backend/trading/services/notifications.py
  backend/trading/services/task_executor.py
  backend/trading/tasks.py
  backend/trading/trading_task_views.py
  frontend/src/components/backtest/BacktestTaskActions.tsx
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/trading/TradingTaskActions.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/TradingTaskDetailPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/src/services/api/tradingTasks.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Fix: Use decrypted API token for OANDA streaming connections
  backend/tests/test_market_data_streamer.py
  backend/tests/test_transaction_streamer.py
  backend/trading/market_data_streamer.py
  backend/trading/transaction_streamer.py
Due: mypy, django-check, django-migrations-check, pytest

Fixed failing tests due to the api token changes.
  backend/tests/test_pnl_updates.py
Due: mypy, django-check, django-migrations-check, pytest

Feat: Replace pause/resume with 2 stop options for trading tasks
  frontend/src/components/tasks/actions/StopOptionsDialog.tsx
  frontend/src/components/tasks/actions/TaskActionButtons.tsx
  frontend/src/components/trading/TradingTaskActions.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/pages/TradingTaskDetailPage.tsx
Due: eslint, typescript-check, vitest

Removed Zed configuration.
  .zed/settings.json
Due: none

Fix: Refresh executions list after start/stop/rerun actions
  frontend/src/hooks/useTaskExecutions.ts
  frontend/src/pages/BacktestTaskDetailPage.tsx
  frontend/src/pages/TradingTaskDetailPage.tsx
Due: eslint, typescript-check, vitest

Fix: Hide progress percentage for trading task executions
  frontend/src/components/backtest/detail/TaskExecutionsTab.tsx
Due: eslint, typescript-check, vitest

Fix: Handle new OANDA API message types for streaming
  backend/trading/market_data_streamer.py
Due: mypy, django-check, django-migrations-check, pytest

Add logs at INFO level only every 1000 ticks stored, with a cleaner message.
  backend/trading/tasks.py
Due: mypy, django-check, django-migrations-check, pytest

Fix: Status mismatch blocks stopping trading task.
  frontend/src/pages/BacktestTaskDetailPage.tsx
  frontend/src/pages/TradingTaskDetailPage.tsx
Due: eslint, typescript-check, vitest

Added trading_task field to Order/Position models and updated floor strategy + task executor to save orders and execute them via OANDA API.
  backend/trading/base_strategy.py
  backend/trading/floor_strategy.py
  backend/trading/ma_crossover_strategy.py
  backend/trading/migrations/0025_add_trading_task_to_order_and_position.py
  backend/trading/models.py
  backend/trading/position_views.py
  backend/trading/serializers.py
  backend/trading/tasks.py
  frontend/src/components/trading/detail/OpenPositionsTable.tsx
  frontend/src/components/trading/detail/RecentTradesLog.tsx
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Fixed a critical syntax error and added comprehensive logging to help debug trading task execution.
  backend/trading/floor_strategy.py
  backend/trading/services/task_executor.py
  backend/trading/tasks.py
  frontend/src/components/backtest/detail/TaskExecutionsTab.tsx
  frontend/src/hooks/useTaskExecutions.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Path conditions:
  mypy: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
