Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

fix(strategy): correct snowball counter lot sizing and add retracemen… (#87)
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): unify trade markers to always show LONG/SHORT direction
  docs/strategies/ja/snowball.md
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/hooks/useTaskPositions.ts
Due: eslint, typescript-check, vitest

fix(frontend): unify trade markers to always show LONG/SHORT direction (#89)
  docs/strategies/ja/snowball.md
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/hooks/useTaskPositions.ts
Due: eslint, typescript-check, vitest

feat(trading): add planned_exit_price_formula to strategy events and improve mobile UI
  backend/apps/trading/order.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): add planned_exit_price_formula to strategy events and … (#96)
  backend/apps/trading/order.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): use pure arithmetic in planned_exit_price_formula
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix(executions): reject non-UUID execution IDs in _parse_run_id
  backend/apps/trading/services/executions.py
Due: ty, django-check, django-migrations-check, pytest

fix(trading): use pure arithmetic in planned_exit_price_formula (#98)
  backend/apps/trading/services/executions.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

feat(frontend): improve task positions table and execution history display
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/TaskExecutionsTab.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

feat:improve market task logging (#100)
  backend/apps/market/tasks/publisher.py
  backend/apps/market/tasks/subscriber.py
  backend/apps/market/tasks/supervisor.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/TaskExecutionsTab.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(frontend): improve task detail UI for positions and price ticker
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
Due: eslint, typescript-check, vitest

feat(frontend): improve task detail UI for positions and price ticker (#101)
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
Due: eslint, typescript-check, vitest

fix(ci): handle existing branch and PR in version-bump workflow
  .github/workflows/version-bump.yml
Due: none

fix(ci): handle existing branch and PR in version-bump workflow (#102)
  .github/workflows/version-bump.yml
Due: none

fix(orders): change broker_order_id from CharField(255) to TextField
  backend/apps/trading/migrations/0021_alter_order_broker_order_id_to_textfield.py
  backend/apps/trading/models/orders.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(orders): change broker_order_id from CharField(255) to TextField (#104)
  backend/apps/trading/migrations/0021_alter_order_broker_order_id_to_textfield.py
  backend/apps/trading/models/orders.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(logging): improve production log readability
  backend/apps/accounts/middlewares/logging.py
  backend/config/settings.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): increase polling intervals to 10s to prevent 429 rate-limiting
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskEvents.ts
  frontend/src/hooks/useTaskLogs.ts
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/hooks/useTaskTrades.ts
Due: eslint, typescript-check, vitest

fix(logging): improve production logging (#106)
  backend/apps/accounts/middlewares/logging.py
  backend/config/settings.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskEvents.ts
  frontend/src/hooks/useTaskLogs.ts
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/hooks/useTaskTrades.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): respect column order and sort order when copying table data
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/hooks/useTableRowSelection.ts
  frontend/src/utils/tableCopyUtils.ts
Due: eslint, typescript-check, vitest

fix(frontend): respect column order and sort order when copying table… (#108)
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/hooks/useTableRowSelection.ts
  frontend/src/utils/tableCopyUtils.ts
Due: eslint, typescript-check, vitest

refactor(metrics): replace tick-level writes with minute-level aggregation
  backend/apps/trading/management/commands/repair_trading_schema.py
  backend/apps/trading/migrations/0022_simplify_metrics_model.py
  backend/apps/trading/migrations/0023_alter_metrics_execution_id_alter_metrics_metrics_and_more.py
  backend/apps/trading/models/metrics.py
  backend/apps/trading/services/metrics_aggregator.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  backend/tests/e2e/trading/test_backtest_tasks_api.py
  backend/tests/e2e/trading/test_trading_tasks_api.py
  backend/tests/integration/trading/test_executor_integration.py
  backend/tests/integration/trading/test_mixins_integration.py
  docs/openapi.json
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/utils/fetchMetrics.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest
