Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: read version from pyproject.toml instead of importlib.metadata
  .github/workflows/version-bump.yml
  backend/apps/health/services/health.py
  backend/config/settings.py
  backend/config/version.py
Due: ty, django-check, django-migrations-check, pytest

fix: read version from pyproject.toml instead of importlib.metadata (#29)
  .github/workflows/version-bump.yml
  backend/apps/health/services/health.py
  backend/config/settings.py
  backend/config/version.py
Due: ty, django-check, django-migrations-check, pytest

fix: celery task race condition
  backend/apps/trading/tasks/__init__.py
  backend/apps/trading/tasks/recovery.py
  backend/config/celery.py
  backend/config/settings.py
  backend/tests/unit/trading/tasks/test_recovery.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/charts/EquityOHLCChart.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/utils/fetchAllTrades.ts
  nginx/conf.d/default.conf
  nginx/conf.d/dev.conf
  nginx/conf.d/prod.conf
  nginx/nginx.conf
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: celery task race condition (#31)
  backend/apps/trading/tasks/__init__.py
  backend/apps/trading/tasks/recovery.py
  backend/config/celery.py
  backend/config/settings.py
  backend/tests/unit/trading/tasks/test_recovery.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/charts/EquityOHLCChart.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/utils/fetchAllTrades.ts
  nginx/conf.d/default.conf
  nginx/conf.d/dev.conf
  nginx/conf.d/prod.conf
  nginx/nginx.conf
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: add migration
  backend/apps/trading/migrations/0004_rename_table_metric_snapshots_to_metrics.py
  backend/apps/trading/migrations/0005_remove_metrics_unique_metric_snapshot_timestamp_and_more.py
Due: ty, django-check, django-migrations-check, pytest

fix: Decimal serialization issue
  backend/apps/trading/tasks/executor.py
Due: ty, django-check, django-migrations-check, pytest

feat: add task summary API and migrate detail views to unified summary hook
  backend/apps/trading/migrations/0002_add_tick_bid_ask_to_execution_state.py
  backend/apps/trading/models/state.py
  backend/apps/trading/serializers/summary.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/strategy/StrategyStatus.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/types/strategy.ts
  frontend/tests/unit/pages/BacktestTaskDetail.test.tsx
  frontend/tests/unit/pages/TradingTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: replace useOverviewPnl with useTaskSummary in shared task components
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
Due: eslint, typescript-check, vitest

chore: add tsc -b && vite build step
  .pre-commit-config.yaml
Due: none

feat: add task summary API and migrate detail views to unified summary (#35)
  .pre-commit-config.yaml
  backend/apps/trading/migrations/0002_add_tick_bid_ask_to_execution_state.py
  backend/apps/trading/models/state.py
  backend/apps/trading/serializers/summary.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/strategy/StrategyStatus.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/types/strategy.ts
  frontend/tests/unit/pages/BacktestTaskDetail.test.tsx
  frontend/tests/unit/pages/TradingTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: rating limit
  backend/apps/market/views/candles.py
  backend/apps/market/views/oanda.py
  backend/apps/market/views/orders.py
  backend/apps/market/views/positions.py
  backend/apps/market/views/ticks.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/ticks.py
  backend/apps/trading/views/trading.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/api/retryInterceptor.ts
  frontend/src/main.tsx
  nginx/conf.d/default.conf
  nginx/conf.d/dev.conf
  nginx/conf.d/prod.conf
  nginx/nginx.conf
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: failed tests
  backend/tests/unit/trading/views/test_backtest_viewset.py
  backend/tests/unit/trading/views/test_trading_viewset.py
Due: ty, django-check, django-migrations-check, pytest

Fix/rating limit (#37)
  backend/apps/market/views/candles.py
  backend/apps/market/views/oanda.py
  backend/apps/market/views/orders.py
  backend/apps/market/views/positions.py
  backend/apps/market/views/ticks.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/ticks.py
  backend/apps/trading/views/trading.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  backend/tests/unit/trading/views/test_trading_viewset.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/api/retryInterceptor.ts
  frontend/src/main.tsx
  nginx/conf.d/default.conf
  nginx/conf.d/dev.conf
  nginx/conf.d/prod.conf
  nginx/nginx.conf
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: reduce API rate limit pressure and lazy-load chart data
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  backend/apps/accounts/views/login.py
  backend/apps/health/views.py
  backend/apps/market/views/candles.py
  backend/apps/trading/views/pagination.py
  backend/config/settings.py
  backend/tests/unit/trading/views/test_pagination.py
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/hooks/useTaskExecutions.ts
  frontend/src/utils/fetchAllTrades.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: reduce API rate limit pressure and lazy-load chart data (#38)
  .github/workflows/build-and-deploy.yml
  .github/workflows/test.yml
  backend/apps/accounts/views/login.py
  backend/apps/health/views.py
  backend/apps/market/views/candles.py
  backend/apps/trading/views/pagination.py
  backend/config/settings.py
  backend/tests/unit/trading/views/test_pagination.py
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/hooks/useTaskExecutions.ts
  frontend/src/utils/fetchAllTrades.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: resolve merge conflicts - update metrics endpoint url_path and test assertions
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/integration/trading/test_serializers_integration.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

chore: checkpoint current trading refactor state
  backend/apps/market/signals/backtest.py
  backend/apps/trading/dataclasses/__init__.py
  backend/apps/trading/dataclasses/execution.py
  backend/apps/trading/engine.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0003_fix_trading_task_status_check_constraint.py
  backend/apps/trading/models/configs.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/strategies/base.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/strategies/registry.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/tasks/state.py
  backend/apps/trading/tasks/trading.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/strategies.py
  backend/config/settings.py
  backend/config/settings_test.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/integration/accounts/middlewares/test_limiter.py
  backend/tests/integration/factories.py
  backend/tests/integration/trading/test_executor_integration.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/events/test_event_handler.py
  backend/tests/unit/trading/strategies/test_registry.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/tests/unit/trading/tasks/test_service.py
  backend/tests/unit/trading/tasks/test_state.py
  backend/tests/unit/trading/tasks/test_trading_task.py
  backend/tests/unit/trading/test_engine.py
  backend/uv.lock
Due: ty, django-check, django-migrations-check, pytest

feat(trading): implement run-scoped execution resilience refactor
  backend/apps/market/services/oanda.py
  backend/apps/trading/dataclasses/context.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/logging.py
  backend/apps/trading/migrations/0004_rename_table_metric_snapshots_to_metrics.py
  backend/apps/trading/migrations/0006_merge_20260225_1300.py
  backend/apps/trading/migrations/0007_remove_executionstate_unique_task_celery_execution_state_and_more.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/models/events.py
  backend/apps/trading/models/logs.py
  backend/apps/trading/models/metrics.py
  backend/apps/trading/models/orders.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/models/state.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/order.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/services/unrealized_pnl.py
  backend/apps/trading/signals.py
  backend/apps/trading/strategies/base.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/recovery.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/tasks/source.py
  backend/apps/trading/tasks/state.py
  backend/apps/trading/tasks/trading.py
  backend/apps/trading/views/mixins.py
  backend/tests/unit/trading/dataclasses/test_context.py
  backend/tests/unit/trading/tasks/test_backtest_task.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/tests/unit/trading/test_order_service.py
  backend/tests/unit/trading/test_signals.py
Due: ty, django-check, django-migrations-check, pytest

Fix API schema accuracy and clean project diagnostics
  backend/apps/accounts/views/login.py
  backend/apps/accounts/views/registration.py
  backend/apps/accounts/views/settings.py
  backend/apps/accounts/views/verification.py
  backend/apps/health/views.py
  backend/apps/market/services/oanda.py
  backend/apps/market/views/health.py
  backend/apps/market/views/oanda.py
  backend/apps/market/views/orders.py
  backend/apps/market/views/positions.py
  backend/apps/trading/migrations/0008_tradingevent_is_processed_tradingevent_processed_at_and_more.py
  backend/apps/trading/models/events.py
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/strategies/base.py
  backend/apps/trading/strategies/registry.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/recovery.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/tasks/source.py
  backend/apps/trading/tasks/state.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/configs.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/strategies.py
  backend/apps/trading/views/trading.py
  backend/config/settings.py
  backend/tests/integration/factories.py
  backend/tests/unit/trading/events/test_event_handler.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/tests/unit/trading/tasks/test_recovery.py
  backend/tests/unit/trading/tasks/test_service.py
  docs/openapi.json
  frontend/src/components/dashboard/ChartOverlayControls.tsx
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/dashboard/chartOverlaySettings.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/pages/DashboardPage.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Harden strategy serializer errors and format reconciliation service
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/services/reconciliation.py
  backend/tests/unit/trading/serializers/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

feat(api): migrate task execution APIs to execution_run_id
  .pre-commit-config.yaml
  backend/apps/accounts/views/settings.py
  backend/apps/market/views/candles.py
  backend/apps/trading/management/commands/repair_trading_schema.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/serializers/execution.py
  backend/apps/trading/serializers/task.py
  backend/apps/trading/services/executions.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/trading.py
  backend/config/settings.py
  backend/tests/integration/market/views/test_candles.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/market/views/test_candles_view.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskEvents.ts
  frontend/src/hooks/useTaskLogs.ts
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/tradingTask.ts
  frontend/src/utils/fetchAllTrades.ts
  frontend/src/utils/fetchMetrics.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(api): migrate task execution APIs to execution_run_id (#44)
  .pre-commit-config.yaml
  backend/apps/accounts/views/settings.py
  backend/apps/market/views/candles.py
  backend/apps/trading/management/commands/repair_trading_schema.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/serializers/execution.py
  backend/apps/trading/serializers/task.py
  backend/apps/trading/services/executions.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/trading.py
  backend/config/settings.py
  backend/tests/integration/market/views/test_candles.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/market/views/test_candles_view.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskEvents.ts
  frontend/src/hooks/useTaskLogs.ts
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/tradingTask.ts
  frontend/src/utils/fetchAllTrades.ts
  frontend/src/utils/fetchMetrics.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: enforce frontend npm ci and override blocked react-is
  .pre-commit-config.yaml
  backend/uv.lock
  docs/openapi.json
  frontend/package-lock.json
  frontend/package.json
Due: django-check, django-migrations-check

fix: pin semver for typescript-estree to avoid blocked tarball
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: pin tldts packages away from blocked 7.0.19
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: enforce frontend npm ci and override blocked react-is (#46)
  .pre-commit-config.yaml
  backend/uv.lock
  docs/openapi.json
  frontend/package-lock.json
  frontend/package.json
Due: django-check, django-migrations-check

Fix task service lifecycle typing and portable nullability migrations
  backend/apps/trading/migrations/0011_relax_orders_direction_nullability.py
  backend/apps/trading/migrations/0012_relax_trades_direction_nullability.py
  backend/apps/trading/tasks/service.py
Due: ty, django-check, django-migrations-check, pytest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
