Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

fix(shrink): preserve last position in layer when upper layers have multiple
  backend/apps/trading/strategies/snowball/models.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  docs/openapi.json
  docs/snowball-strategy-sequences.md
Due: ty, django-check, django-migrations-check, pytest

fix(shrink): preserve last position in layer when upper layers have multiple (#329)
  backend/apps/trading/strategies/snowball/models.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  docs/openapi.json
  docs/snowball-strategy-sequences.md
Due: ty, django-check, django-migrations-check, pytest

feat(trading): add comprehensive metrics tracking and task data throttling
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/throttles.py
  backend/config/settings_parts/rest.py
  backend/config/settings_test.py
  backend/tests/unit/trading/tasks/test_executor.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): add task_data throttle rate to E2E settings
  backend/apps/trading/views/throttles.py
  backend/config/settings_e2e.py
Due: ty, django-check, django-migrations-check, pytest

feat(trading): add comprehensive metrics tracking and task data throt… (#331)
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/throttles.py
  backend/config/settings_e2e.py
  backend/config/settings_parts/rest.py
  backend/config/settings_test.py
  backend/tests/unit/trading/tasks/test_executor.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): improve metrics chart X-axis tick spacing and labels
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): unify line charts and add grid lines to metrics tab
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

feat(frontend): show currency unit on balance and PnL metric charts
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

feat(frontend): add metrics toolbar for granularity and time range control
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskMetrics.ts
Due: eslint, typescript-check, vitest

Feat/enhanced metrics and throttling (#333)
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskMetrics.ts
Due: eslint, typescript-check, vitest

fix: align config detail view with edit form layout and add i18n
  backend/apps/trading/schemas/snowball.json
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/types/strategy.ts
Due: django-check, django-migrations-check, eslint, typescript-check, vitest

fix: align config detail view with edit form layout and add i18n (#334)
  backend/apps/trading/schemas/snowball.json
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/types/strategy.ts
Due: django-check, django-migrations-check, eslint, typescript-check, vitest

fix(strategy): include margin_ratio in strategy-events trade query
  backend/apps/trading/services/strategy_cycles.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(metrics): improve chart axis formatting and auto-granularity
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/utils/autoGranularity.ts
Due: eslint, typescript-check, vitest

fix: strategy trade margin label (#336)
  backend/apps/trading/services/strategy_cycles.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/utils/autoGranularity.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(metrics): remove currency suffix from Y-axis tick labels
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(metrics): use account currency instead of instrument quote currency
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

fix: metrics yaxis label truncation (#338)
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

fix(metrics): set yAxis width to prevent tick label truncation
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(metrics): set yAxis width to prevent tick label truncation (#340)
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(trading): correct layer and retracement numbering
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0035_alter_position_layer_index_and_more.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/strategies/floor/events.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/events/test_event_base_serialization.py
  backend/tests/unit/trading/events/test_event_handler.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): correct layer and retracement numbering (#342)
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0035_alter_position_layer_index_and_more.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/strategies/floor/events.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/events/test_event_base_serialization.py
  backend/tests/unit/trading/events/test_event_handler.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): reduce excessive left padding on metrics chart Y-axis
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): reduce excessive left padding on metrics chart Y-axis (#344)
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): halve Y-axis left margin on metrics charts
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): halve Y-axis left margin on metrics charts (#346)
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(trading): clear all execution data on task restart
  backend/apps/trading/tasks/lifecycle_writes.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(snowball): add stop-loss support and UI improvements
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0036_add_stop_loss_price_to_position.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/serializers/events.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/calculators.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/TradingTaskFormPage.tsx
  frontend/src/types/execution.ts
  frontend/src/types/strategy.ts
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: restart clear all execution data (#348)
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0036_add_stop_loss_price_to_position.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/serializers/events.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/calculators.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/lifecycle_writes.py
  backend/uv.lock
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/TradingTaskFormPage.tsx
  frontend/src/types/execution.ts
  frontend/src/types/strategy.ts
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): config detail dependsOn, backtest hedging toggle, compact layout
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
Due: eslint, typescript-check, vitest

chore: release main (#349) (#350)
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
Due: eslint, typescript-check, vitest

fix(backtest): drain stale ticks from Redis channel on restart
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/lifecycle_writes.py
  backend/apps/trading/tasks/source.py
  backend/tests/unit/trading/tasks/test_backtest_task.py
Due: ty, django-check, django-migrations-check, pytest

fix(backtest): drain stale ticks from Redis channel on restart (#352)
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/lifecycle_writes.py
  backend/apps/trading/tasks/source.py
  backend/tests/unit/trading/tasks/test_backtest_task.py
Due: ty, django-check, django-migrations-check, pytest

feat(metrics): fix Y-axis label truncation, align chart axes, add OHLC chart
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

fix(metrics): use generous fixed Y-axis width to eliminate label truncation
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

feat: metrics tab improvements (#354)
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

feat(metrics): move OHLC chart into grid and add chart reorder buttons
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/hooks/useMetricsOrder.ts
Due: eslint, typescript-check, vitest

feat: metrics ohlc width and reorder (#357)
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/hooks/useMetricsOrder.ts
Due: eslint, typescript-check, vitest

feat(metrics): OHLC first by default, drag-to-reorder, fix chart height
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/hooks/useMetricsOrder.ts
Due: eslint, typescript-check, vitest

feat(metrics): OHLC first by default, drag-to-reorder, fix chart height (#359)
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/hooks/useMetricsOrder.ts
Due: eslint, typescript-check, vitest
