Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Path conditions:
  mypy: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$

Removed max layer constraints.
  backend/debug_backtest.py
  backend/trading/floor_strategy.py
  frontend/src/components/configurations/ConfigurationForm.tsx
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Removed frontend constraint for max layer size.
  frontend/src/components/configurations/ConfigurationForm.tsx
Due: eslint, typescript-check, vitest

Rename scale-in with retracement.
  backend/debug_backtest.py
  backend/trading/floor_strategy.py
  frontend/src/components/backtest/BacktestChart.tsx
  frontend/src/components/backtest/FloorLayerLog.tsx
  frontend/src/components/chart/FinancialChart.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/settings/StrategyDefaults.tsx
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/settings.json
  frontend/src/test/StrategyConfigForm.test.tsx
  frontend/src/test/StrategyDefaults.test.tsx
  frontend/src/test/StrategySelector.test.tsx
  frontend/src/utils/chartMarkers.ts
  frontend/src/utils/floorStrategyMarkers.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Updated Backend Models and Database Schema
  backend/tests/test_backtest_models.py
  backend/tests/test_trading_models.py
  backend/trading/backtest_models.py
  backend/trading/migrations/0021_add_sell_at_completion_to_backtest.py
  backend/trading/migrations/0022_add_sell_on_stop_to_trading_task.py
  backend/trading/trading_task_models.py
  frontend/src/test/StrategyConfigForm.test.tsx
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Updated Backend Serializers and API
  backend/tests/test_serializers.py
  backend/trading/serializers.py
  backend/trading/trading_task_serializers.py
Due: mypy, django-check, django-migrations-check, pytest

Enhanced Floor Strategy Event Logging
  backend/tests/test_floor_strategy.py
  backend/trading/floor_strategy.py
Due: mypy, django-check, django-migrations-check, pytest

Fixed Floor Strategy Logic - Retracement Reset
  backend/tests/test_floor_strategy.py
  backend/trading/floor_strategy.py
Due: mypy, django-check, django-migrations-check, pytest

Fixed Floor Strategy Logic - Unit Size Reset
  backend/tests/test_floor_strategy.py
  backend/trading/floor_strategy.py
Due: mypy, django-check, django-migrations-check, pytest

Fixed Floor Strategy Logic - Direction Recalculation
  backend/tests/test_floor_strategy.py
  backend/trading/floor_strategy.py
Due: mypy, django-check, django-migrations-check, pytest

Implemented Backtest Completion Position Closure
  backend/tests/test_backtest_completion.py
  backend/trading/backtest_engine.py
  backend/trading/tasks.py
Due: mypy, django-check, django-migrations-check, pytest

Implemented Trading Task Stop Position Closure
  backend/tests/test_trading_task_stop.py
  backend/trading/services/task_executor.py
Due: mypy, django-check, django-migrations-check, pytest

Updated Frontend Type Definitions
  frontend/src/components/backtest/detail/TaskResultsTab.test.tsx
  frontend/src/components/trading/detail/TaskPerformanceTab.test.tsx
  frontend/src/test/types.test.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/execution.ts
  frontend/src/types/index.ts
  frontend/src/types/tradingTask.ts
Due: eslint, typescript-check, vitest

Enhanced FloorLayerLog Component
  frontend/src/components/backtest/FloorLayerLog.tsx
  frontend/src/test/FloorLayerLog.property.test.tsx
  frontend/src/test/FloorLayerLog.test.tsx
Due: eslint, typescript-check, vitest

Updated Backtest Configuration Form
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/test/BacktestTaskForm.test.tsx
Due: eslint, typescript-check, vitest

Updated Trading Task Configuration Form
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/test/TradingTaskForm.test.tsx
Due: eslint, typescript-check, vitest

Fixed an issue where build is failed due to the new optional property.
  frontend/src/pages/BacktestTaskFormPage.tsx
Due: eslint, typescript-check, vitest

Set overview as a default tab in task defail page.
  frontend/src/pages/BacktestTaskDetailPage.tsx
Due: eslint, typescript-check, vitest

Enhanced x-axis and y-axis of equity curve chart.
  .vscode/settings.json
  frontend/src/components/tasks/charts/EquityCurveChart.tsx
Due: eslint, typescript-check, vitest

Improved Y-axis of equity curve chart.
  frontend/src/components/tasks/charts/EquityCurveChart.tsx
Due: eslint, typescript-check, vitest

fix: resolve flake8, mypy, and pylint errors in floor strategy and task executor
  .vscode/settings.json
  backend/tests/test_backtest_task_execution.py
  backend/tests/test_strategy_event_logging.py
  backend/trading/floor_strategy.py
  backend/trading/services/task_executor.py
  frontend/src/components/backtest/FloorLayerLog.tsx
  frontend/src/components/backtest/detail/TaskResultsTab.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/test/FloorLayerLog.property.test.tsx
  frontend/src/test/FloorLayerLog.test.tsx
  frontend/src/types/strategy.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat: add backtest export button and realized/unrealized P&L metrics to results tab
  backend/trading/backtest_task_views.py
  backend/trading/execution_models.py
  backend/trading/migrations/0023_add_realized_unrealized_pnl.py
  backend/trading/serializers.py
  backend/trading/urls.py
  frontend/src/components/backtest/FloorLayerLog.tsx
  frontend/src/components/backtest/detail/TaskResultsTab.tsx
  frontend/src/components/tasks/charts/MetricsGrid.tsx
  frontend/src/services/api/backtestTasks.ts
  frontend/src/types/execution.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(floor-strategy): reset retracement flag when price continues moving against position
  backend/trading/floor_strategy.py
Due: mypy, django-check, django-migrations-check, pytest

refactor: refresh trading config and frontend tests
  .env.example
  .github/copilot-instructions.md
  .github/scripts/deploy.sh
  .github/scripts/validate-workflow.sh
  .github/secrets.template.env
  .vscode/extensions.json
  .vscode/settings.json
  backend/tests/test_floor_strategy.py
  backend/trading/apps.py
  backend/trading/floor_strategy.py
  backend/trading_system/settings.py
  backend/trading_system/settings_test.py
  docs/ENVIRONMENT_VARIABLES.md
  docs/backend/EMAIL_WHITELIST.md
  docs/docker/DOCKER_ARCHITECTURE.md
  docs/docker/DOCKER_SETUP.md
  docs/github/QUICK_REFERENCE.md
  docs/github/README.md
  docs/github/SETUP_GUIDE.md
  docs/nginx/NGINX_CONFIGURATION.md
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/FloorLayerLog.tsx
  frontend/src/components/chart/FinancialChart.test.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/settings/AccountManagement.tsx
  frontend/src/components/tasks/forms/InstrumentSelector.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/test/AccountManagement.test.tsx
  frontend/src/test/BacktestTaskForm.test.tsx
  frontend/src/test/ErrorHandling.test.tsx
  frontend/src/test/FloorLayerLog.property.test.tsx
  frontend/src/test/FloorLayerLog.test.tsx
  frontend/src/test/LoginPage.test.tsx
  frontend/src/test/OrderHistoryPage.test.tsx
  scripts/README.md
  scripts/backup.sh
  scripts/deploy.sh
  scripts/restore.sh
  scripts/service.sh
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

CI deploy script streamlined, backend pytest now runs in parallel via pytest‑xdist, and frontend tests use Vitest thread pool with faster RegisterPage interactions.
  .github/workflows/build-and-deploy.yml
  backend/pyproject.toml
  backend/uv.lock
  frontend/package.json
  frontend/src/test/RegisterPage.test.tsx
Due: django-check, django-migrations-check, eslint, typescript-check, vitest

Adjusted floor strategy layer unlocks and clean up unused docs/scripts
  backend/README.md
  backend/debug_backtest.py
  backend/pyproject.toml
  backend/scripts/import_athena_data.py
  backend/tests/test_floor_strategy.py
  backend/trading/floor_strategy.py
  backend/trading/serializers.py
  frontend/README.md
  frontend/SETUP.md
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/test/LoginPage.test.tsx
  frontend/src/test/OrderHistoryPage.test.tsx
  frontend/src/test/RegisterPage.test.tsx
  frontend/src/test/StrategyConfigForm.test.tsx
  nginx/RATE_LIMITING.md
  nginx/test-config.sh
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Removed unnecessary retracement detection logs.
  .vscode/settings.json
  backend/main.py
  backend/tests/test_strategy_event_logging.py
  backend/trading/services/task_executor.py
  backend/uv.lock
Due: mypy, django-check, django-migrations-check, pytest

Cleanup type issues for the modules under accounts package.
  .vscode/settings.json
  backend/accounts/admin_user_views.py
  backend/accounts/email_utils.py
  backend/accounts/jwt_utils.py
  backend/accounts/middleware.py
  backend/accounts/models.py
  backend/accounts/oanda_validator.py
  backend/accounts/permissions.py
  backend/pyproject.toml
  backend/tests/test_jwt_middleware.py
  backend/uv.lock
Due: mypy, django-check, django-migrations-check, pytest

Fix an issue where retracement start with zero and decreased wrongly after closing positions.
  backend/tests/test_strategy_event_logging.py
  backend/trading/backtest_engine.py
  backend/trading/floor_strategy.py
  backend/trading/services/task_executor.py
  frontend/src/components/backtest/FloorLayerLog.tsx
  frontend/src/test/FloorLayerLog.property.test.tsx
  frontend/src/test/FloorLayerLog.test.tsx
  frontend/src/test/types.test.ts
  frontend/src/types/execution.ts
  frontend/src/utils/floorStrategyMarkers.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Fixed an issue where position close didn't decreased retracement properly.
  .vscode/settings.json
  backend/pyproject.toml
  backend/trading/floor_strategy.py
Due: mypy, django-check, django-migrations-check, pytest

Updated the FloorLayerLog component to merge all layers into a single table with a "Layer" column.
  .github/copilot-instructions.md
  frontend/src/components/backtest/FloorLayerLog.tsx
  frontend/src/test/AddAccountModal.test.tsx
  frontend/src/test/BacktestTaskForm.test.tsx
  frontend/src/test/FloorLayerLog.property.test.tsx
  frontend/src/test/FloorLayerLog.test.tsx
  frontend/src/test/OrderHistoryPage.test.tsx
  frontend/src/test/RegisterPage.test.tsx
Due: eslint, typescript-check, vitest

Updated the marker creation logic with the new styles.
  frontend/src/components/backtest/BacktestChart.tsx
  frontend/src/utils/floorStrategyMarkers.ts
Due: eslint, typescript-check, vitest

Fixed an issue where multiple initial position were made incorrectly.
  backend/trading/backtest_engine.py
  backend/trading/floor_strategy.py
  backend/trading/services/task_executor.py
Due: mypy, django-check, django-migrations-check, pytest

FIxed backtest status and progress mismatches.
  backend/trading/backtest_task_views.py
  backend/trading/services/state_synchronizer.py
  backend/trading/trading_task_views.py
  frontend/src/services/polling/TaskPollingService.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest
