Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

fix(ui): apply mobile improvements to trading task, hide trend tab, fix OANDA page header
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/pages/OandaAccountsPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
Due: eslint, typescript-check, vitest

fix(chart): resolve missing X-axis labels for H4/D candles in non-UTC timezones
  frontend/src/utils/adaptiveTimeScalePlugin.ts
Due: eslint, typescript-check, vitest

feat: mobile page improvements (#254)
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/OandaAccountsPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/src/utils/adaptiveTimeScalePlugin.ts
Due: eslint, typescript-check, vitest

fix(ui): fix OANDA nav label, hide trend tab on mobile, center chart loading spinner
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendChartSection.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendViewModel.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/tests/unit/components/TaskTrendPanel.test.tsx
Due: eslint, typescript-check, vitest

fix(strategy): compact cycle sidebar header into single inline row
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix: mobile nav trend tab chart loading (#256)
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendChartSection.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendViewModel.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/tests/unit/components/TaskTrendPanel.test.tsx
Due: eslint, typescript-check, vitest

fix(trend): default chart to M1 with 1-day view centered on current tick
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChartModel.ts
Due: eslint, typescript-check, vitest

fix(trend): default chart to M1 with 1-day view centered on current tick (#258)
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChartModel.ts
Due: eslint, typescript-check, vitest

refactor: remove trend tab and all related components
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendAlerts.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendChartSection.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendPositionsTable.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendSectionHeader.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendTablesSection.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendToolbar.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendTradesTable.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/shared.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useResizableColumns.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChartModel.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendDerivedData.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendMarkers.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendOrchestration.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendPanelState.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendPositionsTable.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendTableModel.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendTableState.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendTradesTable.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendViewModel.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskSelectionNavigation.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/src/services/api/taskResources.ts
  frontend/tests/fixtures/taskTrendViewModel.ts
  frontend/tests/integration/hooks/useTaskTrendReplayData.test.ts
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
  frontend/tests/unit/components/TaskTrendPanel.test.tsx
Due: eslint, typescript-check, vitest

refactor: remove trend tab and all related components (#260)
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendAlerts.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendChartSection.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendPositionsTable.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendSectionHeader.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendTablesSection.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendToolbar.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendTradesTable.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/shared.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useResizableColumns.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChartModel.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendDerivedData.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendMarkers.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendOrchestration.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendPanelState.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendPositionsTable.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendTableModel.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendTableState.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendTradesTable.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendViewModel.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskSelectionNavigation.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/src/services/api/taskResources.ts
  frontend/tests/fixtures/taskTrendViewModel.ts
  frontend/tests/integration/hooks/useTaskTrendReplayData.test.ts
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
  frontend/tests/unit/components/TaskTrendPanel.test.tsx
Due: eslint, typescript-check, vitest

feat: add margin/ATR display, always show progress, reduce mobile padding
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/summary.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): reduce mobile content bottom margin to 8px
  frontend/src/components/layout/AppLayout.tsx
Due: eslint, typescript-check, vitest

refactor: remove events tab from backtest and trading task detail
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/EventDetailDialog.tsx
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskEvents.ts
  frontend/src/hooks/useWindowedTaskMarkers.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/tests/e2e/backtest-tasks.spec.ts
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
Due: eslint, typescript-check, vitest

feat: margin atr display progress padding (#262)
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/summary.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/tasks/detail/EventDetailDialog.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskEvents.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/hooks/useWindowedTaskMarkers.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/tests/e2e/backtest-tasks.spec.ts
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): show lifecycle button on closed trades in strategy tab
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(ui): show lifecycle button on closed trades in strategy tab (#264)
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(strategy): filter weighted avg by current layer in snowball counter TP
  backend/apps/trading/strategies/snowball/strategy.py
  backend/test_db.sqlite3-journal
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

refactor(strategy): rename freeze_count to layer_index and add_count to layer_retracement_count
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix: snowball weighted avg layer rename (#266)
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/test_db.sqlite3-journal
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(ui): add confirmation dialogs for all task actions
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/actions/TaskActionConfirmDialog.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskActionDialog.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
  frontend/tests/unit/components/taskCardActions.test.tsx
Due: eslint, typescript-check, vitest

feat(ui): add confirmation dialogs for all task actions (#268)
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/actions/TaskActionConfirmDialog.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskActionDialog.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
  frontend/tests/unit/components/taskCardActions.test.tsx
Due: eslint, typescript-check, vitest

feat(strategy): create layer initial entries when advancing to new layers
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

style(strategy): truncate price, volatility, margin_ratio to 3 decimal places
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

feat: layer initial entries (#270)
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(ui): prevent cycle list from stretching to fill full sidebar height
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

docs: update branch lifecycle rules in AGENTS.md
  AGENTS.md
Due: none

fix(strategy): prevent counter add on same tick as counter TP close
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

docs(strategy): rewrite snowball spec to match implementation
  docs/strategies/ja/snowball.md
Due: none

fix(strategy): align lot sizes and layer initial TP with expected table
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/strategies/ja/snowball.md
Due: ty, django-check, django-migrations-check, pytest

fix: snowball strategy logic (#272)
  AGENTS.md
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/uv.lock
  docs/openapi.json
  docs/strategies/ja/snowball.md
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(tasks): enable viewing historical execution data from overview tab
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
Due: eslint, typescript-check, vitest

fix(strategy): stop auto-polling on strategy tab and improve OHLC reliability
  frontend/src/api/apiClient.ts
  frontend/src/api/retryInterceptor.ts
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(executions): display metrics correctly for running executions
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
Due: eslint, typescript-check, vitest

fix(snowball): use layer initial entry for first counter add distance
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat: historical execution viewer (#274)
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
  frontend/src/api/apiClient.ts
  frontend/src/api/retryInterceptor.ts
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(snowball): introduce Layer/Slot model for retracement seats
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

docs(snowball): update strategy documentation for Layer/Slot model
  docs/strategies/ja/snowball.md
Due: none

refactor: snowball layer retracement model (#276)
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
  docs/strategies/ja/snowball.md
Due: ty, django-check, django-migrations-check, pytest

chore(snowball): change refill_up_to default from 0 to 2
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix: preserve execution param on tab change and reduce active metrics cache TTL
  backend/apps/trading/services/executions.py
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest
