Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

refactor(metrics): replace tick-level writes with minute-level aggreg… (#110)
  backend/apps/trading/management/commands/repair_trading_schema.py
  backend/apps/trading/migrations/0022_simplify_metrics_model.py
  backend/apps/trading/migrations/0023_alter_metrics_execution_id_alter_metrics_metrics_and_more.py
  backend/apps/trading/models/metrics.py
  backend/apps/trading/services/metrics_aggregator.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  backend/tests/e2e/trading/test_backtest_tasks_api.py
  backend/tests/e2e/trading/test_trading_tasks_api.py
  backend/tests/integration/trading/test_executor_integration.py
  backend/tests/integration/trading/test_mixins_integration.py
  docs/openapi.json
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/utils/fetchMetrics.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(security): remove unused UserSession.last_activity field
  backend/apps/accounts/admin.py
  backend/apps/accounts/middlewares/security.py
  backend/apps/accounts/migrations/0004_remove_usersession_last_activity.py
  backend/apps/accounts/models/security.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(security): remove unused UserSession.last_activity field (#112)
  backend/apps/accounts/admin.py
  backend/apps/accounts/middlewares/security.py
  backend/apps/accounts/migrations/0004_remove_usersession_last_activity.py
  backend/apps/accounts/models/security.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(metrics): resolve overlay display and add viewport-driven fetching
  backend/apps/trading/views/mixins.py
  docs/openapi.json
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/utils/fetchMetrics.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(metrics): resolve overlay display and add viewport-driven fetching (#114)
  backend/apps/trading/views/mixins.py
  docs/openapi.json
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/utils/fetchMetrics.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): make migration 0019 resilient to missing constraints
  backend/apps/trading/migrations/0019_remove_executionstate_unique_task_run_execution_state_and_more.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(chart): stabilize windowed candle loading
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  docs/openapi.json
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/hooks/useWindowedCandles.ts
  frontend/src/hooks/useWindowedTaskMarkers.ts
  frontend/src/utils/windowedRanges.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(types): resolve chart pre-push errors
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/hooks/useWindowedTaskMarkers.ts
Due: eslint, typescript-check, vitest

fix(chart): trading migration 0019 (#116)
  backend/apps/trading/migrations/0019_remove_executionstate_unique_task_run_execution_state_and_more.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/hooks/useWindowedCandles.ts
  frontend/src/hooks/useWindowedTaskMarkers.ts
  frontend/src/utils/windowedRanges.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(chart): align market gap detection and time axis labels
  docs/openapi.json
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/hooks/useWindowedCandles.ts
  frontend/src/utils/adaptiveTimeScalePlugin.ts
  frontend/src/utils/marketClosedMarkers.ts
  frontend/tests/integration/hooks/useWindowedCandles.test.ts
  frontend/tests/unit/utils/marketClosedMarkers.test.ts
Due: eslint, typescript-check, vitest

fix(chart): align market gap detection and time axis labels (#118)
  docs/openapi.json
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/hooks/useWindowedCandles.ts
  frontend/src/utils/adaptiveTimeScalePlugin.ts
  frontend/src/utils/marketClosedMarkers.ts
  frontend/tests/integration/hooks/useWindowedCandles.test.ts
  frontend/tests/unit/utils/marketClosedMarkers.test.ts
Due: eslint, typescript-check, vitest

fix(chart): fixed an issue where OHLC chart doesn't follow the progress bar properly.
  backend/apps/accounts/api_logging.py
  backend/apps/accounts/middlewares/logging.py
  backend/apps/accounts/request_logging.py
  backend/config/settings.py
  backend/tests/unit/accounts/middlewares/test_logging.py
  backend/tests/unit/accounts/test_api_logging.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/actions/BacktestStopDialog.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/tests/integration/hooks/useTaskPositions.test.ts
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(chart): fixed an issue where OHLC chart doesn't follow the progre… (#120)
  backend/apps/accounts/api_logging.py
  backend/apps/accounts/middlewares/logging.py
  backend/apps/accounts/request_logging.py
  backend/config/settings.py
  backend/tests/unit/accounts/middlewares/test_logging.py
  backend/tests/unit/accounts/test_api_logging.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/actions/BacktestStopDialog.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/tests/integration/hooks/useTaskPositions.test.ts
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): speed up task status updates
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

fix(frontend): guard task poll refetch calls
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

Fix/task status refresh latency (#122)
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

test(frontend): remove orphaned utility tests
  frontend/tests/unit/utils/focusManagement.test.ts
  frontend/tests/unit/utils/formatters.test.ts
Due: eslint, typescript-check, vitest

fix(trading): restore task creation defaults
  backend/apps/trading/enums.py
  backend/apps/trading/migrations/0024_restore_trading_mode_field.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/views/trading.py
  backend/tests/unit/trading/serializers/test_trading.py
  backend/tests/unit/trading/views/test_trading_viewset.py
  docs/openapi.json
  frontend/src/components/trading/TradingTaskForm.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(frontend): extract shared task detail views
  backend/uv.lock
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/tasks/detail/TaskDetailTabs.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/useOptimisticTaskStatus.ts
Due: django-check, django-migrations-check, eslint, typescript-check, vitest

refactor(frontend): split task trend panel helpers
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendSectionHeader.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendToolbar.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/shared.ts
Due: eslint, typescript-check, vitest

refactor(frontend): split trend panel tables and sync execution state
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendPositionsTable.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendTradesTable.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/shared.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

refactor(frontend): split trend panel table state
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useResizableColumns.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendPositionsTable.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendTradesTable.ts
  frontend/src/hooks/useWindowedTaskMarkers.ts
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

refactor(frontend): modularize task trend panel
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendPositionsTable.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendTradesTable.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/shared.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendPositionsTable.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendTradesTable.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useWindowedCandles.ts
Due: eslint, typescript-check, vitest

fix(trading): trading task creation (#125)
  backend/apps/trading/enums.py
  backend/apps/trading/migrations/0024_restore_trading_mode_field.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/views/trading.py
  backend/tests/unit/trading/serializers/test_trading.py
  backend/tests/unit/trading/views/test_trading_viewset.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/tasks/detail/TaskDetailTabs.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendPositionsTable.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendSectionHeader.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendToolbar.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendTradesTable.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/shared.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useResizableColumns.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendPositionsTable.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendTradesTable.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/useOptimisticTaskStatus.ts
  frontend/src/hooks/useWindowedCandles.ts
  frontend/src/hooks/useWindowedTaskMarkers.ts
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

perf(frontend): reduce task trend panel polling
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useDocumentVisibility.ts
  frontend/src/hooks/useWindowedTaskMarkers.ts
  frontend/src/utils/fetchMetrics.ts
  frontend/src/utils/retryAfter.ts
Due: eslint, typescript-check, vitest

fix(frontend): reduce task trend panel polling (#127)
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useDocumentVisibility.ts
  frontend/src/hooks/useWindowedTaskMarkers.ts
  frontend/src/utils/fetchMetrics.ts
  frontend/src/utils/retryAfter.ts
Due: eslint, typescript-check, vitest

fix(frontend): improve task trend panel initial load
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/hooks/useWindowedCandles.ts
Due: eslint, typescript-check, vitest

fix(frontend): improve task trend panel initial load (#129)
  frontend/src/components/tasks/detail/TaskTrendPanel.tsx
  frontend/src/hooks/useWindowedCandles.ts
Due: eslint, typescript-check, vitest
