Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(trading): refresh active execution snapshots (#714)
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/fx_rates.py
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/trading/services/test_fx_rates.py
  backend/tests/unit/trading/services/test_summary.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(trading): add task display currency selection
  backend/apps/trading/migrations/0061_tradingtask_display_currency.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/money.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/services/task_currencies.py
  backend/apps/trading/services/task_money_context.py
  backend/tests/unit/trading/services/test_task_currencies.py
  backend/tests/unit/trading/services/test_task_money_context.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/forms/CurrencyCodeField.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/pages/TradingTaskFormPage.tsx
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/money.ts
  frontend/src/types/strategyVisualization.ts
  frontend/src/types/tradingTask.ts
  frontend/src/utils/instruments.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): add task display currency selection (#716)
  backend/apps/trading/migrations/0061_tradingtask_display_currency.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/money.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/services/task_currencies.py
  backend/apps/trading/services/task_money_context.py
  backend/tests/unit/trading/services/test_task_currencies.py
  backend/tests/unit/trading/services/test_task_money_context.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/forms/CurrencyCodeField.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/pages/TradingTaskFormPage.tsx
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/money.ts
  frontend/src/types/strategyVisualization.ts
  frontend/src/types/tradingTask.ts
  frontend/src/utils/instruments.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

perf(backtest): cache snowball state during replay
  backend/apps/trading/strategies/snowball/execution_binding.py
  backend/apps/trading/strategies/snowball/tick_phases.py
  backend/apps/trading/tasks/execution_state_store.py
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/trading/strategies/snowball/test_tick_phases.py
  backend/tests/unit/trading/tasks/test_execution_state_store.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

perf(backtest): reduce publisher hot path overhead
  backend/apps/market/services/backtest_ticks.py
  backend/apps/market/tasks/backtest.py
  backend/config/settings.py
  backend/tests/integration/market/tasks/test_backtest.py
  backend/tests/integration/market/tasks/test_backtest_stream_publisher.py
Due: ty, django-check, django-migrations-check, pytest

feat(snowball): add same-pips rebuild modes
  backend/apps/trading/migrations/0056_backfill_snowball_rebuild_take_profit.py
  backend/apps/trading/migrations/0062_remove_snowball_rebuild_take_profit_recovery.py
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/pricing.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  docs/strategies/ja/snowball.md
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/utils/strategySchemaDependsOn.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix/backtest snowball performance (#718)
  backend/apps/market/services/backtest_ticks.py
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/migrations/0056_backfill_snowball_rebuild_take_profit.py
  backend/apps/trading/migrations/0062_remove_snowball_rebuild_take_profit_recovery.py
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/execution_binding.py
  backend/apps/trading/strategies/snowball/pricing.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/apps/trading/strategies/snowball/tick_phases.py
  backend/apps/trading/tasks/execution_state_store.py
  backend/apps/trading/tasks/executor.py
  backend/config/settings.py
  backend/tests/integration/market/tasks/test_backtest.py
  backend/tests/integration/market/tasks/test_backtest_stream_publisher.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_tick_phases.py
  backend/tests/unit/trading/tasks/test_execution_state_store.py
  backend/uv.lock
  docs/openapi.json
  docs/strategies/ja/snowball.md
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/utils/strategySchemaDependsOn.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): update task configuration displays
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/configurations/ConfigurationCard.test.tsx
  frontend/src/components/configurations/ConfigurationCard.tsx
  frontend/src/components/tasks/detail/ExecutionStatusSummary.test.tsx
  frontend/src/components/tasks/detail/ExecutionStatusSummary.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/configuration.json
  frontend/src/i18n/locales/ja/configuration.json
  frontend/src/utils/strategyConfigRevision.ts
  frontend/tests/unit/utils/strategyConfigRevision.test.ts
Due: eslint, typescript-check, vitest

perf(backtest): reduce snowball replay overhead
  backend/apps/trading/services/metrics_aggregator.py
  backend/apps/trading/strategies/snowball/decision_trace.py
  backend/apps/trading/strategies/snowball/invariants.py
  backend/tests/unit/trading/strategies/snowball/test_production_scenarios.py
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): update task configuration displays (#719)
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/configurations/ConfigurationCard.test.tsx
  frontend/src/components/configurations/ConfigurationCard.tsx
  frontend/src/components/tasks/detail/ExecutionStatusSummary.test.tsx
  frontend/src/components/tasks/detail/ExecutionStatusSummary.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/configuration.json
  frontend/src/i18n/locales/ja/configuration.json
  frontend/src/utils/strategyConfigRevision.ts
  frontend/tests/unit/utils/strategyConfigRevision.test.ts
Due: eslint, typescript-check, vitest

fix: reduce snowball replay overhead (#721)
  backend/apps/trading/services/metrics_aggregator.py
  backend/apps/trading/strategies/snowball/decision_trace.py
  backend/apps/trading/strategies/snowball/invariants.py
  backend/tests/unit/trading/strategies/snowball/test_production_scenarios.py
Due: ty, django-check, django-migrations-check, pytest

feat(metrics): add task throughput and return charts
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/tasks/execution_tick_processing.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/services/test_runtime_metrics.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/ExecutionStatusSummary.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(metrics): add task throughput and return charts (#722)
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/tasks/execution_tick_processing.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/services/test_runtime_metrics.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/ExecutionStatusSummary.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(frontend): add settings comparison workflows
  frontend/src/App.tsx
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/common/Breadcrumbs.tsx
  frontend/src/components/comparison/SettingsComparisonTable.tsx
  frontend/src/components/configurations/ConfigurationCard.tsx
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/BacktestTasksComparePage.tsx
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/ConfigurationComparePage.tsx
  frontend/src/pages/ConfigurationsPage.tsx
  frontend/src/pages/TradingTasksComparePage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/src/utils/compareParams.ts
Due: eslint, typescript-check, vitest

feat(frontend): add bulk list actions
  frontend/src/components/common/BulkActionToolbar.tsx
  frontend/src/components/common/BulkDeleteDialog.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/configuration.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/configuration.json
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/ConfigurationsPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
Due: eslint, typescript-check, vitest

fix(frontend): hide bulk toolbar on empty lists
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/ConfigurationsPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
Due: eslint, typescript-check, vitest

feat(frontend): add settings comparison workflows (#724)
  frontend/src/App.tsx
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/common/Breadcrumbs.tsx
  frontend/src/components/common/BulkActionToolbar.tsx
  frontend/src/components/common/BulkDeleteDialog.tsx
  frontend/src/components/comparison/SettingsComparisonTable.tsx
  frontend/src/components/configurations/ConfigurationCard.tsx
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/configuration.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/configuration.json
  frontend/src/pages/BacktestTasksComparePage.tsx
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/ConfigurationComparePage.tsx
  frontend/src/pages/ConfigurationsPage.tsx
  frontend/src/pages/TradingTasksComparePage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/src/utils/compareParams.ts
Due: eslint, typescript-check, vitest

fix(trading): keep idle tasks parked on stale ticks
  backend/apps/trading/tasks/execution_tick_processing.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(ui): improve responsive task list controls
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/common/BulkActionToolbar.tsx
  frontend/src/components/common/ColumnCountControl.tsx
  frontend/src/components/common/TaskControlButtons.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/configurations/ConfigurationCard.test.tsx
  frontend/src/components/configurations/ConfigurationCard.tsx
  frontend/src/components/dashboard/ActiveTasksWidget.tsx
  frontend/src/components/dashboard/QuickActionsWidget.tsx
  frontend/src/components/dashboard/RecentBacktestsWidget.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/hooks/useGridColumnCount.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/ConfigurationsPage.tsx
  frontend/src/pages/OandaAccountsPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/src/utils/gridColumns.ts
  frontend/src/utils/strategyConfigRevision.ts
Due: eslint, typescript-check, vitest

fix(trading): keep idle tasks parked on stale ticks (#726)
  backend/apps/trading/tasks/execution_tick_processing.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

test(e2e): update dashboard mobile snapshot
  frontend/tests/e2e/visual.spec.ts-snapshots/dashboard-mobile-chromium-linux.png
Due: none

feat(ui): improve responsive task list controls (#727)
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/common/BulkActionToolbar.tsx
  frontend/src/components/common/ColumnCountControl.tsx
  frontend/src/components/common/TaskControlButtons.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/configurations/ConfigurationCard.test.tsx
  frontend/src/components/configurations/ConfigurationCard.tsx
  frontend/src/components/dashboard/ActiveTasksWidget.tsx
  frontend/src/components/dashboard/QuickActionsWidget.tsx
  frontend/src/components/dashboard/RecentBacktestsWidget.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/hooks/useGridColumnCount.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/ConfigurationsPage.tsx
  frontend/src/pages/OandaAccountsPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/src/utils/gridColumns.ts
  frontend/src/utils/strategyConfigRevision.ts
  frontend/tests/e2e/visual.spec.ts-snapshots/dashboard-mobile-chromium-linux.png
Due: eslint, typescript-check, vitest

fix(trading): retry benign resume reconciliation conflicts
  backend/apps/trading/services/reconciliation.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest

fix(layout): prevent mobile nav covering content
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/ResponsiveNavigation.tsx
  frontend/src/components/layout/constants.ts
Due: eslint, typescript-check, vitest

fix(ui): refine mobile task and strategy controls
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(ui): adjust strategy tab mobile controls
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/tests/integration/components/TaskMetricsTab.test.tsx
Due: eslint, typescript-check, vitest

fix(ui): separate task detail header controls
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
Due: eslint, typescript-check, vitest

fix(ui): align task card selection headers
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
Due: eslint, typescript-check, vitest

fix(ui): show task information in two columns
  frontend/src/components/tasks/detail/TaskSettingsList.tsx
Due: eslint, typescript-check, vitest

fix(ui): align strategy refresh icon
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(ui): shrink strategy type task card chips
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
Due: eslint, typescript-check, vitest

fix(ui): make task info grid responsive
  frontend/src/components/tasks/detail/TaskSettingsList.tsx
Due: eslint, typescript-check, vitest

fix: trading idle resume reconciliation (#729)
  backend/apps/trading/services/reconciliation.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/ResponsiveNavigation.tsx
  frontend/src/components/layout/constants.ts
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/TaskSettingsList.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/tests/integration/components/TaskMetricsTab.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): constrain task config chip width
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
Due: eslint, typescript-check, vitest

fix(ui): constrain task config chip width (#731)
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
Due: eslint, typescript-check, vitest

feat(trading): import initial positions
  backend/apps/trading/migrations/0063_trading_initial_positions.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/services/backtest_initial_positions.py
  backend/apps/trading/services/initial_position_imports.py
  backend/apps/trading/tasks/execution_collaborators.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/urls.py
  backend/apps/trading/views/initial_positions.py
  backend/tests/unit/trading/services/test_backtest_initial_positions.py
  backend/tests/unit/trading/services/test_initial_position_imports.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/api/types.ts
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/TradingTaskFormPage.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/services/api/index.ts
  frontend/src/services/api/initialPositionImports.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/tradingTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): mark initial position seeds
  backend/apps/trading/migrations/0064_initial_position_seed_flags.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/services/backtest_initial_positions.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/task_activity.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/integration/trading/test_strategy_cycles_pagination.py
  backend/tests/unit/trading/services/test_backtest_initial_positions.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/taskPositionCopyExtractors.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): allow importing from current task
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(i18n): localize initial position import labels
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
