Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

fix(frontend): fill metrics chart surface
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): refine task detail table display
  frontend/src/components/common/DataTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
Due: eslint, typescript-check, vitest

fix(frontend): fill metrics chart surface (#600)
  frontend/src/components/common/DataTable.tsx
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
Due: eslint, typescript-check, vitest

fix(frontend): prevent tiny metrics chart surface
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): expand metrics chart wrapper
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix: metrics chart surface height (#602)
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): expand metrics charts
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): expand metrics charts (#604)
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

feat(security): harden auth and task updates
  backend/apps/accounts/auth.py
  backend/apps/accounts/utils/cookies.py
  backend/apps/accounts/views/login.py
  backend/apps/accounts/views/logout.py
  backend/apps/accounts/views/refresh.py
  backend/apps/trading/logging.py
  backend/apps/trading/urls.py
  backend/apps/trading/views/__init__.py
  backend/apps/trading/views/stream.py
  backend/config/settings.py
  backend/config/settings_parts/security.py
  backend/tests/unit/accounts/test_auth.py
  backend/tests/unit/accounts/views/test_login.py
  backend/tests/unit/accounts/views/test_refresh.py
  backend/tests/unit/trading/test_logging.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/api/apiClient.ts
  frontend/src/api/apiConfig.test.ts
  frontend/src/api/apiConfig.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useBacktestTasks.ts
  frontend/src/hooks/useTaskEventStream.ts
  frontend/src/hooks/useTradingTasks.ts
  frontend/src/utils/authEvents.test.ts
  frontend/tests/integration/contexts/AuthContext.test.tsx
  frontend/tests/integration/hooks/useTaskPositions.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(ui): expand charts and config dependencies
  backend/apps/trading/schemas/snowball.json
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/utils/strategySchemaDependsOn.ts
  frontend/tests/unit/utils/strategySchemaDependsOn.test.ts
Due: django-check, django-migrations-check, eslint, typescript-check, vitest

refactor: separate task query and execution responsibilities
  backend/apps/market/services/oanda.py
  backend/apps/market/services/oanda_transport.py
  backend/apps/trading/migrations/0054_add_position_query_indexes.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/services/task_activity.py
  backend/apps/trading/services/task_metrics.py
  backend/apps/trading/strategies/snowball/grid_policy.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/event_processor.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  frontend/src/hooks/useIncrementalTaskResource.ts
  frontend/src/hooks/useTaskPositions.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor: tighten task activity boundaries
  .pre-commit-config.yaml
  backend/apps/trading/services/task_activity.py
  backend/apps/trading/urls.py
  backend/apps/trading/views/__init__.py
  backend/apps/trading/views/mixins.py
  backend/scripts/check_openapi_schema.py
  backend/tests/unit/market/services/test_oanda_transport.py
  backend/tests/unit/trading/services/test_task_activity.py
  backend/tests/unit/trading/services/test_task_metrics.py
  backend/tests/unit/trading/strategies/snowball/test_grid_policy.py
  backend/tests/unit/trading/tasks/test_event_processor.py
  backend/tests/unit/trading/views/test_mixins_query_usage.py
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): validate resumed config updates
  backend/apps/trading/models/configs.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/resume_config.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/tests/unit/trading/services/test_resume_config.py
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/tasks/forms/backtestTaskPayload.ts
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/pages/ConfigurationFormPage.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): centralize task policy and config audit
  backend/apps/trading/models/configs.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/services/executions.py
  backend/apps/trading/services/resume_config.py
  backend/apps/trading/services/task_audit.py
  backend/apps/trading/services/task_policy.py
  backend/apps/trading/strategies/snowball/compatibility.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskActions.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/common/TaskControlButtons.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskActions.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/pages/TradingTaskFormPage.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/common.ts
  frontend/src/types/execution.ts
  frontend/src/types/tradingTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): tighten metrics chart layout
  .env.example
  backend/config/settings_parts/security.py
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): allow paused backtest replay edits
  backend/apps/trading/services/task_policy.py
  backend/tests/unit/trading/tasks/test_service.py
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): type update form initial data
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
Due: eslint, typescript-check, vitest

fix(security): address GHAS CodeQL findings
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/services/task_policy.py
  backend/apps/trading/views/stream.py
  backend/tests/unit/trading/serializers/test_backtest.py
  backend/tests/unit/trading/serializers/test_trading.py
  backend/tests/unit/trading/views/test_stream.py
  frontend/src/hooks/useTaskEventStream.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor: separate task responsibilities
  backend/apps/market/services/oanda.py
  backend/apps/market/services/oanda_types.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/models/base.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/strategies/snowball/parameters.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/diagnostics.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/market_idle.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/useTaskPositionViewMode.ts
  frontend/src/components/tasks/forms/TaskReviewErrors.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(strategy): add strategy extension hooks
  backend/apps/trading/engine.py
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/services/resume_config.py
  backend/apps/trading/services/strategy_grid_state.py
  backend/apps/trading/strategies/base.py
  backend/apps/trading/strategies/registry.py
  backend/apps/trading/strategies/snowball/reconciliation.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/strategies/snowball/visualization.py
  backend/tests/unit/trading/test_engine.py
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/types/strategy.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(strategy): expose strategy capabilities
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/base.py
  backend/apps/trading/strategies/registry.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/strategies/snowball/visualization.py
  backend/apps/trading/views/strategies.py
  backend/tests/unit/trading/services/test_strategy_grid_state.py
  backend/tests/unit/trading/strategies/test_registry.py
  docs/adding-strategy.md
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/services/api/strategies.ts
  frontend/src/types/strategy.ts
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(strategy): add custom strategy skeleton
  backend/apps/trading/enums.py
  backend/apps/trading/migrations/0055_alter_position_layer_index_alter_trade_layer_index.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/order.py
  backend/apps/trading/schemas/custom.json
  backend/apps/trading/strategies/custom/__init__.py
  backend/apps/trading/strategies/custom/strategy.py
  backend/tests/unit/trading/strategies/test_registry.py
  backend/tests/unit/trading/views/test_strategies.py
  docs/adding-strategy.md
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/types/execution.ts
  frontend/src/types/strategy.ts
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(strategy): add adaptive net strategy
  .vscode/launch.json
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/enums.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/schemas/adaptive_net.json
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/adaptive_net/__init__.py
  backend/apps/trading/strategies/adaptive_net/metrics.py
  backend/apps/trading/strategies/adaptive_net/models.py
  backend/apps/trading/strategies/adaptive_net/sizing.py
  backend/apps/trading/strategies/adaptive_net/strategy.py
  backend/apps/trading/tasks/source.py
  backend/apps/trading/views/stream.py
  backend/tests/integration/market/tasks/test_backtest_stream_publisher.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/AdaptiveNetStrategyPanel.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useColumnConfig.ts
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(adaptive-net): add time-windowed decisions
  backend/apps/trading/schemas/adaptive_net.json
  backend/apps/trading/strategies/adaptive_net/models.py
  backend/apps/trading/strategies/adaptive_net/strategy.py
  frontend/src/components/tasks/detail/strategy/AdaptiveNetStrategyPanel.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(snowball): honor rebuilt tp targets
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

test(trading): update strategy type expectations
  backend/tests/unit/trading/test_enums.py
Due: ty, django-check, django-migrations-check, pytest

fix: snowball rebuild tp and cycle accounting (#610)
  .vscode/launch.json
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/enums.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/schemas/adaptive_net.json
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/adaptive_net/__init__.py
  backend/apps/trading/strategies/adaptive_net/metrics.py
  backend/apps/trading/strategies/adaptive_net/models.py
  backend/apps/trading/strategies/adaptive_net/sizing.py
  backend/apps/trading/strategies/adaptive_net/strategy.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/source.py
  backend/apps/trading/views/stream.py
  backend/tests/integration/market/tasks/test_backtest_stream_publisher.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/tests/unit/trading/test_enums.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/AdaptiveNetStrategyPanel.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useColumnConfig.ts
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(security): harden auth and task updates
  backend/apps/trading/views/stream.py
  frontend/src/hooks/useTaskEventStream.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(security): address GHAS CodeQL findings
  backend/apps/trading/views/stream.py
Due: ty, django-check, django-migrations-check, pytest

feat(trading): improve config workflow safeguards
  backend/apps/trading/services/resume_config.py
  backend/apps/trading/strategies/snowball/compatibility.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/views/task_base.py
  backend/tests/e2e/trading/test_backtest_tasks_api.py
  backend/tests/e2e/trading/test_trading_tasks_api.py
  backend/tests/unit/trading/serializers/test_strategy.py
  backend/tests/unit/trading/services/test_task_policy.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  docs/task-configuration-workflow.md
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/tasks/forms/executionEditGuards.test.ts
  frontend/src/components/tasks/forms/executionEditGuards.ts
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

chore: sync backend release artifacts
  backend/uv.lock
  docs/openapi.json
Due: django-check, django-migrations-check

fix(trading): align task stream snapshot metadata
  backend/apps/trading/views/stream.py
  backend/tests/unit/trading/views/test_stream.py
  frontend/CHANGELOG.md
Due: ty, django-check, django-migrations-check, pytest

feat: security observability updates (#612)
  backend/apps/trading/services/resume_config.py
  backend/apps/trading/strategies/snowball/compatibility.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/views/stream.py
  backend/apps/trading/views/task_base.py
  backend/tests/e2e/trading/test_backtest_tasks_api.py
  backend/tests/e2e/trading/test_trading_tasks_api.py
  backend/tests/unit/trading/serializers/test_strategy.py
  backend/tests/unit/trading/services/test_task_policy.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  backend/tests/unit/trading/views/test_stream.py
  backend/uv.lock
  docs/openapi.json
  docs/task-configuration-workflow.md
  frontend/CHANGELOG.md
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/tasks/forms/executionEditGuards.test.ts
  frontend/src/components/tasks/forms/executionEditGuards.ts
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/hooks/useTaskEventStream.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(adaptive-net): chart normalized strategy signals
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/adaptive_net/strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/AdaptiveNetStrategyPanel.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(adaptive-net): chart normalized strategy signals (#614)
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/adaptive_net/strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/AdaptiveNetStrategyPanel.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): stabilize backtest execution
  .env.example
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/stream.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/tests/unit/trading/views/test_stream.py
  docker-compose.prod.yaml
  docs/openapi.json
  nginx/conf.d/default.conf
  nginx/conf.d/dev.conf
  nginx/conf.d/prod.conf
Due: ty, django-check, django-migrations-check, pytest

fix(trading): stabilize backtest execution (#616)
  .env.example
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/stream.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/tests/unit/trading/views/test_stream.py
  docker-compose.prod.yaml
  docs/openapi.json
  nginx/conf.d/default.conf
  nginx/conf.d/dev.conf
  nginx/conf.d/prod.conf
Due: ty, django-check, django-migrations-check, pytest

fix(api): avoid task polling throttle storms
  backend/apps/trading/views/task_base.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  docs/openapi.json
  frontend/src/api/client.test.ts
  frontend/src/api/client.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest
