Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: allow execution status tile ordering
  frontend/src/components/common/ItemOrderDialog.tsx
  frontend/src/components/tasks/detail/ExecutionStatusSummary.tsx
  frontend/src/hooks/useItemOrder.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/tests/unit/hooks/useItemOrder.test.ts
Due: eslint, typescript-check, vitest

feat: refine task detail controls and snowball docs
  backend/apps/trading/services/task_activity.py
  backend/apps/trading/views/query_params.py
  backend/tests/unit/trading/services/test_task_activity.py
  backend/tests/unit/trading/views/test_query_params.py
  docs/openapi.json
  docs/strategies/ja/snowball.md
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/tasks/detail/ExecutionStatusSummary.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/useTaskLogs.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/configuration.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/configuration.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): accept OANDA-style granularity tokens in metrics API
  backend/apps/trading/services/strategy_data_common.py
  backend/tests/unit/trading/services/test_strategy_data_common.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): accept OANDA-style granularity tokens in metrics API (#630)
  backend/apps/trading/services/strategy_data_common.py
  backend/tests/unit/trading/services/test_strategy_data_common.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

perf(trading): push metrics pagination into SQL and tighten mobile chart layout
  backend/apps/trading/services/strategy_data.py
  backend/apps/trading/services/strategy_data_common.py
  backend/apps/trading/services/strategy_metrics.py
  docs/openapi.json
  frontend/src/components/common/LazyTabPanel.tsx
  frontend/src/components/common/TableFilterBar.tsx
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/hooks/useTaskMetrics.ts
  frontend/tests/unit/hooks/useTaskMetrics.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): rename taskDetailTabs helper to avoid filename case clash
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/taskDetailTabsConfig.test.ts
  frontend/src/components/tasks/detail/taskDetailTabsConfig.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

perf: metrics api pagination and mobile layout (#632)
  backend/apps/trading/services/strategy_data.py
  backend/apps/trading/services/strategy_data_common.py
  backend/apps/trading/services/strategy_metrics.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/common/LazyTabPanel.tsx
  frontend/src/components/common/TableFilterBar.tsx
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/taskDetailTabsConfig.test.ts
  frontend/src/components/tasks/detail/taskDetailTabsConfig.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTaskMetrics.ts
  frontend/tests/unit/hooks/useTaskMetrics.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): backfill snowball rebuild take profit config
  backend/apps/trading/migrations/0056_backfill_snowball_rebuild_take_profit.py
Due: ty, django-check, django-migrations-check, pytest

feat(trading): refine snowball net chart
  backend/apps/trading/services/snowball_net_chart.py
  backend/apps/trading/views/strategy_data_mixin.py
  docs/openapi.json
  docs/strategies/ja/snowball-net.md
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/hooks/useStrategyData.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): add snowball net strategy
  backend/apps/trading/enums.py
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/order.py
  backend/apps/trading/schemas/snowball_net.json
  backend/apps/trading/services/snowball_net_chart.py
  backend/apps/trading/services/strategy_data.py
  backend/apps/trading/services/strategy_snapshot.py
  backend/apps/trading/strategies/snowball_net/__init__.py
  backend/apps/trading/strategies/snowball_net/config.py
  backend/apps/trading/strategies/snowball_net/parameters.py
  backend/apps/trading/strategies/snowball_net/state.py
  backend/apps/trading/strategies/snowball_net/strategy.py
  backend/apps/trading/views/strategy_data_mixin.py
  backend/tests/unit/trading/strategies/snowball_net/__init__.py
  backend/tests/unit/trading/strategies/snowball_net/test_strategy.py
  backend/uv.lock
  docs/openapi.json
  docs/strategies/ja/snowball-net.md
  docs/strategies/ja/snowball.md
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/tasks/detail/taskDetailTabsConfig.test.ts
  frontend/src/components/tasks/detail/taskDetailTabsConfig.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useStrategyData.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): handle D1 snowball net gaps
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
Due: eslint, typescript-check, vitest

feat(trading): enhance snowball net strategy charts
  backend/apps/trading/schemas/snowball_net.json
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/services/snowball_net_chart.py
  backend/apps/trading/strategies/snowball_net/config.py
  backend/apps/trading/strategies/snowball_net/state.py
  backend/apps/trading/strategies/snowball_net/strategy.py
  backend/tests/unit/trading/services/test_snowball_net_chart.py
  backend/tests/unit/trading/strategies/snowball_net/test_strategy.py
  backend/tests/unit/trading/test_enums.py
  docs/openapi.json
  docs/strategies/ja/snowball-net.md
  frontend/src/components/common/ohlcChartOverlays.ts
  frontend/src/components/dashboard/chartOverlaySettings.ts
  frontend/src/components/dashboard/useMarketChartOverlays.ts
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/hooks/useStrategyData.ts
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat: snowball net strategy (#634)
  backend/apps/trading/enums.py
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0056_backfill_snowball_rebuild_take_profit.py
  backend/apps/trading/order.py
  backend/apps/trading/schemas/snowball_net.json
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/services/snowball_net_chart.py
  backend/apps/trading/services/strategy_data.py
  backend/apps/trading/services/strategy_snapshot.py
  backend/apps/trading/strategies/snowball_net/__init__.py
  backend/apps/trading/strategies/snowball_net/config.py
  backend/apps/trading/strategies/snowball_net/parameters.py
  backend/apps/trading/strategies/snowball_net/state.py
  backend/apps/trading/strategies/snowball_net/strategy.py
  backend/apps/trading/views/strategy_data_mixin.py
  backend/tests/unit/trading/services/test_snowball_net_chart.py
  backend/tests/unit/trading/strategies/snowball_net/__init__.py
  backend/tests/unit/trading/strategies/snowball_net/test_strategy.py
  backend/tests/unit/trading/test_enums.py
  backend/uv.lock
  docs/openapi.json
  docs/strategies/ja/snowball-net.md
  docs/strategies/ja/snowball.md
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/common/ohlcChartOverlays.ts
  frontend/src/components/dashboard/chartOverlaySettings.ts
  frontend/src/components/dashboard/useMarketChartOverlays.ts
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/tasks/detail/taskDetailTabsConfig.test.ts
  frontend/src/components/tasks/detail/taskDetailTabsConfig.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useStrategyData.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(snowball): clamp layer initial take profit
  backend/apps/trading/strategies/snowball/pricing.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): clamp layer initial take profit (#636)
  backend/apps/trading/strategies/snowball/pricing.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

feat(strategy): add SnowballNet chart ordering
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/schemas/snowball_net.json
  backend/apps/trading/services/snowball_net_chart.py
  backend/uv.lock
  docs/openapi.json
  docs/strategies/ja/snowball-net.md
  frontend/src/components/common/TableFilterBar.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/strategy.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): smooth task status transitions
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/common/TaskControlButtons.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/taskMutationCache.ts
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/taskStatusTransitions.ts
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useTaskEventStream.ts
  frontend/src/hooks/useTaskMutationFactory.ts
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
Due: eslint, typescript-check, vitest

feat: snowball net chart order UI (#637)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/schemas/snowball_net.json
  backend/apps/trading/services/snowball_net_chart.py
  backend/uv.lock
  docs/openapi.json
  docs/strategies/ja/snowball-net.md
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/common/TableFilterBar.tsx
  frontend/src/components/common/TaskControlButtons.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/taskMutationCache.ts
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/taskStatusTransitions.ts
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useTaskEventStream.ts
  frontend/src/hooks/useTaskMutationFactory.ts
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(snowball): lock net chart and add range controls
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
Due: eslint, typescript-check, vitest

fix(snowball): allow manual net chart granularity
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
Due: eslint, typescript-check, vitest

fix(snowball): restore net chart viewport controls
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(snowball): tidy mobile chart controls
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(snowball): hide mobile chart tooltips
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(snowball): hide mobile current badges
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(snowball): hide mobile line chart badges
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(snowball): reduce mobile line chart whitespace
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(snowball): compact mobile line chart legends
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(snowball): align mobile line chart areas
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix: snowball net chart range (#639)
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
Due: eslint, typescript-check, vitest

chore: support cross-platform pre-commit hooks
  .gitattributes
  .pre-commit-config.yaml
  .vscode/settings.json
  backend/apps/trading/services/strategy_snapshot.py
  backend/apps/trading/tasks/diagnostics.py
  backend/tests/integration/market/signals/test_handlers.py
  backend/tests/unit/market/signals/test_handlers.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/uv.lock
  docs/openapi.json
  scripts/prepush_changed_checks.sh
Due: ty, django-check, django-migrations-check, pytest

chore: support cross-platform pre-commit hooks (#641)
  .gitattributes
  .pre-commit-config.yaml
  .vscode/settings.json
  backend/apps/trading/services/strategy_snapshot.py
  backend/apps/trading/tasks/diagnostics.py
  backend/tests/integration/market/signals/test_handlers.py
  backend/tests/unit/market/signals/test_handlers.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/uv.lock
  docs/openapi.json
  scripts/prepush_changed_checks.sh
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): resolve Safari chart sizing issue across all chart components
  frontend/src/components/dashboard/useMarketChartLifecycle.ts
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/utils/measureContainer.ts
Due: eslint, typescript-check, vitest

fix(frontend): always show all SnowballNet strategy chart panels
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix: allow resume from stopped state for all task types and add safeguards
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/task_base.py
  backend/tests/unit/trading/tasks/test_executor.py
  frontend/src/components/common/TaskControlButtons.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): add PnL and Pips columns to trades table
  backend/apps/trading/serializers/events.py
  backend/apps/trading/services/task_activity.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/hooks/useTaskTrades.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): compact SnowballNet strategy controls and hide redundant metrics tab
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/tasks/detail/taskDetailTabsConfig.test.ts
  frontend/src/components/tasks/detail/taskDetailTabsConfig.ts
Due: eslint, typescript-check, vitest

fix(trading): add diagnostic logging for resume state loading
  backend/apps/trading/management/commands/drain_backtests_for_deploy.py
  backend/apps/trading/management/commands/resume_backtest.py
  backend/apps/trading/tasks/executor.py
Due: ty, django-check, django-migrations-check, pytest

fix: safari chart sizing (#642)
  backend/apps/trading/management/commands/drain_backtests_for_deploy.py
  backend/apps/trading/management/commands/resume_backtest.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/services/task_activity.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/task_base.py
  backend/tests/unit/trading/tasks/test_executor.py
  docs/openapi.json
  frontend/src/components/common/TaskControlButtons.tsx
  frontend/src/components/dashboard/useMarketChartLifecycle.ts
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/taskDetailTabsConfig.test.ts
  frontend/src/components/tasks/detail/taskDetailTabsConfig.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/utils/measureContainer.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): inline custom date range fields into the selector row
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
Due: eslint, typescript-check, vitest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
