Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

feat(frontend): i18n for close reasons and trade types, metrics chart improvements, stop-loss price fix
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(frontend): i18n for close reasons and trade types, metrics chart… (#361)
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): let MUI auto-size Y-axis labels to prevent clipping
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(strategy): swap LONG/SHORT rebuild conditions that were inverted
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): let MUI auto-size Y-axis labels to prevent clipping (#363)
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(strategy): swap LONG/SHORT rebuild conditions that were inverted (#364)
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): dynamically size Y-axis width from actual label lengths
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): dynamically size Y-axis width from actual label lengths (#366)
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(strategy): resolve false close-order violation when SL rebuilds produce coincident TPs
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): resolve false close-order violation when SL rebuilds p… (#368)
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): keep SL-emptied cycles active for rebuild, re-seed when no active cycle
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix: snowball close order violation with sl rebuild (#370)
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): clear pending SL rebuilds when cycle completes via TP or shrink
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(strategy): 3-state cycle lifecycle (active/pending/completed) with reseed config
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/enums.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat: task error lifecycle, emergency toggle, trade_cycle_id bridging
  backend/apps/trading/dataclasses/execution.py
  backend/apps/trading/dataclasses/result.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/executor.py
Due: ty, django-check, django-migrations-check, pytest

fix: add pending_count to all StrategyCyclesSummary defaults
  frontend/src/hooks/taskResourceCache.ts
  frontend/tests/unit/hooks/taskMutationCache.test.ts
Due: eslint, typescript-check, vitest

refactor(strategy): unify cycle completion via grid.is_empty()
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix: snowball sl cycle completion and rebuild cleanup (#372)
  backend/apps/trading/dataclasses/execution.py
  backend/apps/trading/dataclasses/result.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/strategies/snowball/enums.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/hooks/taskResourceCache.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/types/strategyVisualization.ts
  frontend/tests/unit/hooks/taskMutationCache.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(frontend): show Rebuild label for stop-loss rebuilt trades
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

feat(frontend): show Rebuild label for stop-loss rebuilt trades (#374)
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(trading): per-metric Y-axis width and hedging-aware margin calculation
  backend/apps/trading/strategies/floor/strategy.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(backtest): allow end_time on Saturday/Sunday during weekend market close
  backend/apps/market/tasks/backtest.py
Due: ty, django-check, django-migrations-check, pytest

fix(api): include is_rebuild and cycle_id in trades endpoint values()
  backend/apps/trading/views/mixins.py
Due: ty, django-check, django-migrations-check, pytest

fix(api): include is_rebuild, cycle_id, stop_loss_price in trades endpoint
  backend/apps/trading/serializers/events.py
  backend/apps/trading/views/mixins.py
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): improve failed task error message readability
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
Due: eslint, typescript-check, vitest

fix: per metric yaxis width and hedging margin (#376)
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/views/mixins.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): improve failed task error message readability (#377)
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
Due: eslint, typescript-check, vitest

fix(backtest): skip already-processed ticks on resume to prevent duplicate positions
  backend/apps/trading/tasks/executor.py
  backend/test_db.sqlite3-journal
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): force-close counter entries when head TP is reached
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): keep stop-loss closed slots refillable to prevent premature layer addition
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

feat(trading): add RebuildPositionEvent to re-open closed positions in-place
  backend/apps/trading/enums.py
  backend/apps/trading/events/__init__.py
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/test_enums.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

test(snowball): add tick-pattern integration tests with production config
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
Due: ty, django-check, django-migrations-check, pytest

docs(snowball): rewrite strategy documentation with stop-loss/rebuild details
  docs/strategies/ja/snowball.md
Due: none

fix: positions filter by execution (#380)
  backend/apps/trading/enums.py
  backend/apps/trading/events/__init__.py
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/test_db.sqlite3-journal
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/tests/unit/trading/test_enums.py
  docs/openapi.json
  docs/strategies/ja/snowball.md
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): correct cycle status, rebuild cycle assignment, and UI improvements
  backend/apps/trading/events/handler.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): correct cycle status, rebuild cycle assignment, and UI improvements (#382)
  backend/apps/trading/events/handler.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): preserve pending rebuilds when dynamic head hits TP
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): preserve pending rebuilds when dynamic head hits TP (#384)
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(strategy): move SL pending rebuild state to Slot model
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/test_db.sqlite3-journal
  backend/tests/manual/__init__.py
  backend/tests/manual/test_snowball_visual.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/uv.lock
  docs/openapi.json
  docs/strategies/ja/snowball.md
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): enable horizontal scroll on logs table for mobile
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
Due: eslint, typescript-check, vitest
