Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

fix(frontend): enable horizontal scroll on logs table for mobile (#386)
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/test_db.sqlite3-journal
  backend/tests/manual/__init__.py
  backend/tests/manual/test_snowball_visual.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/uv.lock
  docs/openapi.json
  docs/strategies/ja/snowball.md
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): prevent cycle proliferation on TP re-entry
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/CHANGELOG.md
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): prevent cycle proliferation on TP re-entry (#389)
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/CHANGELOG.md
Due: ty, django-check, django-migrations-check, pytest

fix(metrics): convert execution PnL to account currency and add quote currency display
  backend/apps/trading/serializers/execution.py
  backend/apps/trading/services/execution_metrics.py
  docs/openapi.json
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/services/api/contracts.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(metrics): convert execution PnL to account currency and add quote… (#391)
  backend/apps/trading/serializers/execution.py
  backend/apps/trading/services/execution_metrics.py
  docs/openapi.json
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/services/api/contracts.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(metrics): compute total_return directly from converted total_pnl
  backend/apps/trading/services/execution_metrics.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(metrics): compute total_return directly from converted total_pnl (#393)
  backend/apps/trading/services/execution_metrics.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(metrics): align metrics tab PnL with overview tab using quote-currency accumulation
  backend/apps/trading/dataclasses/execution.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/trading/events/test_event_handler.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(metrics): align metrics tab PnL with overview tab using quote-currency accumulation (#395)
  backend/apps/trading/dataclasses/execution.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/trading/events/test_event_handler.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): resolve P&L discrepancy and snowball counter-add stall after stop-loss
  backend/apps/trading/events/handler.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): preserve cycle linkage for rebuild positions
  backend/apps/trading/events/handler.py
Due: ty, django-check, django-migrations-check, pytest

fix: backtest pnl and snowball counter adds (#397)
  backend/apps/trading/events/handler.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): fix weighted-avg TP, lifecycle display, and refactor rebuild handler
  backend/apps/trading/events/handler.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/views/mixins.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): fix weighted-avg TP, lifecycle display, and refactor re… (#399)
  backend/apps/trading/events/handler.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/views/mixins.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): revert cycle ACTIVE-on-pending, add safety check, hide OHLC by default
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): fix dynamic head TP sealing counter slots and deadlocked cycles
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
Due: ty, django-check, django-migrations-check, pytest

refactor(trading): simplify cycle lifecycle to match specification
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
Due: ty, django-check, django-migrations-check, pytest

fix(trading): ensure stop-loss consistency across all strategy paths
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix(trading): refactor cycle lifecycle and stop-loss integration
  backend/apps/trading/events/handler.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): refactor cycle lifecycle and stop-loss integration (#403)
  backend/apps/trading/events/handler.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): resolve rebuild cycle_id misattribution and error exposure
  backend/apps/trading/events/handler.py
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/tasks/executor.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): resolve rebuild cycle_id misattribution and error exposure (#405)
  backend/apps/trading/events/handler.py
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/tasks/executor.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

chore(deps): fix 10 dependabot vulnerabilities
  backend/pyproject.toml
  backend/uv.lock
  docs/openapi.json
  frontend/package-lock.json
  frontend/package.json
Due: django-check, django-migrations-check

chore(deps): fix 10 dependabot vulnerabilities (#407)
  backend/pyproject.toml
  backend/uv.lock
  docs/openapi.json
  frontend/package-lock.json
  frontend/package.json
Due: django-check, django-migrations-check

fix(strategy): include pending-rebuild slots in weighted-avg TP calculation
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): include pending-rebuild slots in weighted-avg TP calcu… (#408)
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

feat(strategy): add reseed_on_grid_exhausted option for cycle re-seeding
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): require all f_max layers in reseed_on_grid_exhausted
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

feat: reseed on all slots pending (#410)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

docs(strategy): rename grid exhausted label to all layers exhausted
  backend/apps/trading/schemas/snowball.json
  backend/uv.lock
  docs/openapi.json
Due: django-check, django-migrations-check

feat(cycles): add realized/unrealized PnL to cycle API and UI
  backend/apps/trading/services/strategy_cycles.py
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): unseal higher slots when a refillable counter is re-opened
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat: add pnl to cycle (#412)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/services/strategy_cycles.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): unseal higher slots when a refillable counter is re-op… (#414)
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): cycle ID filter not triggering data refetch
  frontend/src/hooks/useIncrementalTaskResource.ts
  frontend/src/hooks/useTaskPositions.ts
Due: eslint, typescript-check, vitest

fix(frontend): cycle ID filter not triggering data refetch (#416)
  frontend/src/hooks/useIncrementalTaskResource.ts
  frontend/src/hooks/useTaskPositions.ts
Due: eslint, typescript-check, vitest

fix(trading): add snowball rebuild loss-cut toggle
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/query_params.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/integration/trading/test_snowball_integration.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/tests/unit/trading/views/test_query_params.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): add snowball rebuild loss-cut toggle (#418)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/query_params.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/integration/trading/test_snowball_integration.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/tests/unit/trading/views/test_query_params.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): show strategy pnl currency symbols
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(snowball): align f_max with max layer count
  .vscode/settings.json
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  docs/openapi.json
  frontend/CHANGELOG.md
Due: ty, django-check, django-migrations-check, pytest
