Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(i18n): localize initial position import labels (#735)
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(trading): validate sparse initial position slots
  backend/apps/trading/services/backtest_initial_positions.py
  backend/tests/unit/trading/services/test_backtest_initial_positions.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): validate sparse initial position slots (#737)
  backend/apps/trading/services/backtest_initial_positions.py
  backend/tests/unit/trading/services/test_backtest_initial_positions.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): auto-adjust initial position prices
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
Due: eslint, typescript-check, vitest

feat(trading): auto-adjust initial position prices (#739)
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
Due: eslint, typescript-check, vitest

feat(trading): add cycle anchor controls
  backend/apps/trading/services/initial_position_imports.py
  backend/tests/unit/trading/services/test_initial_position_imports.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): add cycle anchor controls (#741)
  backend/apps/trading/services/initial_position_imports.py
  backend/tests/unit/trading/services/test_initial_position_imports.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): improve initial position mobile validation
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/utils/formValidation.ts
Due: eslint, typescript-check, vitest

fix(frontend): align initial position cycle controls
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/i18n/locales/ja/backtest.json
Due: eslint, typescript-check, vitest

fix: initial position mobile validation (#743)
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/utils/formValidation.ts
Due: eslint, typescript-check, vitest

feat(initial-positions): preserve closed grid slots
  backend/apps/trading/services/backtest_initial_positions.py
  backend/apps/trading/services/initial_position_imports.py
  backend/tests/unit/trading/services/test_backtest_initial_positions.py
  backend/tests/unit/trading/services/test_initial_position_imports.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/api/types.ts
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/services/api/initialPositionImports.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(initial-positions): preserve closed grid slots (#745)
  backend/apps/trading/services/backtest_initial_positions.py
  backend/apps/trading/services/initial_position_imports.py
  backend/tests/unit/trading/services/test_backtest_initial_positions.py
  backend/tests/unit/trading/services/test_initial_position_imports.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/api/types.ts
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/services/api/initialPositionImports.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(initial-positions): allow sparse imported layers
  backend/apps/trading/services/backtest_initial_positions.py
  backend/apps/trading/services/initial_position_imports.py
  backend/apps/trading/views/initial_positions.py
  backend/tests/unit/trading/services/test_backtest_initial_positions.py
  backend/tests/unit/trading/services/test_initial_position_imports.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/services/api/initialPositionImports.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(initial-positions): allow sparse imported layers (#747)
  backend/apps/trading/services/backtest_initial_positions.py
  backend/apps/trading/services/initial_position_imports.py
  backend/apps/trading/views/initial_positions.py
  backend/tests/unit/trading/services/test_backtest_initial_positions.py
  backend/tests/unit/trading/services/test_initial_position_imports.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/services/api/initialPositionImports.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): mark initial cycles and filter seed positions
  backend/apps/trading/services/backtest_initial_positions.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/task_activity.py
  backend/apps/trading/strategies/snowball/cycle_state.py
  backend/apps/trading/views/query_params.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/integration/trading/test_strategy_cycles_pagination.py
  backend/tests/unit/trading/services/test_backtest_initial_positions.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionFilterBar.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/useTaskPositionData.ts
  frontend/src/components/tasks/detail/useTaskPositionFilters.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(tasks): show initial position settings
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/InitialPositionSettingValue.test.tsx
  frontend/src/components/tasks/detail/InitialPositionSettingValue.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
Due: eslint, typescript-check, vitest

fix(trading): use task account currency for backtest pnl
  backend/apps/trading/order.py
  backend/tests/integration/trading/test_order_service_integration.py
Due: ty, django-check, django-migrations-check, pytest

fix(trading): mark initial cycles and filter seed positions (#749)
  backend/apps/trading/order.py
  backend/apps/trading/services/backtest_initial_positions.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/task_activity.py
  backend/apps/trading/strategies/snowball/cycle_state.py
  backend/apps/trading/views/query_params.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/integration/trading/test_order_service_integration.py
  backend/tests/integration/trading/test_strategy_cycles_pagination.py
  backend/tests/unit/trading/services/test_backtest_initial_positions.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/InitialPositionSettingValue.test.tsx
  frontend/src/components/tasks/detail/InitialPositionSettingValue.tsx
  frontend/src/components/tasks/detail/TaskPositionFilterBar.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/tasks/detail/useTaskPositionData.ts
  frontend/src/components/tasks/detail/useTaskPositionFilters.ts
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): hide snowball refill limit without rebuild
  backend/apps/trading/schemas/snowball.json
  backend/tests/e2e/trading/test_snowball_configs_api.py
  frontend/src/components/tasks/detail/HistoricalStrategyConfigDialog.test.tsx
  frontend/tests/unit/utils/strategySchemaDependsOn.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): keep initial position details visible
  frontend/src/components/tasks/detail/InitialPositionSettingValue.test.tsx
  frontend/src/components/tasks/detail/InitialPositionSettingValue.tsx
Due: eslint, typescript-check, vitest

chore: refresh backend generated metadata
  backend/uv.lock
  docs/openapi.json
Due: django-check, django-migrations-check

fix: initial position detail display (#753)
  backend/apps/trading/schemas/snowball.json
  backend/tests/e2e/trading/test_snowball_configs_api.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/HistoricalStrategyConfigDialog.test.tsx
  frontend/src/components/tasks/detail/InitialPositionSettingValue.test.tsx
  frontend/src/components/tasks/detail/InitialPositionSettingValue.tsx
  frontend/tests/unit/utils/strategySchemaDependsOn.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(backtest): improve create form numeric defaults
  frontend/src/components/backtest/BacktestTaskForm.tsx
Due: eslint, typescript-check, vitest

fix(backtest): improve create form numeric defaults (#755)
  frontend/src/components/backtest/BacktestTaskForm.tsx
Due: eslint, typescript-check, vitest

fix(strategy): order snowball rebuild toggle first
  backend/apps/trading/schemas/snowball.json
  backend/uv.lock
  docs/openapi.json
  frontend/src/utils/configFieldOrder.ts
  frontend/tests/unit/utils/configFieldOrder.test.ts
Due: django-check, django-migrations-check, eslint, typescript-check, vitest

fix(metrics): adapt return chart period by range
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/tests/integration/components/TaskMetricsTab.test.tsx
Due: eslint, typescript-check, vitest

fix(strategy): default snowball cycles newest first
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/tests/integration/components/TaskStrategyTab.test.tsx
Due: eslint, typescript-check, vitest

fix: snowball rebuild option order (#757)
  backend/apps/trading/schemas/snowball.json
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/utils/configFieldOrder.ts
  frontend/tests/integration/components/TaskMetricsTab.test.tsx
  frontend/tests/integration/components/TaskStrategyTab.test.tsx
  frontend/tests/unit/utils/configFieldOrder.test.ts
Due: django-check, django-migrations-check, eslint, typescript-check, vitest

fix(strategy): move snowball refill limit below reseed
  backend/apps/trading/schemas/snowball.json
  backend/uv.lock
  docs/openapi.json
  frontend/src/utils/configFieldOrder.ts
  frontend/tests/unit/utils/configFieldOrder.test.ts
Due: django-check, django-migrations-check, eslint, typescript-check, vitest

fix(strategy): move snowball refill limit below reseed (#759)
  backend/apps/trading/schemas/snowball.json
  backend/uv.lock
  docs/openapi.json
  frontend/src/utils/configFieldOrder.ts
  frontend/tests/unit/utils/configFieldOrder.test.ts
Due: django-check, django-migrations-check, eslint, typescript-check, vitest

fix(snowball): expose counter layer controls
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/query_params.py
  backend/tests/e2e/trading/test_snowball_configs_api.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/integration/trading/test_strategy_cycles_pagination.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/tests/unit/trading/views/test_mixins_query_usage.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/HistoricalStrategyConfigDialog.test.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/utils/configFieldOrder.ts
  frontend/tests/unit/utils/configFieldOrder.test.ts
  frontend/tests/unit/utils/strategySchemaDependsOn.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(snowball): expose counter layer controls (#761)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/query_params.py
  backend/tests/e2e/trading/test_snowball_configs_api.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/integration/trading/test_strategy_cycles_pagination.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/tests/unit/trading/views/test_mixins_query_usage.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/HistoricalStrategyConfigDialog.test.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/utils/configFieldOrder.ts
  frontend/tests/unit/utils/configFieldOrder.test.ts
  frontend/tests/unit/utils/strategySchemaDependsOn.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): persist snowball grid counts
  backend/apps/trading/strategies/snowball/grid_models.py
  backend/apps/trading/strategies/snowball/visualization.py
  backend/tests/integration/trading/test_strategy_cycles_pagination.py
  backend/tests/unit/trading/services/test_strategy_grid_state.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/StrategyGridIndicator.tsx
  frontend/src/components/tasks/detail/strategy/gridState.ts
  frontend/src/types/strategyVisualization.ts
  frontend/tests/unit/components/tasks/detail/strategy/gridState.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): persist snowball grid counts (#763)
  backend/apps/trading/strategies/snowball/grid_models.py
  backend/apps/trading/strategies/snowball/visualization.py
  backend/tests/integration/trading/test_strategy_cycles_pagination.py
  backend/tests/unit/trading/services/test_strategy_grid_state.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/StrategyGridIndicator.tsx
  frontend/src/components/tasks/detail/strategy/gridState.ts
  frontend/src/types/strategyVisualization.ts
  frontend/tests/unit/components/tasks/detail/strategy/gridState.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): restore grid states and chart sizing
  backend/apps/trading/services/strategy_cycles.py
  backend/tests/integration/trading/test_strategy_cycles_pagination.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/tests/integration/components/TaskMetricsTab.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): restore grid states and chart sizing (#765)
  backend/apps/trading/services/strategy_cycles.py
  backend/tests/integration/trading/test_strategy_cycles_pagination.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/tests/integration/components/TaskMetricsTab.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): clear closed rebuilt grid slots
  backend/apps/trading/services/strategy_cycles.py
  backend/tests/integration/trading/test_strategy_cycles_pagination.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/gridState.ts
  frontend/tests/unit/components/tasks/detail/strategy/gridState.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): reuse refillable snowball head slots
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
