Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

mypy:
  name: mypy
  entry: bash -c 'cd backend && source .venv/bin/activate && mypy .'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: Add date into OHLC X-Axis
  frontend/src/components/chart/FinancialChart.tsx
Due: eslint, typescript-check, vitest

feat: add unified task results API + migrate UI; normalize equity curve
  backend/apps/trading/models.py
  backend/apps/trading/serializers.py
  backend/apps/trading/services/equity.py
  backend/apps/trading/urls.py
  backend/apps/trading/views.py
  backend/tests/integration/trading/test_backtest_task_actions_api.py
  backend/tests/integration/trading/test_trading_task_actions_api.py
  frontend/src/components/backtest/detail/TaskOverviewTab.tsx
  frontend/src/components/backtest/detail/TaskResultsTab.test.tsx
  frontend/src/components/backtest/detail/TaskResultsTab.tsx
  frontend/src/components/trading/detail/TaskPerformanceTab.tsx
  frontend/src/hooks/useBacktestLiveResults.ts
  frontend/src/hooks/useTaskResults.ts
  frontend/src/pages/BacktestTaskDetailPage.tsx
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/TradingTaskDetailPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/index.ts
  frontend/src/types/results.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Removed BacktestTaskLiveResultsView and TradingTaskLiveResultsView
  backend/apps/trading/urls.py
  backend/apps/trading/views.py
Due: mypy, django-check, django-migrations-check, pytest

ixed that mypy no-any-return issue in the _to_iso(value: Any) -> str | None helper inside models.py
  backend/apps/trading/models.py
Due: mypy, django-check, django-migrations-check, pytest

fix(docker): prevent prod config bind-mount shadowing Django settings.
  backend/Dockerfile
  docker-compose.prod.yaml
Due: django-check, django-migrations-check

Add health API.
  backend/apps/health/__init__.py
  backend/apps/health/apps.py
  backend/apps/health/services/__init__.py
  backend/apps/health/services/health_check.py
  backend/apps/health/urls.py
  backend/apps/health/views.py
  backend/config/settings.py
  backend/config/urls.py
  backend/tests/integration/health/test_health_api.py
  backend/tests/urls_test.py
  docker-compose.prod.yaml
  docker-compose.yaml
Due: mypy, django-check, django-migrations-check, pytest

Add account setting command.
  backend/apps/accounts/management/commands/manage_account_settings.py
  backend/apps/accounts/management/commands/manage_whitelist.py
  backend/config/settings.py
  backend/tests/unit/accounts/management/commands/test_manage_account_settings.py
Due: mypy, django-check, django-migrations-check, pytest

bug: fix an issue where REDIS_PASSWORD is missing in the docker environment.
  backend/apps/accounts/middleware.py
  docker-compose.prod.yaml
  docker-compose.yaml
Due: mypy, django-check, django-migrations-check, pytest

Update prod.conf to limit django admin access.
  nginx/conf.d/prod.conf
Due: none

feat(auth): surface whitelist-blocked login failures
  backend/apps/accounts/views.py
  backend/tests/unit/accounts/test_views.py
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/LoginPage.tsx
  frontend/src/test/LoginPage.test.tsx
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

chore(docker): stop exposing backend port in prod compose
  docker-compose.prod.yaml
Due: none

feat: Add --role-arn option to load-data command.
  backend/apps/market/management/commands/load_data.py
  backend/tests/unit/market/management/commands/test_load_data.py
Due: mypy, django-check, django-migrations-check, pytest

refactor: bid/ask execution, pip metadata, and account detail UX
  backend/apps/market/management/commands/load_data.py
  backend/apps/market/services/instruments.py
  backend/apps/market/services/oanda.py
  backend/apps/market/views.py
  backend/apps/trading/serializers.py
  backend/apps/trading/services/floor.py
  backend/apps/trading/tasks.py
  backend/config/settings.py
  backend/tests/unit/trading/services/test_floor_strategy.py
  frontend/src/App.tsx
  frontend/src/components/backtest/BacktestChart.tsx
  frontend/src/components/backtest/FloorLayerLog.tsx
  frontend/src/components/chart/FinancialChart.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/settings/AccountManagement.tsx
  frontend/src/components/settings/StrategyDefaults.tsx
  frontend/src/components/trading/detail/TaskPerformanceTab.test.tsx
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/test/AccountManagement.test.tsx
  frontend/src/test/FloorLayerLog.property.test.tsx
  frontend/src/test/FloorLayerLog.test.tsx
  frontend/src/test/SettingsPage.test.tsx
  frontend/src/test/StrategyConfigForm.test.tsx
  frontend/src/test/StrategyControls.test.tsx
  frontend/src/test/StrategyDefaults.test.tsx
  frontend/src/test/StrategySelector.test.tsx
  frontend/src/test/StrategyStatus.test.tsx
  frontend/src/types/strategy.ts
  frontend/src/utils/floorStrategyMarkers.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

chore(chart): thin data-gap hatch lines and unbold overlay/legend text
  frontend/src/components/backtest/BacktestChart.tsx
  frontend/src/components/chart/FinancialChart.tsx
Due: eslint, typescript-check, vitest

feat(trading): enforce page/page_size pagination across logs & results endpoints
  backend/apps/trading/serializers.py
  backend/apps/trading/urls.py
  backend/apps/trading/views.py
  frontend/src/components/backtest/FloorLayerLog.tsx
  frontend/src/components/backtest/detail/TaskExecutionsTab.tsx
  frontend/src/components/backtest/detail/TaskOverviewTab.tsx
  frontend/src/components/backtest/detail/TaskResultsTab.test.tsx
  frontend/src/components/backtest/detail/TaskResultsTab.tsx
  frontend/src/components/trading/detail/TaskPerformanceTab.test.tsx
  frontend/src/components/trading/detail/TaskPerformanceTab.tsx
  frontend/src/hooks/useTaskLogs.ts
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/services/polling/TaskPollingService.ts
  frontend/src/types/execution.ts
  frontend/src/types/results.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: stabilize rerun/status flow and fix floor trade PnL metrics
  backend/apps/trading/models.py
  backend/apps/trading/services/floor.py
  backend/apps/trading/tasks.py
  backend/apps/trading/views.py
  backend/tests/unit/trading/services/test_floor_strategy.py
  backend/tests/unit/trading/test_views.py
  frontend/src/components/backtest/detail/TaskResultsTab.test.tsx
  frontend/src/components/chart/MarkerTooltip.tsx
  frontend/src/components/trading/detail/TaskPerformanceTab.test.tsx
  frontend/src/pages/BacktestTaskDetailPage.tsx
  frontend/src/pages/TradingTaskDetailPage.tsx
  frontend/src/types/results.ts
  frontend/src/utils/floorStrategyMarkers.test.ts
  frontend/src/utils/floorStrategyMarkers.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(execution): make reruns create executions + improve logs; hide non-layer chart labels.
  .vscode/launch.json
  backend/apps/trading/services/floor.py
  backend/apps/trading/tasks.py
  backend/apps/trading/views.py
  backend/config/celery.py
  backend/config/settings.py
  backend/tests/unit/trading/services/test_floor_strategy.py
  backend/tests/unit/trading/test_views.py
  frontend/src/components/backtest/detail/TaskExecutionsTab.tsx
  frontend/src/utils/floorStrategyMarkers.test.ts
  frontend/src/utils/floorStrategyMarkers.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): persist live execution artifacts + metrics checkpoints
  backend/apps/trading/migrations/0034_executionequitypoint_executionmetricscheckpoint_and_more.py
  backend/apps/trading/models.py
  backend/apps/trading/tasks.py
  backend/apps/trading/urls.py
  backend/apps/trading/views.py
  frontend/src/components/backtest/detail/TaskOverviewTab.tsx
  frontend/src/components/backtest/detail/TaskResultsTab.tsx
  frontend/src/components/tasks/charts/MetricsGrid.tsx
  frontend/src/components/trading/detail/TaskPerformanceTab.test.tsx
  frontend/src/components/trading/detail/TaskPerformanceTab.tsx
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/execution.ts
  frontend/src/types/results.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(floor): default momentum to candle lookback
  backend/apps/trading/services/floor.py
  backend/config/settings.py
  backend/tests/unit/trading/services/test_floor_strategy.py
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/types/strategy.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(events): enforce 1:1 canonical floor strategy events across backend+frontend
  .vscode/launch.json
  backend/apps/trading/services/floor.py
  backend/apps/trading/tasks.py
  backend/apps/trading/views.py
  backend/tests/unit/trading/services/test_floor_strategy.py
  backend/tests/unit/trading/test_strategy_events_views.py
  frontend/src/components/backtest/BacktestChart.test.tsx
  frontend/src/components/backtest/FloorLayerLog.tsx
  frontend/src/components/backtest/detail/TaskOverviewTab.tsx
  frontend/src/components/backtest/detail/TaskResultsTab.test.tsx
  frontend/src/components/backtest/detail/TaskResultsTab.tsx
  frontend/src/components/trading/detail/TaskPerformanceTab.test.tsx
  frontend/src/test/FloorLayerLog.property.test.tsx
  frontend/src/test/FloorLayerLog.test.tsx
  frontend/src/types/execution.ts
  frontend/src/utils/duration.ts
  frontend/src/utils/floorStrategyMarkers.test.ts
  frontend/src/utils/floorStrategyMarkers.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Add Dependabot configuration file
  .github/dependabot.yml
Due: none

Path conditions:
  mypy: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
