Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

mypy:
  name: mypy
  entry: bash -c 'cd backend && source .venv/bin/activate && mypy .'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Fixed a critical syntax error and added comprehensive logging to help debug trading task execution.
  backend/trading/floor_strategy.py
  backend/trading/services/task_executor.py
  backend/trading/tasks.py
  frontend/src/components/backtest/detail/TaskExecutionsTab.tsx
  frontend/src/hooks/useTaskExecutions.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Fixed an issue where refretchInterval tried to access data before it's defined.
  frontend/src/hooks/useTaskExecutions.ts
Due: eslint, typescript-check, vitest

Fixed an issue where strategy instance was being re-instantiated on every tick,
  backend/trading/tasks.py
Due: mypy, django-check, django-migrations-check, pytest

Fixed an issue where strategy didn't convert lot size to actual size.
  backend/tests/test_floor_strategy.py
  backend/trading/floor_strategy.py
  backend/trading/order_executor.py
  frontend/src/components/configurations/ConfigurationForm.tsx
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Add check if order was filled or rejected.
  backend/trading/order_executor.py
Due: mypy, django-check, django-migrations-check, pytest

Added body and raw_body to log for debug.
  backend/trading/order_executor.py
Due: mypy, django-check, django-migrations-check, pytest

Fixed an issue where order executor read wrong attributes.
  backend/trading/order_executor.py
Due: mypy, django-check, django-migrations-check, pytest

Updateed live and performance tab for trading task.
  backend/accounts/migrations/0023_add_trading_metrics_interval.py
  backend/accounts/migrations/0024_remove_celery_time_limit_settings.py
  backend/accounts/models.py
  backend/accounts/serializers.py
  backend/trading/floor_strategy.py
  backend/trading/tasks.py
  backend/trading/trading_task_serializers.py
  frontend/src/components/trading/detail/LiveTaskTab.tsx
  frontend/src/components/trading/detail/TaskPerformanceTab.tsx
  frontend/src/pages/AdminSystemSettingsPage.tsx
  frontend/src/types/execution.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Updateed live and performance tab for trading task.
  backend/trading/tasks.py
  backend/trading/trading_task_views.py
  frontend/src/pages/TradingTaskDetailPage.tsx
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Increased concurrency for celery.
  docker-compose.prod.yaml
  docker-compose.yaml
Due: none

Add console logs for starting/stopping task.
  frontend/src/pages/BacktestTaskDetailPage.tsx
  frontend/src/pages/TradingTaskDetailPage.tsx
Due: eslint, typescript-check, vitest

Fixed bug for candles API error:
  backend/trading/trading_task_serializers.py
  frontend/src/components/trading/detail/TaskPerformanceTab.test.tsx
  frontend/src/components/trading/detail/TaskPerformanceTab.tsx
  frontend/src/types/tradingTask.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat: auto-resume trading tasks on worker startup
  backend/trading/tasks.py
  backend/trading_system/celery.py
Due: mypy, django-check, django-migrations-check, pytest

fix: handle immutable ExecutionMetrics for trading tasks
  backend/trading/tasks.py
Due: mypy, django-check, django-migrations-check, pytest

fix: clear stale stream cache on startup
  backend/trading/tasks.py
  backend/trading_system/celery.py
Due: mypy, django-check, django-migrations-check, pytest

Simplified log message and removed noisy messages.
  backend/trading/tasks.py
Due: mypy, django-check, django-migrations-check, pytest

Fixed an issue where trade markers timestamp didn't match with OHLC charts.
  frontend/src/components/trading/TradingTaskChart.tsx
Due: eslint, typescript-check, vitest

Fix position closing for TradingTask - use trading_task field instead of strategy
  backend/trading/services/task_executor.py
Due: mypy, django-check, django-migrations-check, pytest

Fix the task status mismatch between frontend and backend.
  backend/trading/backtest_task_views.py
  backend/trading/services/task_executor.py
  backend/trading/trading_task_views.py
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/src/test/TradingTaskForm.test.tsx
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Fix trading task lock system to use TaskLockManager
  backend/trading/services/task_executor.py
  backend/trading/tasks.py
Due: mypy, django-check, django-migrations-check, pytest

Added a Redis-based worker assignment mechanism to prevent multiple Celery workers from processing ticks for the same task concurrently
  backend/tests/test_backtest_task_api.py
  backend/tests/test_trading_task_stop.py
  backend/trading/tasks.py
Due: mypy, django-check, django-migrations-check, pytest

Path conditions:
  mypy: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
