Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: improve task UI refresh and snowball reseed
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/common/PageContainer.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/tasks/detail/MetricsChartOrderDialog.tsx
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/detailLayout.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/hooks/accountCache.ts
  frontend/src/hooks/configurationMutationCache.ts
  frontend/src/hooks/taskMutationCache.ts
  frontend/src/hooks/useAccountMutations.ts
  frontend/src/hooks/useActiveScreenRefetch.ts
  frontend/src/hooks/useAppSettings.ts
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useConfigurationMutations.ts
  frontend/src/hooks/useMetricsOrder.ts
  frontend/src/hooks/useTaskMutationFactory.ts
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/tests/unit/hooks/accountCache.test.ts
  frontend/tests/unit/hooks/configurationMutationCache.test.ts
  frontend/tests/unit/hooks/taskMutationCache.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor: task polling throttle fix (#618)
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/views/task_base.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  docs/openapi.json
  frontend/src/api/client.test.ts
  frontend/src/api/client.ts
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/common/PageContainer.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/tasks/detail/MetricsChartOrderDialog.tsx
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/detailLayout.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/hooks/accountCache.ts
  frontend/src/hooks/configurationMutationCache.ts
  frontend/src/hooks/taskMutationCache.ts
  frontend/src/hooks/useAccountMutations.ts
  frontend/src/hooks/useActiveScreenRefetch.ts
  frontend/src/hooks/useAppSettings.ts
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useConfigurationMutations.ts
  frontend/src/hooks/useMetricsOrder.ts
  frontend/src/hooks/useTaskMutationFactory.ts
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/tests/unit/hooks/accountCache.test.ts
  frontend/tests/unit/hooks/configurationMutationCache.test.ts
  frontend/tests/unit/hooks/taskMutationCache.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(adaptive-net): publish decision snapshots
  backend/apps/trading/schemas/adaptive_net.json
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/task_metrics.py
  backend/apps/trading/strategies/adaptive_net/metrics.py
  backend/apps/trading/strategies/adaptive_net/models.py
  backend/apps/trading/strategies/adaptive_net/strategy.py
  backend/apps/trading/views/query_params.py
  backend/tests/unit/trading/strategies/test_adaptive_net_strategy.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/utils/fetchMetrics.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(adaptive-net): show decision snapshots in strategy tab
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/strategy/AdaptiveNetStrategyPanel.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
Due: eslint, typescript-check, vitest

refactor(adaptive-net): add cost-aware decision gates
  backend/apps/trading/schemas/adaptive_net.json
  backend/apps/trading/strategies/adaptive_net/models.py
  backend/apps/trading/strategies/adaptive_net/sizing.py
  backend/tests/unit/trading/strategies/test_adaptive_net_sizing.py
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): improve mobile task filter layouts
  frontend/src/components/common/DateRangeFilter.tsx
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionFilterBar.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
Due: eslint, typescript-check, vitest

fix(frontend): improve mobile task filter layouts (#620)
  frontend/src/components/common/DateRangeFilter.tsx
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionFilterBar.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
Due: eslint, typescript-check, vitest

refactor(frontend): harden task detail mobile layouts
  .github/workflows/test.yml
  .pre-commit-config.yaml
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/market_session.py
  docs/openapi.json
  frontend/eslint.config.js
  frontend/playwright.config.ts
  frontend/src/components/common/TableFilterBar.tsx
  frontend/src/components/common/tableFilterLayout.ts
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionFilterBar.tsx
  frontend/src/components/tasks/detail/TaskPositionViewHeader.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/tests/e2e/task-detail-mobile.spec.ts
  frontend/tests/unit/hooks/useTaskMetrics.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(frontend): harden task detail mobile layouts (#622)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/market_session.py
  docs/openapi.json
  frontend/eslint.config.js
  frontend/playwright.config.ts
  frontend/src/components/common/TableFilterBar.tsx
  frontend/src/components/common/tableFilterLayout.ts
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionFilterBar.tsx
  frontend/src/components/tasks/detail/TaskPositionViewHeader.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/tests/e2e/task-detail-mobile.spec.ts
  frontend/tests/unit/hooks/useTaskMetrics.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(adaptive-net): add cost-aware decision gates (#623)
  backend/apps/trading/schemas/adaptive_net.json
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/task_metrics.py
  backend/apps/trading/strategies/adaptive_net/metrics.py
  backend/apps/trading/strategies/adaptive_net/models.py
  backend/apps/trading/strategies/adaptive_net/sizing.py
  backend/apps/trading/strategies/adaptive_net/strategy.py
  backend/apps/trading/views/query_params.py
  backend/tests/unit/trading/strategies/test_adaptive_net_sizing.py
  backend/tests/unit/trading/strategies/test_adaptive_net_strategy.py
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/AdaptiveNetStrategyPanel.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
  frontend/src/utils/fetchMetrics.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(snowball): configure rebuild take profit
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/calculators.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_calculators.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  frontend/src/utils/configFieldOrder.ts
  frontend/tests/unit/utils/strategySchemaDependsOn.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(snowball): simplify rebuild state handling
  backend/apps/trading/strategies/snowball/grid_policy.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/pricing.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_grid_policy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/uv.lock
Due: ty, django-check, django-migrations-check, pytest

refactor(snowball): split strategy responsibilities
  backend/apps/trading/strategies/snowball/calculators.py
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/events.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/parameters.py
  backend/apps/trading/strategies/snowball/parsing.py
  backend/apps/trading/strategies/snowball/pricing.py
  backend/apps/trading/strategies/snowball/protection.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/manual/test_snowball_visual.py
  backend/tests/unit/trading/strategies/snowball/test_calculators.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

refactor(snowball): simplify strategy boundaries
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/strategies/base.py
  backend/apps/trading/strategies/registry.py
  backend/apps/trading/strategies/snowball/compatibility.py
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/pricing.py
  backend/apps/trading/strategies/snowball/protection.py
  backend/apps/trading/strategies/snowball/reconciliation.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

refactor(snowball): tighten state and reconciliation boundaries
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/protection.py
  backend/apps/trading/strategies/snowball/reconciliation.py
  backend/apps/trading/strategies/snowball/state_parsing.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
Due: ty, django-check, django-migrations-check, pytest

refactor(snowball): split counter and stop loss flows
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/counter_flow.py
  backend/apps/trading/strategies/snowball/parameters.py
  backend/apps/trading/strategies/snowball/protection.py
  backend/apps/trading/strategies/snowball/reconciliation.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

refactor(snowball): extract cycle boundaries
  backend/apps/trading/strategies/snowball/accounting.py
  backend/apps/trading/strategies/snowball/counter_flow.py
  backend/apps/trading/strategies/snowball/cycle_orchestrator.py
  backend/apps/trading/strategies/snowball/cycle_state.py
  backend/apps/trading/strategies/snowball/entries.py
  backend/apps/trading/strategies/snowball/grid_models.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/reconciliation.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/e2e/conftest.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/services/test_reconciliation.py
Due: ty, django-check, django-migrations-check, pytest

feat: rebuild take profit mode (#624)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/strategies/base.py
  backend/apps/trading/strategies/registry.py
  backend/apps/trading/strategies/snowball/accounting.py
  backend/apps/trading/strategies/snowball/calculators.py
  backend/apps/trading/strategies/snowball/compatibility.py
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/counter_flow.py
  backend/apps/trading/strategies/snowball/cycle_orchestrator.py
  backend/apps/trading/strategies/snowball/cycle_state.py
  backend/apps/trading/strategies/snowball/entries.py
  backend/apps/trading/strategies/snowball/events.py
  backend/apps/trading/strategies/snowball/grid_models.py
  backend/apps/trading/strategies/snowball/grid_policy.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/parameters.py
  backend/apps/trading/strategies/snowball/parsing.py
  backend/apps/trading/strategies/snowball/pricing.py
  backend/apps/trading/strategies/snowball/protection.py
  backend/apps/trading/strategies/snowball/reconciliation.py
  backend/apps/trading/strategies/snowball/state_parsing.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/e2e/conftest.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/manual/test_snowball_visual.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/strategies/snowball/test_calculators.py
  backend/tests/unit/trading/strategies/snowball/test_grid_policy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/uv.lock
  frontend/src/utils/configFieldOrder.ts
  frontend/tests/unit/utils/strategySchemaDependsOn.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(snowball): allow disabled preserve threshold omission
  backend/apps/trading/strategies/snowball/config.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): allow disabled preserve threshold omission (#625)
  backend/apps/trading/strategies/snowball/config.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

feat(snowball): recover stop-loss pips on rebuild
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/entries.py
  backend/apps/trading/strategies/snowball/pricing.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

refactor(snowball): unify rebuild recovery buffer
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/pricing.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

refactor(config): group strategy parameter displays
  backend/apps/trading/schemas/snowball.json
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/tasks/detail/StrategyParameterDialog.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
Due: django-check, django-migrations-check, eslint, typescript-check, vitest

feat(snowball): recover stop-loss pips on rebuild (#626)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/entries.py
  backend/apps/trading/strategies/snowball/pricing.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/tasks/detail/StrategyParameterDialog.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(strategy): harden net grid risk controls
  backend/apps/trading/schemas/net_grid.json
  backend/apps/trading/strategies/net_grid/models.py
  backend/apps/trading/strategies/net_grid/strategy.py
  backend/tests/unit/trading/strategies/test_net_grid_strategy.py
  frontend/src/components/tasks/detail/strategy/NetGridStrategyPanel.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
  frontend/tests/unit/components/tasks/detail/strategy/NetGridStrategyPanel.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(strategy): clarify net grid intent view
  frontend/src/components/tasks/detail/strategy/NetGridStrategyPanel.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/tests/unit/components/tasks/detail/strategy/NetGridStrategyPanel.test.tsx
Due: eslint, typescript-check, vitest

feat(strategy): refine net grid visualization
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/query_params.py
  backend/tests/unit/trading/services/test_strategy_cycles.py
  backend/tests/unit/trading/views/test_mixins_query_usage.py
  backend/tests/unit/trading/views/test_query_params.py
  docs/openapi.json
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/strategy/NetGridStrategyPanel.tsx
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/config/reactQuery.ts
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskStrategyEvents.ts
  frontend/src/hooks/useWindowedCandles.ts
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
  frontend/tests/integration/hooks/useWindowedCandles.test.ts
  frontend/tests/unit/components/tasks/detail/strategy/NetGridStrategyPanel.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(strategy): enhance net grid controls
  backend/apps/trading/schemas/net_grid.json
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/net_grid/models.py
  backend/apps/trading/strategies/net_grid/strategy.py
  backend/tests/unit/trading/services/test_strategy_cycles.py
  backend/tests/unit/trading/strategies/test_net_grid_strategy.py
  frontend/src/components/tasks/detail/strategy/NetGridStrategyPanel.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(strategy): add net grid strategy
  backend/apps/market/services/oanda.py
  backend/apps/market/services/oanda_types.py
  backend/apps/trading/dataclasses/execution.py
  backend/apps/trading/enums.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/schemas/net_grid.json
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/net_grid/__init__.py
  backend/apps/trading/strategies/net_grid/models.py
  backend/apps/trading/strategies/net_grid/reconciliation.py
  backend/apps/trading/strategies/net_grid/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/service.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/services/test_strategy_cycles.py
  backend/tests/unit/trading/strategies/test_net_grid_strategy.py
  backend/tests/unit/trading/strategies/test_registry.py
  backend/tests/unit/trading/tasks/test_service.py
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/strategy/NetGridStrategyPanel.tsx
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
  frontend/src/components/tasks/detail/taskDetailTabs.test.ts
  frontend/src/components/tasks/detail/taskDetailTabs.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

test(strategy): update strategy type expectations
  backend/tests/unit/trading/test_enums.py
Due: ty, django-check, django-migrations-check, pytest

feat(strategy): annotate net grid chart zones
  frontend/src/components/tasks/detail/strategy/NetGridStrategyPanel.tsx
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/tests/unit/components/tasks/detail/strategy/NetGridStrategyPanel.test.tsx
Due: eslint, typescript-check, vitest

feat(strategy): add net grid presets
  backend/apps/trading/schemas/net_grid.json
  backend/apps/trading/strategies/net_grid/strategy.py
  backend/tests/unit/trading/strategies/test_net_grid_strategy.py
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategy.ts
  frontend/tests/unit/components/strategyConfigForm.test.tsx
  frontend/tests/unit/components/tasks/detail/strategy/NetGridStrategyPanel.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(chart): ignore invalid strategy chart values
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/hooks/useWindowedCandles.ts
Due: eslint, typescript-check, vitest

feat(strategy): add net grid decision insights
  backend/apps/trading/strategies/net_grid/strategy.py
  backend/tests/unit/trading/strategies/test_net_grid_strategy.py
  frontend/src/components/tasks/detail/strategy/NetGridStrategyPanel.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/src/types/strategyVisualization.ts
  frontend/tests/unit/components/tasks/detail/strategy/NetGridStrategyPanel.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

test(frontend): update backtest mobile snapshot
  frontend/tests/e2e/visual.spec.ts-snapshots/backtest-tasks-mobile-chromium-linux.png
Due: none

fix(auth): harden cookie session login
  backend/apps/accounts/middlewares/limiter.py
  backend/apps/accounts/views/login.py
  backend/apps/accounts/views/logout.py
  backend/apps/accounts/views/refresh.py
  backend/apps/accounts/views/registration.py
  backend/apps/accounts/views/verification.py
  backend/tests/e2e/accounts/test_auth_login_api.py
  backend/tests/e2e/accounts/test_auth_refresh_api.py
  backend/tests/e2e/conftest.py
  backend/tests/integration/accounts/views/test_login.py
  backend/tests/integration/accounts/views/test_refresh.py
  backend/tests/unit/accounts/middlewares/test_limiter.py
  backend/tests/unit/accounts/views/test_login.py
  backend/tests/unit/accounts/views/test_logout.py
  backend/tests/unit/accounts/views/test_refresh.py
  backend/tests/unit/accounts/views/test_registration.py
  backend/tests/unit/accounts/views/test_verification.py
  docs/openapi.json
  frontend/src/components/settings/GeneralSettings.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/services/api/auth.ts
  frontend/src/types/auth.ts
  nginx/conf.d/default.conf
  nginx/conf.d/dev.conf
  nginx/conf.d/prod.conf
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(security): trust proxy IP headers safely
  .env.example
  backend/apps/accounts/api_logging.py
  backend/apps/accounts/auth.py
  backend/apps/accounts/middlewares/utils.py
  backend/apps/accounts/views/refresh.py
  backend/apps/health/views.py
  backend/config/settings.py
  backend/tests/e2e/accounts/test_auth_login_api.py
  backend/tests/e2e/accounts/test_auth_refresh_api.py
  backend/tests/integration/accounts/views/test_logout.py
  backend/tests/integration/accounts/views/test_refresh.py
  backend/tests/integration/accounts/views/test_registration.py
  backend/tests/integration/accounts/views/test_verification.py
  backend/tests/unit/accounts/middlewares/test_logging.py
  backend/tests/unit/accounts/middlewares/test_security.py
  backend/tests/unit/accounts/views/test_login.py
  backend/tests/unit/accounts/views/test_logout.py
  backend/tests/unit/accounts/views/test_refresh.py
  backend/tests/unit/accounts/views/test_registration.py
  backend/tests/unit/health/test_views.py
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
