Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

fix(frontend): show strategy pnl currency symbols (#420)
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(snowball): align f_max with max layer count (#422)
  .vscode/settings.json
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  docs/openapi.json
  frontend/CHANGELOG.md
Due: ty, django-check, django-migrations-check, pytest

feat(backtest): add replay granularity aggregation modes
  backend/apps/market/services/backtest_ticks.py
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/migrations/0037_add_backtest_tick_replay_settings.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/tasks/backtest.py
  backend/tests/integration/market/tasks/test_backtest.py
  backend/tests/unit/trading/serializers/test_backtest.py
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(backtest): add replay granularity aggregation modes (#424)
  backend/apps/market/services/backtest_ticks.py
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/migrations/0037_add_backtest_tick_replay_settings.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/tasks/backtest.py
  backend/tests/integration/market/tasks/test_backtest.py
  backend/tests/unit/trading/serializers/test_backtest.py
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(strategy): add snowball grid state indicator
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/strategy_grid_state.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/services/test_strategy_grid_state.py
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/components/tasks/detail/strategy/StrategyGridIndicator.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(strategy): add snowball grid state indicator (#426)
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/strategy_grid_state.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/services/test_strategy_grid_state.py
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/components/tasks/detail/strategy/StrategyGridIndicator.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): tighten grid indicator spacing
  frontend/src/components/tasks/detail/strategy/StrategyGridIndicator.tsx
Due: eslint, typescript-check, vitest

fix(strategy): tighten grid indicator spacing (#428)
  frontend/src/components/tasks/detail/strategy/StrategyGridIndicator.tsx
Due: eslint, typescript-check, vitest

fix(ci): skip release-please labeling
  .github/workflows/release-please.yml
Due: none

fix(ci): skip release-please labeling (#432)
  .github/workflows/release-please.yml
Due: none

fix(strategy): adjust grid indicator gap
  frontend/src/components/tasks/detail/strategy/StrategyGridIndicator.tsx
Due: eslint, typescript-check, vitest

fix(strategy): adjust grid indicator gap (#436)
  frontend/src/components/tasks/detail/strategy/StrategyGridIndicator.tsx
Due: eslint, typescript-check, vitest

fix(ci): restore release-please labeling
  .github/workflows/release-please.yml
Due: none

fix(ci): restore release-please labeling (#440)
  .github/workflows/release-please.yml
Due: none

fix(strategy): remove empty layer after higher-layer r0 tp
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

chore: release main (#441)
  .release-please-manifest.json
  frontend/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(strategy): remove empty layer after higher-layer r0 tp (#442)
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): clarify grid rebuild indicator
  frontend/src/components/tasks/detail/strategy/StrategyGridIndicator.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(strategy): clarify grid rebuild indicator (#445)
  frontend/src/components/tasks/detail/strategy/StrategyGridIndicator.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

feat(strategy): preserve highest snowball R on stop-loss
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  docs/openapi.json
  frontend/CHANGELOG.md
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): improve rebuilt slot contrast
  frontend/src/components/tasks/detail/strategy/StrategyGridIndicator.tsx
Due: eslint, typescript-check, vitest

feat(strategy): preserve highest snowball R on stop-loss (#447)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/components/tasks/detail/strategy/StrategyGridIndicator.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(backtest): restrict replay-setting edits to start or restart
  backend/apps/trading/serializers/backtest.py
  backend/tests/integration/trading/test_serializers_integration.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/pages/BacktestTaskFormPage.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(backtest): narrow edit form replay setting types
  frontend/src/pages/BacktestTaskFormPage.tsx
Due: eslint, typescript-check, vitest

fix(backtest): align edit page replay setting types
  frontend/src/pages/BacktestTaskFormPage.tsx
Due: eslint, typescript-check, vitest

fix: backtest tick granularity edit (#449)
  backend/apps/trading/serializers/backtest.py
  backend/tests/integration/trading/test_serializers_integration.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/pages/BacktestTaskFormPage.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): correct snowball weighted TP and fail on grid order violations
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

perf(strategy): lazy-load cycle details in strategy tab
  backend/apps/trading/services/strategy_cycles.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/views/test_mixins_query_usage.py
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/config/reactQuery.ts
  frontend/src/hooks/taskResourceCache.ts
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskStrategyEvents.ts
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(ui): show open position sizes in task summaries
  backend/apps/trading/serializers/summary.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/summary.py
  backend/tests/integration/trading/test_mixins_integration.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: snowball weighted avg double count r0 (#451)
  backend/apps/trading/serializers/summary.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/views/test_mixins_query_usage.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/config/reactQuery.ts
  frontend/src/hooks/taskResourceCache.ts
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskStrategyEvents.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): paginate strategy cycle trades
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/query_params.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/hooks/useIncrementalTaskResource.ts
  frontend/src/hooks/useTaskTrades.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(strategy): rebuild position lifecycle details
  backend/apps/trading/services/position_lifecycle.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/query_params.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/views/test_mixins_query_usage.py
  docs/openapi.json
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Potential fix for pull request finding 'CodeQL / Information exposure through an exception'
  backend/apps/trading/views/mixins.py
Due: ty, django-check, django-migrations-check, pytest

fix(api): preserve position lifecycle query errors
  backend/tests/integration/trading/test_mixins_integration.py
Due: ty, django-check, django-migrations-check, pytest

fix: strategy overview trade pagination (#453)
  backend/apps/trading/services/position_lifecycle.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/query_params.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/views/test_mixins_query_usage.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/hooks/useIncrementalTaskResource.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(api): ignore task ordering on subresources
  backend/apps/trading/views/task_base.py
  backend/tests/integration/trading/test_mixins_integration.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(api): ignore task ordering on subresources (#455)
  backend/apps/trading/views/task_base.py
  backend/tests/integration/trading/test_mixins_integration.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(ui): refine lifecycle and lock config edits while running
  backend/apps/trading/models/configs.py
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/integration/trading/test_views.py
  backend/tests/unit/trading/serializers/test_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/configurations/ConfigurationCard.tsx
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/configuration.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/configuration.json
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/pages/ConfigurationFormPage.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/types/configuration.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(tasks): sync task settings and timezone-aware timestamps
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/source.py
  backend/tests/unit/trading/tasks/test_executor.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/actions/DeleteTaskDialog.tsx
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/forms/DateRangePicker.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/services/api/tradingTasks.ts
  frontend/src/utils/timezone.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(market): restore tick streaming for practice trading
  backend/apps/market/tasks/publisher.py
  backend/apps/market/tasks/supervisor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/config/settings_parts/celery.py
  backend/tests/integration/market/tasks/test_supervisor_extended.py
  backend/tests/unit/market/tasks/test_publisher.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
Due: ty, django-check, django-migrations-check, pytest
