Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

perf(market): cache OANDA account snapshots
  .env.example
  backend/apps/accounts/middlewares/__init__.py
  backend/apps/market/admin.py
  backend/apps/market/migrations/0003_oandaaccounts_hedging_enabled_oandaaccounts_nav_and_more.py
  backend/apps/market/models/oanda.py
  backend/apps/market/serializers/oanda.py
  backend/apps/market/services/accounts.py
  backend/apps/market/tasks/__init__.py
  backend/apps/market/tasks/accounts.py
  backend/apps/market/views/oanda.py
  backend/config/settings.py
  backend/config/settings_parts/celery.py
  backend/tests/integration/market/views/test_oanda.py
  backend/tests/unit/market/serializers/test_oanda.py
  backend/tests/unit/market/services/test_accounts.py
  backend/tests/unit/market/tasks/test_accounts.py
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/openapi.json
  frontend/src/services/api/contracts.ts
  frontend/src/types/strategy.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(market): enqueue account snapshot refresh
  backend/apps/market/services/accounts.py
  backend/apps/market/urls.py
  backend/apps/market/views/__init__.py
  backend/apps/market/views/oanda.py
  backend/tests/integration/market/views/test_oanda.py
  backend/tests/unit/market/services/test_accounts.py
  docs/openapi.json
  frontend/src/services/api/accounts.ts
  frontend/src/services/api/contracts.ts
  frontend/tests/unit/services/apiServices.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(frontend): add account snapshot refresh controls
  frontend/src/hooks/useAccountMutations.ts
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/pages/OandaAccountsPage.tsx
Due: eslint, typescript-check, vitest

perf(frontend): remove account list detail fanout
  frontend/src/pages/OandaAccountsPage.tsx
Due: eslint, typescript-check, vitest

feat(market): track account snapshot refresh status
  backend/apps/market/migrations/0004_oandaaccounts_snapshot_refresh_task_status.py
  backend/apps/market/models/oanda.py
  backend/apps/market/serializers/oanda.py
  backend/apps/market/services/accounts.py
  backend/apps/market/tasks/accounts.py
  backend/apps/market/urls.py
  backend/apps/market/views/__init__.py
  backend/apps/market/views/oanda.py
  backend/tests/integration/market/views/test_oanda.py
  backend/tests/unit/market/services/test_accounts.py
  backend/tests/unit/market/tasks/test_accounts.py
  docs/openapi.json
  frontend/src/config/reactQuery.ts
  frontend/src/hooks/accountQueries.ts
  frontend/src/hooks/useAccounts.ts
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/pages/OandaAccountsPage.tsx
  frontend/src/services/api/accounts.ts
  frontend/src/services/api/contracts.ts
  frontend/src/types/strategy.ts
  frontend/tests/unit/services/apiServices.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(market): reuse active account snapshot refresh
  backend/apps/market/services/accounts.py
  backend/tests/integration/market/views/test_oanda.py
  backend/tests/unit/market/services/test_accounts.py
Due: ty, django-check, django-migrations-check, pytest

fix(market): expire stale account snapshot refreshes
  .env.example
  backend/apps/market/migrations/0005_oandaaccounts_snapshot_refresh_status_updated_at.py
  backend/apps/market/models/oanda.py
  backend/apps/market/serializers/oanda.py
  backend/apps/market/services/accounts.py
  backend/apps/market/views/oanda.py
  backend/config/settings.py
  backend/tests/integration/market/views/test_oanda.py
  backend/tests/unit/market/services/test_accounts.py
  docs/openapi.json
  frontend/src/services/api/contracts.ts
  frontend/src/types/strategy.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

chore(market): log account snapshot refresh lifecycle
  backend/apps/market/services/accounts.py
  backend/tests/unit/market/services/test_accounts.py
  backend/tests/unit/market/tasks/test_accounts.py
Due: ty, django-check, django-migrations-check, pytest

feat(market): expose account snapshot filters
  backend/apps/market/admin.py
  backend/apps/market/services/accounts.py
  backend/apps/market/views/oanda.py
  backend/tests/integration/market/views/test_oanda.py
  backend/tests/unit/market/test_admin.py
  docs/openapi.json
  frontend/src/services/api/accounts.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(frontend): add account snapshot filters
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/settings.json
  frontend/src/pages/OandaAccountsPage.tsx
Due: eslint, typescript-check, vitest

test(auth): align auth context cookie session tests
  frontend/tests/integration/contexts/AuthContext.test.tsx
Due: eslint, typescript-check, vitest

perf(market): index account snapshot filters
  backend/apps/market/migrations/0006_oandaaccounts_snapshot_filter_indexes.py
  backend/apps/market/models/oanda.py
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): restore account detail build
  frontend/CHANGELOG.md
  frontend/src/pages/OandaAccountDetailPage.tsx
Due: eslint, typescript-check, vitest

refactor(frontend): split OANDA account detail view
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/pages/oanda-account-detail/AccountDetailActions.tsx
  frontend/src/pages/oanda-account-detail/AccountSummaryCard.tsx
  frontend/src/pages/oanda-account-detail/formatters.ts
  frontend/src/pages/oanda-account-detail/useAccountSnapshotRefreshController.ts
Due: eslint, typescript-check, vitest

refactor(frontend): extract OANDA account detail tables
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/pages/oanda-account-detail/OrdersTable.tsx
  frontend/src/pages/oanda-account-detail/PositionsTable.tsx
Due: eslint, typescript-check, vitest

fix(trading): scope lifecycle task actions to owner
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/views/task_base.py
  backend/tests/integration/trading/test_task_service_ownership.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  backend/tests/unit/trading/views/test_trading_viewset.py
Due: ty, django-check, django-migrations-check, pytest

fix(test): stabilize parallel backend e2e suite
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/source.py
  backend/config/settings_test.py
  backend/tests/e2e/conftest.py
  backend/tests/integration/trading/test_stream_source_integration.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix(trading): enforce live start guardrails
  .env.example
  backend/apps/trading/services/live_risk.py
  backend/apps/trading/tasks/service.py
  backend/config/settings.py
  backend/tests/integration/trading/test_live_risk_guard.py
  backend/tests/unit/trading/services/test_live_risk.py
Due: ty, django-check, django-migrations-check, pytest

fix(trading): guard resumed live dispatches
  backend/apps/trading/services/live_risk.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/service.py
  backend/tests/integration/trading/test_live_risk_guard.py
Due: ty, django-check, django-migrations-check, pytest

fix(market): guard broker-bound orders
  .env.example
  backend/apps/market/services/broker_order_guard.py
  backend/apps/market/services/oanda.py
  backend/config/settings.py
  backend/tests/unit/market/services/test_broker_order_guard.py
  backend/tests/unit/market/services/test_oanda_service.py
Due: ty, django-check, django-migrations-check, pytest

fix(market): return explicit order guard errors
  backend/apps/market/views/order_errors.py
  backend/apps/market/views/orders.py
  backend/apps/market/views/positions.py
  backend/tests/e2e/market/test_market_orders_api.py
  backend/tests/e2e/market/test_market_positions_api.py
  backend/tests/integration/market/views/test_orders.py
  backend/tests/integration/market/views/test_positions.py
Due: ty, django-check, django-migrations-check, pytest

refactor(market): centralize live trading policy
  backend/apps/market/services/broker_order_guard.py
  backend/apps/market/services/live_trading_policy.py
  backend/apps/trading/services/live_risk.py
  backend/tests/unit/market/services/test_live_trading_policy.py
Due: ty, django-check, django-migrations-check, pytest

fix(trading): prevent stale lifecycle dispatches
  backend/apps/trading/tasks/recovery.py
  backend/apps/trading/tasks/service.py
  backend/tests/unit/trading/tasks/test_recovery.py
  backend/tests/unit/trading/tasks/test_service.py
Due: ty, django-check, django-migrations-check, pytest

fix(trading): guard lifecycle command races
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
Due: ty, django-check, django-migrations-check, pytest

refactor(trading): centralize lifecycle writes
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/lifecycle_writes.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
  backend/tests/unit/trading/tasks/test_lifecycle_writes.py
Due: ty, django-check, django-migrations-check, pytest

refactor(trading): centralize lifecycle event specs
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/lifecycle_events.py
  backend/tests/unit/trading/tasks/test_lifecycle_events.py
Due: ty, django-check, django-migrations-check, pytest

refactor(trading): carry lifecycle command transitions
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
Due: ty, django-check, django-migrations-check, pytest

refactor(trading): plan stop command transitions
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
Due: ty, django-check, django-migrations-check, pytest

refactor(trading): plan resume command transitions
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
Due: ty, django-check, django-migrations-check, pytest

refactor(trading): extract lifecycle command plans
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/lifecycle_plans.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
  backend/tests/unit/trading/tasks/test_lifecycle_plans.py
Due: ty, django-check, django-migrations-check, pytest

refactor(trading): extract lifecycle adapters
  backend/apps/trading/tasks/lifecycle_adapters.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
  backend/tests/unit/trading/tasks/test_service.py
Due: ty, django-check, django-migrations-check, pytest

refactor(trading): extract resume command validator
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/lifecycle_validators.py
  backend/tests/unit/trading/tasks/test_lifecycle_validators.py
Due: ty, django-check, django-migrations-check, pytest

refactor(trading): centralize lifecycle coordination keys
  backend/apps/trading/tasks/lifecycle_adapters.py
  backend/apps/trading/tasks/lifecycle_coordination.py
  backend/apps/trading/tasks/state.py
  backend/tests/unit/trading/tasks/test_lifecycle_adapters.py
  backend/tests/unit/trading/tasks/test_lifecycle_coordination.py
Due: ty, django-check, django-migrations-check, pytest

test(trading): cover lifecycle command transitions
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
Due: ty, django-check, django-migrations-check, pytest

refactor(trading): centralize coordination statuses
  backend/apps/trading/tasks/lifecycle_adapters.py
  backend/apps/trading/tasks/lifecycle_coordination.py
  backend/apps/trading/tasks/state.py
  backend/tests/unit/trading/tasks/test_lifecycle_adapters.py
  backend/tests/unit/trading/tasks/test_lifecycle_coordination.py
  backend/tests/unit/trading/tasks/test_state.py
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): guard task action buttons while pending
  frontend/src/components/common/TaskControlButtons.test.tsx
  frontend/src/components/common/TaskControlButtons.tsx
Due: eslint, typescript-check, vitest

fix(api): return structured task stop responses
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/task_base.py
  backend/apps/trading/views/trading.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  backend/tests/unit/trading/views/test_trading_viewset.py
  docs/openapi.json
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useTaskMutationFactory.ts
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/contracts.ts
  frontend/src/services/api/taskApiFactory.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/tests/unit/services/apiServices.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(market): avoid exposing order exceptions
  backend/AGENTS.md
  backend/apps/market/views/order_errors.py
  backend/tests/integration/market/views/test_orders.py
  backend/tests/integration/market/views/test_positions.py
Due: ty, django-check, django-migrations-check, pytest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
