Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

refactor(trading): extract Position model to separate file
  backend/apps/market/services/oanda.py
  backend/apps/trading/apps.py
  backend/apps/trading/enums.py
  backend/apps/trading/management/commands/check_task_status.py
  backend/apps/trading/migrations/0006_order_position.py
  backend/apps/trading/models/__init__.py
  backend/apps/trading/models/configs.py
  backend/apps/trading/models/events.py
  backend/apps/trading/models/orders.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/services/__init__.py
  backend/apps/trading/services/handler.py
  backend/apps/trading/services/order.py
  backend/apps/trading/services/task.py
  backend/apps/trading/strategies/__init__.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/strategies/registry.py
  backend/apps/trading/tasks/__init__.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/source.py
  backend/apps/trading/tasks/trading.py
  backend/apps/trading/views/strategies.py
Due: ty, django-check, django-migrations-check, pytest

refactor: task executor
  backend/apps/trading/engine.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/logging.py
  backend/apps/trading/management/commands/check_task_status.py
  backend/apps/trading/management/commands/stop_task.py
  backend/apps/trading/models/__init__.py
  backend/apps/trading/models/celery.py
  backend/apps/trading/models/floor.py
  backend/apps/trading/order.py
  backend/apps/trading/services/__init__.py
  backend/apps/trading/services/celery.py
  backend/apps/trading/services/controller.py
  backend/apps/trading/services/logging/__init__.py
  backend/apps/trading/services/logging/factory.py
  backend/apps/trading/services/logging/handler.py
  backend/apps/trading/strategies/floor/__init__.py
  backend/apps/trading/strategies/floor/calculators.py
  backend/apps/trading/strategies/floor/layer.py
  backend/apps/trading/strategies/floor/margin.py
  backend/apps/trading/strategies/floor/models.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/tasks/trading.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/trading.py
Due: ty, django-check, django-migrations-check, pytest

Fix task state mismatching issues
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/engine.py
  backend/apps/trading/management/commands/cleanup_stuck_tasks.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/task.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/tasks/trading.py
  backend/tests/integration/market/tasks/test_backtest.py
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/actions/TaskControlButtons.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: Merge table migration scripts in trading app.
  backend/apps/trading/migrations/0001_initial.py
  backend/apps/trading/migrations/0002_equities_executionstate_trades_tradingevents_and_more.py
  backend/apps/trading/migrations/0003_remove_task_metric_model.py
  backend/apps/trading/migrations/0004_rename_models_to_singular.py
  backend/apps/trading/migrations/0005_alter_backtesttask_status_and_more.py
  backend/apps/trading/migrations/0006_order_position.py
  backend/apps/trading/migrations/0007_layer.py
  backend/apps/trading/migrations/0008_alter_tradingevent_task_id.py
  backend/apps/trading/migrations/0009_remove_retry_fields.py
Due: ty, django-check, django-migrations-check, pytest

chore: update progress status logging frequency to 10000.
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
Due: ty, django-check, django-migrations-check, pytest

feat(replay): switch to tick chart and scope trades/timeline to latest execution
  backend/apps/trading/events/handler.py
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(replay): rebuild backtest replay with OANDA candles, adaptive time axis, and run-scoped trade metrics
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

feat: add adaptive time scale plugin with two-line labels and custom grid
  .vscode/settings.json
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/utils/MarketClosedHighlight.ts
  frontend/src/utils/adaptiveTimeScalePlugin.ts
  frontend/src/utils/marketClosedMarkers.ts
Due: eslint, typescript-check, vitest

fix: failing tests.
  frontend/src/components/common/ExecutionDataProvider.tsx
  frontend/src/components/common/TaskControlButtons.tsx
  frontend/src/components/common/index.ts
  frontend/tests/unit/components/charts/EquityOHLCChart.test.tsx
  frontend/tests/unit/pages/BacktestTaskDetail.test.tsx
  frontend/tests/unit/pages/BacktestTaskList.test.tsx
  frontend/tests/unit/pages/TradingTaskDetail.test.tsx
Due: eslint, typescript-check, vitest

Fix lint issues.
  backend/apps/market/services/compliance.py
  backend/apps/market/services/oanda.py
  backend/apps/market/views/ticks.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/logging.py
  backend/apps/trading/migrations/0002_trade_layer_index.py
  backend/apps/trading/order.py
  backend/apps/trading/strategies/floor/layer.py
  backend/apps/trading/strategies/floor/models.py
  backend/tests/integration/market/tasks/test_backtest.py
  backend/tests/unit/trading/events/test_event_handler_margin.py
  backend/tests/unit/trading/strategies/test_floor_strategy.py
  frontend/eslint.config.js
  frontend/src/contexts/AuthContext.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: unify Overview PnL calculation with Replay using trade-based fallback
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useOverviewPnl.ts
Due: eslint, typescript-check, vitest

feat(TaskReplayPanel): add table sorting, pagination, and improve data refresh UX
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
Due: eslint, typescript-check, vitest

fix: failing tests
  backend/tests/integration/accounts/views/test_notifications.py
  backend/tests/unit/trading/events/test_event_handler_margin.py
  frontend/tests/unit/components/common/TaskControlButtons.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: cast window through unknown for Record<string, unknown> conversion
  frontend/src/contexts/AuthContext.tsx
Due: eslint, typescript-check, vitest

Use distinct PlayCircleOutline icon for Resume button
  frontend/src/components/common/TaskControlButtons.tsx
  frontend/src/components/tasks/actions/TaskActionButtons.tsx
  frontend/src/components/tasks/actions/TaskControlButtons.tsx
Due: eslint, typescript-check, vitest

fix: minor ui issues
  backend/apps/market/services/oanda.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0007_add_last_tick_price_to_execution_state.py
  backend/apps/trading/models/state.py
  backend/apps/trading/order.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/task.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  backend/openapi.yaml
  frontend/src/api/generated/models/BacktestTask.ts
  frontend/src/api/generated/models/TradingTask.ts
  frontend/src/api/generated/services/TradingService.ts
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useBacktestTasks.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/hooks/useTradingTasks.ts
  frontend/src/pages/TradingTaskDetailPage.tsx
  frontend/src/services/polling/TaskPollingService.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/tradingTask.ts
  frontend/src/utils/SequencePositionLine.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: minor issues.
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0008_add_retracement_count_to_trade.py
  backend/apps/trading/migrations/0009_populate_pip_size.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/schemas/floor.json
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/strategies/floor/layer.py
  backend/apps/trading/strategies/floor/models.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/trading.py
  backend/apps/trading/utils.py
  backend/apps/trading/views/mixins.py
  backend/tests/unit/trading/events/test_event_handler_margin.py
  frontend/src/api/generated/models/Trade.ts
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/common/DataTable.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/settings/StrategyDefaults.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/forms/ConfigurationSelector.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: failing tests.
  frontend/tests/unit/pages/BacktestTaskDetail.test.tsx
  frontend/tests/unit/pages/TradingTaskDetail.test.tsx
Due: eslint, typescript-check, vitest

fix: floor strategy parameters
  .vscode/settings.json
  backend/apps/trading/engine.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/models/configs.py
  backend/apps/trading/schemas/floor.json
  backend/apps/trading/serializers/task.py
  backend/apps/trading/strategies/floor/enums.py
  backend/apps/trading/strategies/floor/layer.py
  backend/apps/trading/strategies/floor/margin.py
  backend/apps/trading/strategies/floor/models.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/trading.py
  backend/apps/trading/views/configs.py
  backend/config/settings.py
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/configurations/ConfigurationDeleteDialog.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/configurations/strategyConfigSchemas.ts
  frontend/src/components/settings/StrategyDefaults.tsx
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/strategy.ts
  frontend/src/utils/SequencePositionLine.ts
  frontend/tests/unit/pages/BacktestTaskDetail.test.tsx
  frontend/tests/unit/pages/TradingTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: market chart issues
  backend/apps/trading/enums.py
  backend/apps/trading/events/__init__.py
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/strategies/floor/hedge_neutralizer.py
  backend/apps/trading/strategies/floor/models.py
  backend/apps/trading/strategies/floor/strategy.py
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useBacktestTasks.ts
  frontend/src/hooks/useChartPreferences.ts
  frontend/src/hooks/useTradingTasks.ts
  frontend/src/pages/DashboardPage.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: minor issues
  .vscode/settings.json
  backend/apps/trading/dataclasses/result.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/logging.py
  backend/apps/trading/migrations/0010_add_metric_snapshot.py
  backend/apps/trading/migrations/0011_allow_null_component_on_task_log.py
  backend/apps/trading/models/__init__.py
  backend/apps/trading/models/logs.py
  backend/apps/trading/models/metric_snapshots.py
  backend/apps/trading/strategies/floor/candle.py
  backend/apps/trading/strategies/floor/models.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/views/mixins.py
  backend/tests/unit/trading/strategies/test_floor_strategy.py
  frontend/src/components/backtest/BacktestTaskActions.tsx
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/components/trading/TradingTaskActions.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/TradingTaskDetailPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/src/utils/SequencePositionLine.ts
  frontend/src/utils/fetchMetricSnapshots.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: add delete confirmation dialog to backtest and trading tasks
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

fix: sequence poline line
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/task.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/source.py
  backend/apps/trading/views/mixins.py
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/utils/fetchMetricSnapshots.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: make Flushed metric snapshots log to debug
  backend/apps/trading/tasks/executor.py
Due: ty, django-check, django-migrations-check, pytest

chore: disable resume and pause action
  backend/apps/trading/views/trading.py
  frontend/src/api/generated/services/TradingService.ts
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/common/TaskControlButtons.tsx
  frontend/src/components/tasks/actions/TaskActionButtons.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/pages/TradingTaskDetailPage.tsx
  frontend/src/services/api/tradingTasks.ts
  frontend/tests/unit/components/common/TaskControlButtons.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: remove realized pnl calculation from backend.
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0018_remove_position_realized_pnl.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/order.py
  backend/apps/trading/serializers/events.py
  backend/tests/unit/trading/events/test_event_handler_margin.py
  frontend/src/components/common/DataTable.tsx
  frontend/src/components/common/TableSelectionToolbar.tsx
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/display/ExecutionComparisonView.tsx
  frontend/src/components/tasks/display/ExecutionSummaryCard.tsx
  frontend/src/components/tasks/display/TradeHistoryTable.tsx
  frontend/src/components/trading/detail/RecentTradesLog.tsx
  frontend/src/hooks/useOverviewPnl.ts
  frontend/src/hooks/useTableRowSelection.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/execution.ts
  frontend/src/types/position.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: table selection mode
  frontend/src/components/common/DataTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/pages/BacktestTaskFormPage.tsx
Due: eslint, typescript-check, vitest

fix: trade table selection issue
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/hooks/useTableRowSelection.ts
  frontend/src/hooks/useTaskTrades.ts
Due: eslint, typescript-check, vitest

fix: wrong position handling
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0019_add_trade_timestamps.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/tasks/executor.py
Due: ty, django-check, django-migrations-check, pytest

fix: remove execution time limit from backtest task.
  backend/apps/trading/tasks/backtest.py
Due: ty, django-check, django-migrations-check, pytest

fix: minor issues
  backend/apps/market/services/oanda.py
  backend/apps/trading/engine.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0020_change_trading_mode_default_to_hedging.py
  backend/apps/trading/migrations/0021_add_oanda_trade_id_to_position.py
  backend/apps/trading/migrations/0022_update_order_trade_for_trade_id_close.py
  backend/apps/trading/migrations/0023_add_retracement_count_to_position_and_celery_task_id_to_order.py
  backend/apps/trading/migrations/0024_fix_trading_tasks_id_bigint_to_uuid.py
  backend/apps/trading/migrations/0025_drop_floor_strategy_task_states.py
  backend/apps/trading/migrations/0026_drop_orphaned_trading_tasks_columns.py
  backend/apps/trading/migrations/0027_alter_order_direction.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/models/orders.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/order.py
  backend/apps/trading/schemas/floor.json
  backend/apps/trading/serializers/events.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/strategies/floor/models.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/strategies/registry.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/trading.py
  backend/apps/trading/views/mixins.py
  backend/tests/unit/trading/events/test_event_handler_margin.py
  backend/tests/unit/trading/strategies/test_floor_strategy.py
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskTrades.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix minor issues
  backend/apps/trading/enums.py
  backend/apps/trading/migrations/0028_remove_trading_mode.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/task.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/views/trading.py
  backend/docs/api.html
  backend/openapi.yaml
  frontend/src/api/generated/index.ts
  frontend/src/api/generated/models/BacktestTask.ts
  frontend/src/api/generated/models/BacktestTaskCreate.ts
  frontend/src/api/generated/models/BacktestTaskCreateRequest.ts
  frontend/src/api/generated/models/BacktestTaskRequest.ts
  frontend/src/api/generated/models/PatchedBacktestTaskCreateRequest.ts
  frontend/src/api/generated/models/TradingModeEnum.ts
  frontend/src/api/generated/models/TradingTask.ts
  frontend/src/api/generated/models/TradingTaskRequest.ts
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/forms/DateRangePicker.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/services/api/backtestTasks.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/common.ts
  frontend/src/types/tradingTask.ts
  frontend/tests/unit/pages/BacktestTaskDetail.test.tsx
  frontend/tests/unit/pages/TradingTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest
