Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(strategy): show historical slot loss-cut states
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/gridState.ts
  frontend/tests/unit/components/tasks/detail/strategy/gridState.test.ts
Due: eslint, typescript-check, vitest

fix(strategy): clamp rebuild entry price to preserve grid ordering
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): show historical slot loss-cut states (#582)
  backend/apps/accounts/middlewares/security.py
  backend/apps/accounts/services/jwt.py
  backend/apps/accounts/services/sessions.py
  backend/apps/accounts/views/login.py
  backend/apps/accounts/views/logout.py
  backend/tests/integration/accounts/views/test_logout.py
  backend/tests/integration/accounts/views/test_refresh.py
  backend/tests/unit/accounts/services/test_jwt.py
  backend/tests/unit/accounts/views/test_logout.py
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/gridState.ts
  frontend/tests/unit/components/tasks/detail/strategy/gridState.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): clamp rebuild entry price to preserve grid ordering (#584)
  backend/apps/trading/strategies/snowball/strategy.py
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): guard layer initial entry against grid ordering violation
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): guard layer initial entry against grid ordering violation (#586)
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): map sell_on_stop correctly for backtest tasks
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: eslint, typescript-check, vitest

fix: backtest sell on stop field mapping (#588)
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: eslint, typescript-check, vitest

refactor: improve code quality foundations
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  backend/pyproject.toml
  backend/uv.lock
  docs/openapi.json
  frontend/eslint.config.js
  frontend/src/api/apiClient.ts
  frontend/src/api/client.ts
  frontend/src/api/retryInterceptor.ts
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/forms/backtestTaskPayload.test.ts
  frontend/src/components/tasks/forms/backtestTaskPayload.ts
  frontend/src/main.tsx
  frontend/tests/unit/api/apiClient.test.ts
  frontend/tests/unit/api/client.test.ts
  frontend/tests/unit/api/retryInterceptor.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

style: normalize frontend layout density
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/dashboard/useMarketChartDataSync.ts
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/taskLogComponentQueries.ts
  frontend/src/hooks/taskMutationCache.ts
  frontend/src/hooks/useIncrementalTaskResource.ts
  frontend/src/hooks/useOptimisticTaskStatus.ts
  frontend/src/hooks/useTaskLogComponents.ts
  frontend/src/hooks/useTaskLogs.ts
  frontend/src/hooks/useTaskMetrics.ts
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskStrategyEvents.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/i18n/i18next.d.ts
  frontend/src/index.css
  frontend/src/theme/theme.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/execution.ts
  frontend/src/types/tradingTask.ts
  frontend/src/utils/persistentState.ts
  frontend/tests/e2e/fixtures/auth.ts
  frontend/tests/e2e/helpers/chart.ts
  frontend/tests/e2e/helpers/form.ts
  frontend/tests/e2e/helpers/navigation.ts
  frontend/tests/e2e/helpers/table.ts
  frontend/tests/e2e/helpers/task.ts
  frontend/vite.config.ts
Due: eslint, typescript-check, vitest

test: add frontend visual quality checks
  frontend/package.json
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/theme/darkTheme.ts
  frontend/src/theme/density.ts
  frontend/src/theme/highContrastTheme.ts
  frontend/src/theme/theme.ts
  frontend/tests/e2e/visual.spec.ts
  frontend/tests/integration/hooks/useTaskPolling.test.tsx
Due: eslint, typescript-check, vitest

test: strengthen backend frontend quality coverage
  backend/apps/trading/views/query_params.py
  backend/pyproject.toml
  backend/tests/unit/market/services/test_oanda.py
  backend/tests/unit/trading/views/test_query_params.py
  frontend/package.json
  frontend/tests/e2e/visual.spec.ts
  frontend/tests/integration/pages/LoginPage.test.tsx
  frontend/tests/integration/pages/RegisterPage.test.tsx
  frontend/tests/utils/formTestUtils.ts
  frontend/vite.config.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: resume backtests from saved tick state
  backend/apps/trading/models/backtest.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/tests/integration/trading/test_serializers_integration.py
  backend/tests/integration/trading/test_stream_source_integration.py
  backend/tests/unit/trading/serializers/test_backtest.py
  backend/tests/unit/trading/tasks/test_backtest_task.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/components/tasks/detail/TaskSettingsList.tsx
  frontend/src/components/tasks/detail/taskSettingsFormat.ts
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(backtest): stabilize resume metrics and add visual baselines
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/trading/tasks/test_executor.py
  frontend/tests/e2e/visual.spec.ts-snapshots/backtest-tasks-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/backtest-tasks-mobile-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/configurations-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/configurations-mobile-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/dashboard-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/dashboard-mobile-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/profile-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/profile-mobile-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/settings-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/settings-mobile-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/trading-tasks-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/trading-tasks-mobile-chromium-linux.png
Due: ty, django-check, django-migrations-check, pytest

refactor: unify task detail layout and harden metrics/ci
  .github/workflows/test.yml
  backend/apps/trading/services/runtime_metrics.py
  backend/tests/unit/trading/services/test_runtime_metrics.py
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/common/LazyTabPanel.tsx
  frontend/src/components/tasks/detail/TaskDetailTabs.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/detailLayout.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/theme/density.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor: harden lifecycle transitions and unify metrics metadata
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskSettingsList.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat: harden resume flow and unify task detail contracts
  .github/workflows/flaky-tests.yml
  backend/apps/trading/migrations/0051_backtesttask_dispatch_idempotency_key_and_more.py
  backend/apps/trading/models/__init__.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/models/metrics.py
  backend/apps/trading/models/state.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/services/metrics_aggregator.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/lifecycle_state_machine.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/tasks/trading.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/contract/test_openapi_snapshot.py
  backend/tests/unit/trading/tasks/test_backtest_task.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/tests/unit/trading/tasks/test_lifecycle_state_machine.py
  backend/tests/unit/trading/tasks/test_service.py
  backend/tests/unit/trading/tasks/test_trading_task.py
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/StrategyParameterDialog.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/TaskSettingsList.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/theme/density.test.ts
  frontend/src/theme/density.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): harden recovery and resume observability
  backend/apps/trading/migrations/0052_executionmetricaggregate_balance_max_and_more.py
  backend/apps/trading/models/metrics.py
  backend/apps/trading/serializers/summary.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/metrics_aggregator.py
  backend/apps/trading/services/oanda_retry.py
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/tasks/recovery.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_serializers_integration.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/tasks/test_recovery.py
  backend/tests/unit/trading/tasks/test_service.py
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/useTaskMetrics.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/utils/fetchMetrics.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(metrics): avoid stack overflow on large series
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  frontend/src/components/tasks/detail/StrategyParameterDialog.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/tests/integration/components/TaskMetricsTab.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(tasks): improve metrics loading and recovery diagnostics
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/recovery.py
  backend/apps/trading/views/mixins.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskMetrics.ts
  frontend/src/utils/fetchMetrics.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(tasks): audit recovery and split state handling
  backend/apps/trading/migrations/0053_recoveryattempt.py
  backend/apps/trading/models/__init__.py
  backend/apps/trading/models/logs.py
  backend/apps/trading/tasks/execution_state_store.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/recovery.py
  backend/apps/trading/views/errors.py
  backend/apps/trading/views/task_base.py
  backend/tests/unit/trading/tasks/test_execution_state_store.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/tests/unit/trading/tasks/test_recovery.py
  frontend/src/api/apiClient.ts
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/useTaskPositionFilters.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ci: run backend e2e tests serially
  .github/workflows/test.yml
Due: none

refactor: harden api errors and test workflows
  .github/workflows/test.yml
  backend/apps/accounts/api_logging.py
  backend/apps/trading/admin.py
  backend/tests/e2e/conftest.py
  backend/tests/integration/trading/test_executor_integration.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/accounts/test_api_logging.py
  frontend/src/components/tasks/detail/TaskPositionFilterBar.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/hooks/useTaskMetrics.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor: expose recovery audits and error schema
  .github/workflows/test.yml
  backend/apps/trading/serializers/__init__.py
  backend/apps/trading/serializers/task.py
  backend/apps/trading/urls.py
  backend/apps/trading/views/__init__.py
  backend/apps/trading/views/recovery.py
  backend/config/settings_parts/rest.py
  backend/tests/integration/trading/test_recovery_attempts_api.py
  docs/openapi.json
  frontend/src/api/apiClient.ts
  frontend/src/api/index.ts
  frontend/src/components/tasks/detail/TaskPositionModeViews.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/types/common.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ci: preserve backend pytest import mode
  .github/workflows/test.yml
Due: none

ci: update test workflow actions
  .github/workflows/test.yml
Due: none

ci: share backend pytest command definitions
  .github/workflows/test.yml
  .pre-commit-config.yaml
  backend/scripts/__init__.py
  backend/scripts/ci_pytest.py
  backend/tests/unit/scripts/__init__.py
  backend/tests/unit/scripts/test_ci_pytest.py
Due: ty, django-check, django-migrations-check, pytest

fix(ci): parse backend pytest wrapper options
  .github/workflows/test.yml
  backend/scripts/ci_pytest.py
  backend/tests/unit/scripts/test_ci_pytest.py
Due: ty, django-check, django-migrations-check, pytest

fix(ci): use setup-uv release tag
  .github/workflows/test.yml
Due: none

fix: improve task detail and dashboard UI
  backend/apps/trading/services/summary.py
  backend/tests/unit/trading/services/test_summary_stop_reason.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/common/Breadcrumbs.tsx
  frontend/src/components/common/DataTable.tsx
  frontend/src/components/common/PageContainer.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/settings/DataSettings.tsx
  frontend/src/components/settings/DisplaySettings.tsx
  frontend/src/components/settings/GeneralSettings.tsx
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/components/tasks/detail/TaskSettingsList.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/settings.json
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/pages/ConfigurationFormPage.tsx
  frontend/src/pages/ConfigurationsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/pages/OandaAccountsPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/TradingTaskFormPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/tests/e2e/visual.spec.ts-snapshots/trading-tasks-mobile-chromium-linux.png
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: improve task detail and dashboard UI (#593)
  backend/apps/trading/services/summary.py
  backend/tests/unit/trading/services/test_summary_stop_reason.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/common/Breadcrumbs.tsx
  frontend/src/components/common/DataTable.tsx
  frontend/src/components/common/PageContainer.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/settings/DataSettings.tsx
  frontend/src/components/settings/DisplaySettings.tsx
  frontend/src/components/settings/GeneralSettings.tsx
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/components/tasks/detail/TaskSettingsList.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/settings.json
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/pages/ConfigurationFormPage.tsx
  frontend/src/pages/ConfigurationsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/pages/OandaAccountsPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/TradingTaskFormPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/tests/e2e/visual.spec.ts-snapshots/trading-tasks-mobile-chromium-linux.png
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

chore(frontend): add playwright report script
  frontend/package.json
Due: none

chore(frontend): add playwright report script (#595)
  frontend/package.json
Due: none

fix(frontend): improve task detail layout coverage
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/common/DataTable.tsx
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/tests/e2e/layout-structure.spec.ts
  frontend/tests/integration/components/DataTable.test.tsx
Due: eslint, typescript-check, vitest

chore(hooks): scope pre-push checks by changed area
  .pre-commit-config.yaml
  scripts/prepush_changed_checks.sh
Due: none

test(frontend): wait for settings tabs in layout e2e
  frontend/tests/e2e/layout-structure.spec.ts
Due: eslint, typescript-check, vitest

fix(frontend): improve task detail layout coverage (#596)
  .pre-commit-config.yaml
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/common/DataTable.tsx
  frontend/src/components/tasks/detail/ChartPanel.tsx
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/tests/e2e/layout-structure.spec.ts
  frontend/tests/integration/components/DataTable.test.tsx
  scripts/prepush_changed_checks.sh
Due: eslint, typescript-check, vitest

fix(frontend): reduce metrics chart axis padding
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): reduce metrics chart axis padding (#598)
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
Due: eslint, typescript-check, vitest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
