Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(ui): unify table rowsPerPageOptions to [10, 25, 50, 100, 200, 500, 1000]
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
Due: eslint, typescript-check, vitest

fix(ui): hide debug options when disabled, add ATR to results
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(ui): show task ID in overview tab
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(snowball): require adverse distance before creating new layer
  .vscode/settings.json
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(test): polyfill localStorage.clear for Node.js 22+
  frontend/src/test/setup.ts
Due: eslint, typescript-check, vitest

fix: table page sizes (#309)
  .vscode/settings.json
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/test/setup.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(metrics): add current_balance and extra fields to execution snapshot
  backend/apps/trading/services/execution_metrics.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(positions): add adverse_pips column to positions
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0033_add_adverse_pips_to_position.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/serializers/events.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: execution metrics snapshot (#311)
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0033_add_adverse_pips_to_position.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/services/execution_metrics.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(events): restore actual_interval_pips in OpenPositionEvent.from_dict
  backend/apps/trading/events/base.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(events): restore actual_interval_pips in OpenPositionEvent.from_dict (#313)
  backend/apps/trading/events/base.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(ui): move adverse pips column next to retracement
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
Due: eslint, typescript-check, vitest

fix(snowball): compute adverse_pips for layer initial entries (L2+ R0)
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix: adverse pips from dict (#315)
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(snowball): rewrite shrink to close positions until m1_th target
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

refactor(snowball): remove rebalance margin protection
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): preserve highest R per layer in shrink candidate selection
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

refactor(snowball): remove dynamic TP (ATR) and spread guard
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
Due: ty, django-check, django-migrations-check, pytest

refactor(snowball): remove dynamic TP (ATR) and spread guard
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/integration/trading/test_snowball_integration.py
Due: ty, django-check, django-migrations-check, pytest

fix: clean up removed feature references and fix empty params serializer
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/enums.py
  backend/test_db.sqlite3-journal
  backend/tests/e2e/trading/test_snowball_configs_api.py
  backend/tests/unit/trading/strategies/snowball/test_enums.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: remove remaining rebalance references from i18n and frontend
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: none

feat: add shrink v2 (#317)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/enums.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/test_db.sqlite3-journal
  backend/tests/e2e/trading/test_snowball_configs_api.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/integration/trading/test_snowball_integration.py
  backend/tests/unit/trading/strategies/snowball/test_enums.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(frontend): add metrics tab and latest metrics in overview
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/LatestMetricsSummary.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/useTaskMetrics.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
Due: eslint, typescript-check, vitest

feat: add protection markers to trades and positions tables
  backend/apps/trading/serializers/events.py
  backend/apps/trading/views/mixins.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: rename 証拠金維持率 to 証拠金清算割合 (margin closeout ratio)
  backend/apps/trading/schemas/floor.json
  backend/apps/trading/schemas/snowball.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: django-check, django-migrations-check

fix(strategy): fix invalid format string in close order violation detail
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): recalculate counter TPs after shrink closes entries
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

feat: add metrics tab (#319)
  backend/apps/trading/schemas/floor.json
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/serializers/events.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/views/mixins.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/LatestMetricsSummary.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/useTaskMetrics.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: protection close labels and margin ratio display
  backend/apps/trading/serializers/events.py
  backend/apps/trading/services/strategy_cycles.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: store margin_ratio on Trade model instead of parsing description
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0034_add_margin_ratio_to_trade.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/test_db.sqlite3-journal
Due: ty, django-check, django-migrations-check, pytest

fix: protection labels and margin (#321)
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0034_add_margin_ratio_to_trade.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/test_db.sqlite3-journal
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): correct shrink close order to start from lowest layer/R first
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix(trading): set execution_method to protection close_reason on Trade records
  backend/apps/trading/events/handler.py
  backend/apps/trading/services/strategy_cycles.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix: shrink close order and reason (#323)
  backend/apps/trading/events/handler.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): keep action dialog open during task lifecycle mutations
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

fix(events): restore close_reason and margin_ratio in ClosePositionEvent.from_dict
  backend/apps/trading/events/base.py
  backend/apps/trading/serializers/events.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix: task lifecycle actions (#325)
  backend/apps/trading/events/base.py
  backend/apps/trading/serializers/events.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(snowball): unified position grid with bidirectional close
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(tests): update integration tests for unified grid format
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
Due: ty, django-check, django-migrations-check, pytest

fix: snowball unified position grid (#327)
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
