Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(deploy): add OANDA_TOKEN_ENCRYPTION_KEY to container environment
  docker-compose.prod.yaml
  docker-compose.yaml
Due: none

fix(deploy): add OANDA_TOKEN_ENCRYPTION_KEY to container environment (#142)
  docker-compose.prod.yaml
  docker-compose.yaml
Due: none

fix(ui): invalidate list queries after mutations to ensure fresh data
  frontend/src/hooks/configurationMutationCache.ts
  frontend/src/hooks/taskMutationCache.ts
Due: eslint, typescript-check, vitest

fix(ui): invalidate list queries after mutations to ensure fresh data (#144)
  frontend/src/hooks/configurationMutationCache.ts
  frontend/src/hooks/taskMutationCache.ts
Due: eslint, typescript-check, vitest

refactor: deduplicate task lifecycle, remove dead auth checks, add copy endpoint
  backend/apps/market/views/oanda.py
  backend/apps/market/views/orders.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/task_base.py
  backend/apps/trading/views/trading.py
  backend/config/responses.py
  backend/tests/unit/market/views/test_oanda.py
  docker-compose.prod.yaml
  docs/openapi.json
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useTaskMutationFactory.ts
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/tradingTasks.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor: deduplicate task lifecycle, remove dead auth checks, add copy endpoint (#146)
  backend/apps/market/views/oanda.py
  backend/apps/market/views/orders.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/task_base.py
  backend/apps/trading/views/trading.py
  backend/config/responses.py
  backend/tests/unit/market/views/test_oanda.py
  docker-compose.prod.yaml
  docs/openapi.json
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useTaskMutationFactory.ts
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/tradingTasks.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor: extract task runner, decompose candle view, fix logging, add indexes
  backend/apps/market/views/account_helpers.py
  backend/apps/market/views/candles.py
  backend/apps/market/views/orders.py
  backend/apps/market/views/positions.py
  backend/apps/trading/migrations/0027_add_user_created_at_index.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/recovery.py
  backend/apps/trading/tasks/task_runner.py
  backend/apps/trading/tasks/trading.py
  backend/tests/unit/market/views/test_candles_view.py
  backend/tests/unit/trading/tasks/test_backtest_task.py
  backend/tests/unit/trading/tasks/test_recovery.py
  backend/tests/unit/trading/tasks/test_trading_task.py
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/openapi.json
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useTaskControls.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(security): prevent information exposure through exceptions (CWE-209)
  backend/apps/market/services/oanda.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/configs.py
  backend/apps/trading/views/task_base.py
  backend/apps/trading/views/trading.py
  backend/uv.lock
Due: ty, django-check, django-migrations-check, pytest

refactor: fix duplicate model field, extract middleware utils, harden auth timing
  backend/apps/accounts/middlewares/logging.py
  backend/apps/accounts/middlewares/security.py
  backend/apps/accounts/middlewares/utils.py
  backend/apps/accounts/services/jwt.py
  backend/apps/market/models/oanda.py
  backend/apps/trading/migrations/0028_alter_trade_description.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/models/trades.py
  backend/tests/unit/accounts/middlewares/test_logging.py
  backend/tests/unit/accounts/middlewares/test_security.py
  frontend/src/api/retryInterceptor.ts
  frontend/src/contexts/AuthContext.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor: remove dead WebSocket infra, deduplicate task API, harden prod config
  backend/config/settings_parts/celery.py
  docker-compose.prod.yaml
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/taskApiFactory.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/utils/authEvents.ts
  nginx/conf.d/dev.conf
  nginx/conf.d/prod.conf
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor: extract event parsing utils, fix recovery N+1 and race condition
  backend/apps/trading/events/base.py
  backend/apps/trading/events/parsing.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/recovery.py
  backend/tests/unit/trading/tasks/test_recovery.py
  docs/openapi.json
  frontend/src/hooks/useBacktestTasks.ts
  frontend/src/hooks/useTradingTasks.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(market): add daily tick data loading via Celery Beat
  .env.example
  AGENTS.md
  DEVELOPMENT.md
  backend/apps/market/tasks/__init__.py
  backend/apps/market/tasks/load_data.py
  backend/config/settings_parts/celery.py
  docker-compose.prod.yaml
  docker-compose.yaml
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): fix taskApiFactory type constraints and useTaskControls isPending
  frontend/src/hooks/useTaskControls.ts
  frontend/src/services/api/taskApiFactory.ts
Due: eslint, typescript-check, vitest

ci(docker): skip image push and multi-arch build on PRs
  .github/workflows/build-and-deploy.yml
  frontend/Dockerfile
Due: none

ci(docker): skip image push and multi-arch build on PRs (#149)
  .github/workflows/build-and-deploy.yml
  frontend/Dockerfile
Due: none

fix(deploy): remove docker resource limits unsupported by host kernel
  docker-compose.prod.yaml
Due: none

fix(deploy): remove docker resource limits unsupported by host kernel (#150)
  docker-compose.prod.yaml
Due: none

perf(docker): pin frontend build stage to amd64 to avoid QEMU emulation
  frontend/Dockerfile
Due: none

perf(docker): pin frontend build stage to amd64 to avoid QEMU emulation (#152)
  frontend/Dockerfile
Due: none

feat(backup): replace db-backup container with Celery task and S3 upload
  .env.example
  backend/config/celery.py
  backend/config/settings_parts/celery.py
  backend/config/tasks/__init__.py
  backend/config/tasks/db_backup.py
  backend/uv.lock
  docker-compose.prod.yaml
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

docs: remove oanda-key-rotation.md
  docs/oanda-key-rotation.md
Due: none

feat(celery): db backup s3 (#154)
  .env.example
  backend/config/celery.py
  backend/config/settings_parts/celery.py
  backend/config/tasks/__init__.py
  backend/config/tasks/db_backup.py
  backend/uv.lock
  docker-compose.prod.yaml
  docs/oanda-key-rotation.md
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

chore(ci): replace version-bump with release-please
  .github/workflows/release-please.yml
  .github/workflows/version-bump.yml
  .release-please-manifest.json
  AGENTS.md
  release-please-config.json
Due: none

refactor: replace daphne/channels with uvicorn
  AGENTS.md
  backend/apps/accounts/middlewares/__init__.py
  backend/apps/accounts/middlewares/jwt.py
  backend/config/asgi.py
  backend/config/settings.py
  backend/config/settings_e2e.py
  backend/config/settings_test.py
  backend/pyproject.toml
  backend/tests/unit/accounts/middlewares/test_jwt.py
  backend/uv.lock
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

docs: update AGENTS.md and README.md to reflect daphne→uvicorn change
  AGENTS.md
  README.md
Due: none

chore: remove unused /ws proxy from vite dev server config
  frontend/vite.config.ts
Due: eslint, typescript-check, vitest

chore(ci): replace version-bump with release-please (#156)
  .github/workflows/release-please.yml
  .github/workflows/version-bump.yml
  .release-please-manifest.json
  AGENTS.md
  release-please-config.json
Due: none

Refactor/remove channels use uvicorn (#157)
  AGENTS.md
  README.md
  backend/apps/accounts/middlewares/__init__.py
  backend/apps/accounts/middlewares/jwt.py
  backend/config/asgi.py
  backend/config/settings.py
  backend/config/settings_e2e.py
  backend/config/settings_test.py
  backend/pyproject.toml
  backend/tests/unit/accounts/middlewares/test_jwt.py
  backend/uv.lock
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/openapi.json
  frontend/vite.config.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: resolve backend code quality issues
  backend/apps/accounts/middlewares/security.py
  backend/apps/accounts/middlewares/utils.py
  backend/apps/accounts/services/jwt.py
  backend/apps/accounts/views/login.py
  backend/apps/accounts/views/logout.py
  backend/apps/accounts/views/refresh.py
  backend/apps/accounts/views/registration.py
  backend/config/settings_e2e.py
  backend/config/settings_parts/security.py
  backend/config/settings_test.py
  backend/tests/unit/accounts/views/test_login.py
  backend/tests/unit/accounts/views/test_logout.py
  backend/tests/unit/accounts/views/test_registration.py
Due: ty, django-check, django-migrations-check, pytest

fix: resolve backend code quality issues (#160)
  backend/apps/accounts/middlewares/security.py
  backend/apps/accounts/middlewares/utils.py
  backend/apps/accounts/services/jwt.py
  backend/apps/accounts/views/login.py
  backend/apps/accounts/views/logout.py
  backend/apps/accounts/views/refresh.py
  backend/apps/accounts/views/registration.py
  backend/config/settings_e2e.py
  backend/config/settings_parts/security.py
  backend/config/settings_test.py
  backend/tests/unit/accounts/views/test_login.py
  backend/tests/unit/accounts/views/test_logout.py
  backend/tests/unit/accounts/views/test_registration.py
Due: ty, django-check, django-migrations-check, pytest

fix: independent versioning and show both versions in footer
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  release-please-config.json
Due: eslint, typescript-check, vitest

fix: move version display from footer to settings page
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/settings/GeneralSettings.tsx
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/settings.json
Due: eslint, typescript-check, vitest

chore: replace version bump with release please (#162)
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/settings/GeneralSettings.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/settings.json
  release-please-config.json
Due: eslint, typescript-check, vitest

fix(trading): strategy-events returns all groups instead of only group 1
  backend/apps/trading/views/query_params.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix: login race condition and trend chart marker disappearance
  backend/uv.lock
  frontend/src/components/tasks/detail/taskTrendPanel/shared.ts
  frontend/src/contexts/AuthContext.tsx
Due: django-check, django-migrations-check, eslint, typescript-check, vitest

fix: strategy events root entry id default (#163)
  backend/apps/trading/views/query_params.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/taskTrendPanel/shared.ts
  frontend/src/contexts/AuthContext.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

chore(ci): deploy only on release-please version tags
  .github/workflows/build-and-deploy.yml
  AGENTS.md
Due: none

chore(ci): deploy only on release-please version tags (#165)
  .github/workflows/build-and-deploy.yml
  AGENTS.md
Due: none

fix(ui): strategy tab cycle list overflow and flow chart scrolling
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
