Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

fix(frontend): independent scroll for strategy sidebar and detail panel (#202)
  AGENTS.md
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(strategy): DB fallback for cycle_id, granularity selector, chart fixes
  AGENTS.md
  backend/apps/trading/events/handler.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): DB fallback for cycle_id, granularity selector, chart … (#204)
  AGENTS.md
  backend/apps/trading/events/handler.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): add sequence_number to preserve event ordering within same tick
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0030_add_sequence_number.py
  backend/apps/trading/models/events.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(trading): add sequence_number to preserve event ordering within … (#206)
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0030_add_sequence_number.py
  backend/apps/trading/models/events.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): fix OHLC chart not rendering after recreation and add reload button
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendToolbar.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendViewModel.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(frontend): fix OHLC chart not rendering after recreation and add … (#209)
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendToolbar.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendViewModel.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(frontend): fix strategy tab OHLC chart not rendering on cycle switch
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): fix strategy tab OHLC chart not rendering on cycle switch (#211)
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): show time axis labels for H4 and Daily candles
  frontend/src/utils/adaptiveTimeScalePlugin.ts
Due: eslint, typescript-check, vitest

fix(frontend): show time axis labels for H4 and Daily candles (#213)
  frontend/src/utils/adaptiveTimeScalePlugin.ts
Due: eslint, typescript-check, vitest

fix(frontend): use pixel-based spacing for time axis labels
  frontend/src/utils/adaptiveTimeScalePlugin.ts
Due: eslint, typescript-check, vitest

fix(frontend): use pixel-based spacing for time axis labels (#215)
  frontend/src/utils/adaptiveTimeScalePlugin.ts
Due: eslint, typescript-check, vitest

fix(frontend): centre chart on task end and always fetch metrics overlay
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
Due: eslint, typescript-check, vitest

fix(frontend): centre chart on task end and always fetch metrics overlay (#217)
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
Due: eslint, typescript-check, vitest

fix(auth): isolate React Query cache per user session
  frontend/src/config/reactQuery.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/providers/QueryProvider.tsx
Due: eslint, typescript-check, vitest

feat(trading): add config copy endpoint and show volatility/margin in strategy cycles
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/urls.py
  backend/apps/trading/views/__init__.py
  backend/apps/trading/views/configs.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/hooks/useConfigurationMutations.ts
  frontend/src/services/api/configurations.ts
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): align frontend field names with backend serializer
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/services/api/tradingTasks.ts
Due: eslint, typescript-check, vitest

feat(frontend): overlay ATR and margin ratio on strategy cycle OHLC chart
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

style(frontend): capitalize cycle status labels in strategy tab
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(trading): load full cycle candle range and fix open/close count
  backend/apps/trading/services/strategy_cycles.py
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): revert incorrect open/close filter change
  backend/apps/trading/services/strategy_cycles.py
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): prevent cascading counter closes within a single tick
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

feat(trading): show protection events in strategy cycle view
  backend/apps/trading/events/handler.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/strategy.py
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

style(frontend): refine tick display and strategy label in task header
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
Due: eslint, typescript-check, vitest

style(frontend): reduce strategy type option font size in config form
  frontend/src/components/configurations/ConfigurationForm.tsx
Due: eslint, typescript-check, vitest

style(frontend): improve events and logs tab layout on narrow screens
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
Due: eslint, typescript-check, vitest

fix(auth): only reset QueryClient when user identity changes
  frontend/src/contexts/AuthContext.tsx
Due: eslint, typescript-check, vitest

fix(trading): handle invalid position IDs in cycle_id resolution
  backend/apps/trading/events/handler.py
Due: ty, django-check, django-migrations-check, pytest

fix: minor issues (#219)
  backend/apps/trading/events/handler.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/urls.py
  backend/apps/trading/views/__init__.py
  backend/apps/trading/views/configs.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
  frontend/src/config/reactQuery.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useConfigurationMutations.ts
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/providers/QueryProvider.tsx
  frontend/src/services/api/configurations.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): remove outer scroll from strategy tab layout
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): allow page scroll over OHLC charts on mobile
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
Due: eslint, typescript-check, vitest

feat(frontend): add config copy button, fix chart touch scroll, collapsible header
  frontend/src/components/configurations/ConfigurationCard.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
Due: eslint, typescript-check, vitest

fix: strategy tab scroll (#221)
  frontend/src/components/configurations/ConfigurationCard.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
  frontend/src/pages/ConfigurationDetailPage.tsx
Due: eslint, typescript-check, vitest

fix(vscode): resolve Python interpreter path
  .vscode/settings.json
  backend/.vscode/settings.json
  docs/openapi.json
Due: django-check, django-migrations-check

chore(vscode): drop backend workspace settings
  backend/.vscode/settings.json
Due: django-check, django-migrations-check

fix: vscode python interpreter path (#223)
  .vscode/settings.json
  docs/openapi.json
Due: none

fix(celery): disable backup and athena schedules
  .env.example
  AGENTS.md
  DEVELOPMENT.md
  backend/config/settings_parts/celery.py
Due: ty, django-check, django-migrations-check, pytest

chore(gitignore): ignore cdk generated artifacts
  .gitignore
Due: none

fix(candles): paginate large oanda fetch windows
  backend/apps/market/views/candles.py
  frontend/src/hooks/useWindowedCandles.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest
