Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(ui): strategy tab cycle list overflow and flow chart scrolling (#166)
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

chore(ci): move deploy job to release-please workflow
  .github/workflows/build.yml
  .github/workflows/release-please.yml
  AGENTS.md
Due: none

chore(ci): move deploy job to release-please workflow (#168)
  .github/workflows/build.yml
  .github/workflows/release-please.yml
  AGENTS.md
Due: none

fix(strategy): correct snowball cycle grouping and remove duplicate initial entries
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(strategy): correct snowball cycle grouping and remove duplicate i… (#171)
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

feat(strategy): add resizable sidebar and independent scroll to strategy tab
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

feat(strategy): add resizable sidebar and independent scroll to strat… (#173)
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(strategy): rebuild visualization groups from parent_entry_id chain
  backend/apps/trading/services/strategy_visualization.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

chore: update vscode settings and uv.lock
  backend/uv.lock
Due: django-check, django-migrations-check

fix: strategy grouping parent chain (#175)
  backend/apps/trading/services/strategy_visualization.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(strategy): add mobile responsive layout and trend/counter filter
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

feat(strategy): add mobile responsive layout and trend/counter filter (#177)
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

chore: add editorconfig and update vscode settings
  .editorconfig
  .gitignore
  .vscode/settings.json
Due: none

feat(strategy): add display cycle splitting and OHLC chart visualization
  .vscode/settings.json
  backend/apps/trading/services/strategy_visualization.py
  backend/tests/unit/trading/services/test_strategy_visualization.py
  backend/uv.lock
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/types/strategyVisualization.ts
  frontend/tests/unit/components/StrategyGroupChart.test.tsx
  frontend/tests/unit/components/buildCycleMarkers.property.test.ts
  frontend/tests/unit/components/buildCycleMarkers.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(strategy): add display cycle splitting and OHLC chart visualization (#179)
  .editorconfig
  .gitignore
  backend/apps/trading/services/strategy_visualization.py
  backend/tests/unit/trading/services/test_strategy_visualization.py
  backend/uv.lock
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/types/strategyVisualization.ts
  frontend/tests/unit/components/StrategyGroupChart.test.tsx
  frontend/tests/unit/components/buildCycleMarkers.property.test.ts
  frontend/tests/unit/components/buildCycleMarkers.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(strategy): cycle-based snowball architecture with Trade.cycle_id
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0029_add_cycle_id_to_trade.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/hooks/useTaskTrades.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(strategy): cycle-based snowball architecture with Trade.cycl… (#181)
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0029_add_cycle_id_to_trade.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/hooks/useTaskTrades.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): refresh strategy tab on open and load latest chart data first
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useWindowedCandles.ts
Due: eslint, typescript-check, vitest

ci(deploy): wait for build workflow before deploying on release
  .github/workflows/release-please.yml
Due: none

fix: strategy tab refresh and chart viewport (#184)
  .github/workflows/release-please.yml
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useWindowedCandles.ts
Due: eslint, typescript-check, vitest

fix(frontend): comprehensive realtime task status updates
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/dashboard/ActiveTasksWidget.tsx
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useOptimisticTaskStatus.ts
  frontend/src/hooks/useTaskExecutions.ts
  frontend/tests/unit/hooks/taskResourceQueries.test.ts
Due: eslint, typescript-check, vitest

fix(frontend): comprehensive realtime task status updates (#186)
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/dashboard/ActiveTasksWidget.tsx
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useOptimisticTaskStatus.ts
  frontend/src/hooks/useTaskExecutions.ts
  frontend/tests/unit/hooks/taskResourceQueries.test.ts
Due: eslint, typescript-check, vitest

fix(strategy): replace strategy-events with cycle-based Trade API
  backend/apps/trading/serializers/__init__.py
  backend/apps/trading/serializers/strategy_visualization.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/strategy_visualization.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/services/test_strategy_visualization.py
  backend/tests/unit/trading/views/test_mixins_query_usage.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
  frontend/src/hooks/taskResourceCache.ts
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskStrategyEvents.ts
  frontend/src/types/strategyVisualization.ts
  frontend/tests/unit/components/StrategyGroupChart.test.tsx
  frontend/tests/unit/components/buildCycleMarkers.property.test.ts
  frontend/tests/unit/components/buildCycleMarkers.test.ts
  frontend/tests/unit/hooks/taskMutationCache.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: cycle based snowball strategy (#188)
  backend/apps/trading/serializers/__init__.py
  backend/apps/trading/serializers/strategy_visualization.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/strategy_visualization.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/services/test_strategy_visualization.py
  backend/tests/unit/trading/views/test_mixins_query_usage.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
  frontend/src/hooks/taskResourceCache.ts
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskStrategyEvents.ts
  frontend/src/types/strategyVisualization.ts
  frontend/tests/unit/components/StrategyGroupChart.test.tsx
  frontend/tests/unit/components/buildCycleMarkers.property.test.ts
  frontend/tests/unit/components/buildCycleMarkers.test.ts
  frontend/tests/unit/hooks/taskMutationCache.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(strategy): type-safe snowball models and strategy
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
Due: ty, django-check, django-migrations-check, pytest

fix: cycle id assignment and chart (#190)
  backend/apps/trading/events/handler.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): always poll execution history when polling is enabled
  frontend/src/hooks/useTaskExecutions.ts
  frontend/tests/integration/hooks/useTaskPolling.test.tsx
Due: eslint, typescript-check, vitest

fix(frontend): always poll execution history when polling is enabled (#193)
  frontend/src/hooks/useTaskExecutions.ts
  frontend/tests/integration/hooks/useTaskPolling.test.tsx
Due: eslint, typescript-check, vitest

fix(frontend): fix chart marker positions and auto-select granularity
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
Due: eslint, typescript-check, vitest

fix(frontend): fix chart marker positions and auto-select granularity (#195)
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
Due: eslint, typescript-check, vitest

fix(strategy): per-cycle counter_close_count and show cycle_id in UI
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: chart marker positions (#197)
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): responsive chart width, proper time labels, padded range
  .vscode/settings.json
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
Due: eslint, typescript-check, vitest

fix(frontend): responsive chart width, proper time labels, padded range (#200)
  .vscode/settings.json
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
Due: eslint, typescript-check, vitest

fix(frontend): independent scroll for strategy sidebar and detail panel
  AGENTS.md
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
