Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(frontend): extend display formatting usage
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/pages/OandaAccountsPage.tsx
Due: eslint, typescript-check, vitest

fix(frontend): extend display formatting usage (#501)
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/settings/DataSettings.tsx
  frontend/src/components/settings/DisplaySettings.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/useAppSettings.ts
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/settings.json
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/pages/OandaAccountsPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/src/utils/numberFormat.ts
  frontend/src/utils/persistentState.ts
  frontend/src/utils/timezone.ts
Due: eslint, typescript-check, vitest

fix(frontend): prevent app settings sync loops
  frontend/src/hooks/useAppSettings.ts
Due: eslint, typescript-check, vitest

fix(frontend): prevent app settings sync loops (#503)
  frontend/src/hooks/useAppSettings.ts
Due: eslint, typescript-check, vitest

fix(trading): align metrics pnl with summary
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/services/summary.py
  backend/tests/integration/trading/test_serializers_integration.py
  backend/tests/unit/trading/services/test_runtime_metrics.py
  docs/openapi.json
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): mark unrealized pnl to executable prices
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/services/unrealized_pnl.py
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/trading/services/test_runtime_metrics.py
  backend/tests/unit/trading/services/test_unrealized_pnl.py
Due: ty, django-check, django-migrations-check, pytest

fix(trading): prevent cross-direction cycle fallback
  backend/apps/trading/events/handler.py
  backend/tests/unit/trading/events/test_event_handler.py
Due: ty, django-check, django-migrations-check, pytest

fix: trading metrics summary align (#505)
  backend/apps/trading/events/handler.py
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/services/unrealized_pnl.py
  backend/apps/trading/tasks/executor.py
  backend/tests/integration/trading/test_serializers_integration.py
  backend/tests/unit/trading/events/test_event_handler.py
  backend/tests/unit/trading/services/test_runtime_metrics.py
  backend/tests/unit/trading/services/test_unrealized_pnl.py
  docs/openapi.json
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): preserve snowball tp during shrink
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): refresh task cache after updates
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/tests/integration/hooks/useTaskUpdateMutations.test.tsx
Due: eslint, typescript-check, vitest

fix(frontend): refresh task cache after updates (#507)
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/tests/integration/hooks/useTaskUpdateMutations.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(lifecycle): use position timestamps and quote-currency PnL
  backend/apps/trading/services/position_lifecycle.py
  docs/openapi.json
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): add OANDA API retry and fix planned_exit_price precision
  backend/apps/trading/models/positions.py
  backend/apps/trading/services/reconciliation.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/uv.lock
Due: ty, django-check, django-migrations-check, pytest

fix: backtest completion race, UI date/error display improvements
  backend/apps/trading/tasks/backtest.py
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat: constrain backtest dates to tick data range, show trade PnL in cycles
  backend/apps/trading/services/strategy_cycles.py
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): align filter box with section title in positions and trades tabs
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
Due: eslint, typescript-check, vitest

feat(ui): add date range filter to positions, trades, orders tabs
  frontend/src/components/common/DateRangeFilter.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(metrics): remove data.length from fetchData dependency array
  frontend/src/hooks/useTaskMetrics.ts
Due: eslint, typescript-check, vitest

fix: lifecycle pnl and timestamps (#509)
  backend/apps/trading/models/positions.py
  backend/apps/trading/services/position_lifecycle.py
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/tasks/backtest.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/common/DateRangeFilter.tsx
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/hooks/useTaskMetrics.ts
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(market): schedule daily Athena tick data load, stop subscriber DB writes
  backend/apps/market/tasks/load_data.py
  backend/apps/market/tasks/subscriber.py
  backend/config/settings_parts/celery.py
  backend/tests/integration/market/tasks/test_subscriber_extended.py
  backend/tests/unit/market/tasks/test_subscriber.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(ui): prevent strategy parameters from resetting after user edits
  frontend/src/components/configurations/ConfigurationForm.tsx
Due: eslint, typescript-check, vitest

feat: scheduled athena tick load (#511)
  backend/apps/market/tasks/load_data.py
  backend/apps/market/tasks/subscriber.py
  backend/config/settings_parts/celery.py
  backend/tests/integration/market/tasks/test_subscriber_extended.py
  backend/tests/unit/market/tasks/test_subscriber.py
  docs/openapi.json
  frontend/src/components/configurations/ConfigurationForm.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): apply timezone to backtest card dates and creation form
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/tasks/forms/DateRangePicker.tsx
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

feat(ui): add task list polling with separate interval setting
  frontend/src/components/settings/DataSettings.tsx
  frontend/src/hooks/useAppSettings.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/settings.json
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
Due: eslint, typescript-check, vitest

fix: backtest card timezone display (#513)
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/settings/DataSettings.tsx
  frontend/src/components/tasks/forms/DateRangePicker.tsx
  frontend/src/hooks/useAppSettings.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/settings.json
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
Due: eslint, typescript-check, vitest

feat: snapshot task and strategy config per execution
  backend/apps/trading/migrations/0041_add_config_snapshots_to_execution.py
  backend/apps/trading/models/snapshots.py
  backend/apps/trading/serializers/execution.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/executions.py
  backend/apps/trading/tasks/executor.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(ui): show config snapshot when viewing historical executions
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/types/execution.ts
Due: eslint, typescript-check, vitest

feat(frontend): add execution comparison dialog with multi-select
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(frontend): always show compare button, disabled when < 2 selected
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
Due: eslint, typescript-check, vitest

fix(ui): add timezone to backtest period dates on task card
  frontend/src/components/backtest/BacktestTaskCard.tsx
Due: eslint, typescript-check, vitest

fix(ui): add timezone to backtest period dates on task card (#517)
  frontend/src/components/backtest/BacktestTaskCard.tsx
Due: eslint, typescript-check, vitest

fix(deploy): use stop instead of pause in drain_trading_for_deploy
  .github/workflows/release-please.yml
  backend/apps/trading/management/commands/drain_trading_for_deploy.py
  backend/tests/unit/trading/management/test_drain_trading_for_deploy.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(ui): show snapshot task settings for historical executions
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
Due: eslint, typescript-check, vitest

fix(comparison): use per-execution interval for metrics overlay charts
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix: historical execution display (#519)
  .github/workflows/release-please.yml
  backend/apps/trading/management/commands/drain_trading_for_deploy.py
  backend/tests/unit/trading/management/test_drain_trading_for_deploy.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(comparison): fix metrics overlay granularity control and auto interval
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(comparison): fix metrics overlay granularity control and auto int… (#521)
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(ui): localize snapshot parameter keys and fix comparison chart data
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/utils/strategySchemaLabels.ts
Due: eslint, typescript-check, vitest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
