Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

fix(frontend): inline custom date range fields into the selector row (#644)
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): show X-axis labels when zoomed into few data points
  frontend/src/utils/adaptiveTimeScalePlugin.ts
Due: eslint, typescript-check, vitest

fix(frontend): show X-axis labels when zoomed into few data points (#646)
  frontend/src/utils/adaptiveTimeScalePlugin.ts
Due: eslint, typescript-check, vitest

feat(tasks): add pnl summaries and localize forms
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/forms/DateRangePicker.tsx
  frontend/src/components/tasks/forms/InstrumentSelector.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/tests/unit/components/taskCardActions.test.tsx
Due: eslint, typescript-check, vitest

feat(tasks): add pnl summaries and localize forms (#648)
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/forms/DateRangePicker.tsx
  frontend/src/components/tasks/forms/InstrumentSelector.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/trading.json
  frontend/tests/unit/components/taskCardActions.test.tsx
Due: eslint, typescript-check, vitest

fix(market): persist daily tick load events
  backend/apps/market/tasks/load_data.py
  backend/tests/unit/market/tasks/test_load_data_task.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(market): persist daily tick load events (#649)
  backend/apps/market/tasks/load_data.py
  backend/tests/unit/market/tasks/test_load_data_task.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): default snowball chart to follow window
  backend/apps/trading/services/snowball_net_chart.py
  backend/tests/unit/trading/services/test_snowball_net_chart.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/snowballNetChartRange.ts
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/tests/unit/components/tasks/detail/snowballNetChartRange.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

docs(strategy): update snowball net spec
  docs/strategies/ja/snowball-net.md
Due: none

fix: snowball chart follow window (#651)
  backend/apps/trading/services/snowball_net_chart.py
  backend/tests/unit/trading/services/test_snowball_net_chart.py
  backend/uv.lock
  docs/openapi.json
  docs/strategies/ja/snowball-net.md
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/snowballNetChartRange.ts
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/tests/unit/components/tasks/detail/snowballNetChartRange.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(snowball-net): add adaptive risk controls
  backend/apps/trading/schemas/snowball_net.json
  backend/apps/trading/services/strategy_snapshot.py
  backend/apps/trading/strategies/snowball_net/config.py
  backend/apps/trading/strategies/snowball_net/state.py
  backend/apps/trading/strategies/snowball_net/strategy.py
  backend/tests/unit/trading/services/test_strategy_snapshot.py
  backend/tests/unit/trading/strategies/snowball_net/test_strategy.py
  docs/strategies/ja/snowball-net.md
  frontend/src/components/tasks/detail/ExecutionStatusSummary.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): show historical strategy config snapshots
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/HistoricalStrategyConfigDialog.test.tsx
  frontend/src/components/tasks/detail/HistoricalStrategyConfigDialog.tsx
  frontend/src/components/tasks/detail/StrategyParameterDialog.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
Due: eslint, typescript-check, vitest

fix(frontend): show historical strategy config snapshots (#654)
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/HistoricalStrategyConfigDialog.test.tsx
  frontend/src/components/tasks/detail/HistoricalStrategyConfigDialog.tsx
  frontend/src/components/tasks/detail/StrategyParameterDialog.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
Due: eslint, typescript-check, vitest

feat(snowball-net): add adaptive risk controls (#653)
  backend/apps/trading/schemas/snowball_net.json
  backend/apps/trading/services/strategy_snapshot.py
  backend/apps/trading/strategies/snowball_net/config.py
  backend/apps/trading/strategies/snowball_net/state.py
  backend/apps/trading/strategies/snowball_net/strategy.py
  backend/tests/unit/trading/services/test_strategy_snapshot.py
  backend/tests/unit/trading/strategies/snowball_net/test_strategy.py
  docs/strategies/ja/snowball-net.md
  frontend/src/components/tasks/detail/ExecutionStatusSummary.tsx
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(snowball-net): keep follow chart lines behind sequence
  backend/apps/trading/services/snowball_net_chart.py
  backend/tests/unit/trading/services/test_snowball_net_chart.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(snowball-net): align partial-close pnl reporting
  backend/apps/trading/events/handler.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/services/task_activity.py
  backend/tests/unit/trading/events/test_event_handler.py
  backend/tests/unit/trading/services/test_summary.py
  backend/tests/unit/trading/services/test_task_activity.py
Due: ty, django-check, django-migrations-check, pytest

fix(trades): add server-side trade kind filter
  backend/apps/trading/services/task_activity.py
  backend/apps/trading/views/query_params.py
  backend/tests/unit/trading/services/test_task_activity.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: snowball net follow chart lines (#655)
  backend/apps/trading/events/handler.py
  backend/apps/trading/services/snowball_net_chart.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/services/task_activity.py
  backend/apps/trading/views/query_params.py
  backend/tests/unit/trading/events/test_event_handler.py
  backend/tests/unit/trading/services/test_snowball_net_chart.py
  backend/tests/unit/trading/services/test_summary.py
  backend/tests/unit/trading/services/test_task_activity.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(snowball-net): sync chart range controls
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/snowballNetChartRange.ts
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/tests/unit/components/tasks/detail/snowballNetChartRange.test.ts
Due: eslint, typescript-check, vitest

feat(snowball-net): sync chart range controls (#657)
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/snowballNetChartRange.ts
  frontend/src/i18n/locales/en/strategy.json
  frontend/src/i18n/locales/ja/strategy.json
  frontend/tests/unit/components/tasks/detail/snowballNetChartRange.test.ts
Due: eslint, typescript-check, vitest

perf(strategy): improve SnowballNet chart loading
  backend/apps/market/management/commands/build_candles.py
  backend/apps/market/migrations/0007_marketcandle.py
  backend/apps/market/models/__init__.py
  backend/apps/market/models/candle.py
  backend/apps/market/services/candles.py
  backend/apps/trading/services/snowball_net_chart.py
  backend/apps/trading/services/strategy_data.py
  backend/apps/trading/services/strategy_metrics.py
  backend/apps/trading/views/strategy_data_mixin.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/market/services/test_candles.py
  backend/tests/unit/trading/services/test_snowball_net_chart.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/snowballNetChartRange.ts
  frontend/src/utils/fetchMetrics.ts
  frontend/tests/unit/components/tasks/detail/snowballNetChartRange.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

perf(strategy): improve SnowballNet chart loading (#659)
  backend/apps/market/management/commands/build_candles.py
  backend/apps/market/migrations/0007_marketcandle.py
  backend/apps/market/models/__init__.py
  backend/apps/market/models/candle.py
  backend/apps/market/services/candles.py
  backend/apps/trading/services/snowball_net_chart.py
  backend/apps/trading/services/strategy_data.py
  backend/apps/trading/services/strategy_metrics.py
  backend/apps/trading/views/strategy_data_mixin.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/market/services/test_candles.py
  backend/tests/unit/trading/services/test_snowball_net_chart.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/snowballNetChartRange.ts
  frontend/src/utils/fetchMetrics.ts
  frontend/tests/unit/components/tasks/detail/snowballNetChartRange.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(snowball-net): add broker resume reconciliation
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/strategies/snowball_net/reconciliation.py
  backend/apps/trading/strategies/snowball_net/strategy.py
  backend/apps/trading/tasks/event_replay.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/strategies/snowball_net/test_strategy.py
  backend/tests/unit/trading/tasks/test_event_replay.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(snowball-net): make capacity limit mode explicit
  backend/apps/trading/schemas/snowball_net.json
  backend/apps/trading/strategies/snowball_net/config.py
  backend/tests/unit/trading/strategies/snowball_net/test_strategy.py
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/tests/unit/components/strategyConfigForm.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(snowball-net): simplify risk configuration
  backend/apps/trading/schemas/snowball_net.json
  backend/apps/trading/strategies/snowball_net/config.py
  backend/apps/trading/strategies/snowball_net/strategy.py
  backend/tests/unit/trading/strategies/snowball_net/test_strategy.py
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/types/strategy.ts
  frontend/tests/unit/components/strategyConfigForm.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(snowball-net): group direction settings together
  backend/apps/trading/schemas/snowball_net.json
Due: django-check, django-migrations-check

fix: snowball net config exclusivity (#662)
  backend/apps/trading/schemas/snowball_net.json
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/strategies/snowball_net/config.py
  backend/apps/trading/strategies/snowball_net/reconciliation.py
  backend/apps/trading/strategies/snowball_net/strategy.py
  backend/apps/trading/tasks/event_replay.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/strategies/snowball_net/test_strategy.py
  backend/tests/unit/trading/tasks/test_event_replay.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/types/strategy.ts
  frontend/tests/unit/components/strategyConfigForm.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): optimize SnowballNet metrics ranges
  backend/apps/trading/services/snowball_net_chart.py
  backend/tests/unit/trading/services/test_snowball_net_chart.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/taskDetailTabsConfig.test.ts
  frontend/src/components/tasks/detail/taskDetailTabsConfig.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/tests/integration/components/TaskMetricsTab.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

docs: reorganize project documentation
  DEPLOYMENT.md
  DEVELOPMENT.md
  README.md
Due: none

fix: snowball net metrics range (#664)
  DEPLOYMENT.md
  DEVELOPMENT.md
  README.md
  backend/apps/trading/services/snowball_net_chart.py
  backend/tests/unit/trading/services/test_snowball_net_chart.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/taskDetailTabsConfig.test.ts
  frontend/src/components/tasks/detail/taskDetailTabsConfig.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/tests/integration/components/TaskMetricsTab.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(metrics): remove duplicate SnowballNet charts
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/tests/integration/components/TaskMetricsTab.test.tsx
Due: eslint, typescript-check, vitest

fix(metrics): group SnowballNet related charts
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/tests/integration/components/TaskMetricsTab.test.tsx
Due: eslint, typescript-check, vitest

fix(metrics): combine SnowballNet price levels
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/tests/integration/components/TaskMetricsTab.test.tsx
Due: eslint, typescript-check, vitest

fix: snowball net metrics v2 (#666)
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/tests/integration/components/TaskMetricsTab.test.tsx
Due: eslint, typescript-check, vitest

fix(market): log load data command output
  backend/apps/market/tasks/load_data.py
  backend/tests/unit/market/tasks/test_load_data_task.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(market): log load data command output (#668)
  backend/apps/market/tasks/load_data.py
  backend/tests/unit/market/tasks/test_load_data_task.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(strategy): add independent SnowballNet controls
  backend/apps/trading/schemas/snowball_net.json
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/strategies/snowball_net/config.py
  backend/apps/trading/strategies/snowball_net/reconciliation.py
  backend/apps/trading/strategies/snowball_net/state.py
  backend/apps/trading/strategies/snowball_net/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/trading/services/test_runtime_metrics.py
  backend/tests/unit/trading/strategies/snowball_net/test_strategy.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(strategy): add independent SnowballNet controls (#670)
  backend/apps/trading/schemas/snowball_net.json
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/strategies/snowball_net/config.py
  backend/apps/trading/strategies/snowball_net/reconciliation.py
  backend/apps/trading/strategies/snowball_net/state.py
  backend/apps/trading/strategies/snowball_net/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/trading/services/test_runtime_metrics.py
  backend/tests/unit/trading/strategies/snowball_net/test_strategy.py
  backend/tests/unit/trading/tasks/test_executor.py
Due: ty, django-check, django-migrations-check, pytest

fix(trading): record Trade on sell_on_stop and add loss-cut chart markers
  backend/apps/trading/services/loss_cut_events.py
  backend/apps/trading/services/strategy_data.py
  backend/apps/trading/tasks/drain.py
  backend/apps/trading/views/strategy_data_mixin.py
  backend/tests/unit/trading/services/test_loss_cut_events.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useStrategyData.ts
  frontend/src/utils/fetchMetrics.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): record Trade on sell_on_stop and add loss-cut chart markers (#671)
  backend/apps/trading/services/loss_cut_events.py
  backend/apps/trading/services/strategy_data.py
  backend/apps/trading/tasks/drain.py
  backend/apps/trading/views/strategy_data_mixin.py
  backend/tests/unit/trading/services/test_loss_cut_events.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsToolbar.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useStrategyData.ts
  frontend/src/utils/fetchMetrics.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest
