Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

fix(ui): localise stop dialog and align strategy chip size (#549)
  frontend/src/components/backtest/BacktestTaskActions.tsx
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/actions/StopOptionsDialog.tsx
  frontend/src/components/trading/TradingTaskActions.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(trading): separate celery_task_id from execution_id (#550)
  backend/apps/trading/migrations/0047_add_celery_task_id.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/recovery.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/tasks/trading.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
  backend/tests/unit/trading/tasks/test_recovery.py
  backend/tests/unit/trading/tasks/test_service.py
  backend/tests/unit/trading/tasks/test_trading_task.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(tasks): filter positions/trades/orders by ID in task detail
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/query_params.py
  backend/tests/integration/trading/test_mixins_integration.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(snowball): adjust rebuild entry & exit prices to offset SL loss
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): filter snapshot config dialog by schema dependsOn
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/utils/strategySchemaDependsOn.ts
  frontend/tests/unit/utils/strategySchemaDependsOn.test.ts
Due: eslint, typescript-check, vitest

feat(trading): configurable drain duration in stop dialog
  backend/apps/trading/services/drain.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/task_base.py
  backend/apps/trading/views/trading.py
  frontend/src/components/backtest/BacktestTaskActions.tsx
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/actions/StopOptionsDialog.tsx
  frontend/src/components/trading/TradingTaskActions.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/tests/unit/components/taskCardActions.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(backtest): market-aware idle driven by replayed tick clock
  backend/apps/trading/migrations/0048_add_backtest_market_idle_fields.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/tasks/executor.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(backtest): configurable market-close schedule
  backend/apps/trading/migrations/0049_add_backtest_market_close_schedule.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/services/market_schedule.py
  backend/apps/trading/tasks/executor.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat: filter by id in task detail tables (#553)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/services/drain.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/mixins.py
  backend/apps/trading/views/query_params.py
  backend/apps/trading/views/task_base.py
  backend/apps/trading/views/trading.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskActions.tsx
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/actions/StopOptionsDialog.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/trading/TradingTaskActions.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/utils/strategySchemaDependsOn.ts
  frontend/tests/unit/components/taskCardActions.test.tsx
  frontend/tests/unit/utils/strategySchemaDependsOn.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(backtest): default market-close off and allow IDLE on finalize
  backend/apps/trading/migrations/0049_add_backtest_market_close_schedule.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/services/execution_lifecycle.py
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat: expose advanced settings on task edit + localize config preview
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/tests/e2e/trading/test_backtest_tasks_api.py
  backend/tests/integration/trading/test_stream_source_integration.py
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/pages/TradingTaskFormPage.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat: backtest market idle (#554)
  backend/apps/trading/migrations/0048_add_backtest_market_idle_fields.py
  backend/apps/trading/migrations/0049_add_backtest_market_close_schedule.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/services/execution_lifecycle.py
  backend/apps/trading/services/market_schedule.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/tasks/executor.py
  backend/tests/e2e/trading/test_backtest_tasks_api.py
  backend/tests/integration/trading/test_stream_source_integration.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/pages/TradingTaskFormPage.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(snowball): clamp rebuild TP to upper grid neighbour
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): clamp rebuild TP to upper grid neighbour (#557)
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): prevent lower-slot refills below active counters
  backend/apps/trading/strategies/snowball/models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): prevent lower-slot refills below active counters (#559)
  backend/apps/trading/strategies/snowball/models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(metrics): align ohlc viewport with task progress
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/metricsOhlcViewport.ts
  frontend/src/hooks/useWindowedCandles.ts
  frontend/tests/unit/components/tasks/detail/metricsOhlcViewport.test.ts
Due: eslint, typescript-check, vitest

fix(metrics): align ohlc viewport with task progress (#561)
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
  frontend/src/components/tasks/detail/metricsOhlcViewport.ts
  frontend/src/hooks/useWindowedCandles.ts
  frontend/tests/unit/components/tasks/detail/metricsOhlcViewport.test.ts
Due: eslint, typescript-check, vitest

fix(snowball): sync actual fill prices into strategy state
  backend/apps/trading/dataclasses/execution.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/events/test_event_handler.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/CHANGELOG.md
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): sync actual fill prices into strategy state (#562)
  backend/apps/trading/dataclasses/execution.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/events/test_event_handler.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/uv.lock
  docs/openapi.json
  frontend/CHANGELOG.md
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): enforce cross-layer grid-ordering on SL rebuild
  backend/apps/market/services/backtest_ticks.py
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/backtest.py
  backend/config/settings.py
  backend/tests/integration/market/tasks/test_backtest.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(snowball): configurable SL distance, rebuild toggle, cycle re-seed
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/calculators.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_calculators.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Fix/snowball cross layer tp bound (#564)
  backend/apps/market/services/backtest_ticks.py
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/calculators.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/backtest.py
  backend/config/settings.py
  backend/tests/integration/market/tasks/test_backtest.py
  backend/tests/unit/trading/strategies/snowball/test_calculators.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): guard snowball grid ordering validation
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  docs/openapi.json
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/types/strategy.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): guard snowball grid ordering validation (#567)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  docs/openapi.json
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/types/strategy.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): restore snowball stop loss auto mode
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/calculators.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_calculators.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  docs/openapi.json
  frontend/src/components/strategy/StrategyConfigForm.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): restore snowball stop loss auto mode (#570)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/calculators.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_calculators.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  docs/openapi.json
  frontend/src/components/strategy/StrategyConfigForm.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(backtest): make tick gap threshold configurable
  backend/apps/trading/migrations/0050_backtesttask_max_tick_gap_hours.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/config/settings.py
  backend/tests/integration/trading/test_serializers_integration.py
  backend/tests/unit/trading/serializers/test_backtest.py
  backend/tests/unit/trading/tasks/test_executor.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(backtest): make tick gap threshold configurable (#572)
  backend/apps/trading/migrations/0050_backtesttask_max_tick_gap_hours.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/config/settings.py
  backend/tests/integration/trading/test_serializers_integration.py
  backend/tests/unit/trading/serializers/test_backtest.py
  backend/tests/unit/trading/tasks/test_executor.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): show close trade pnl in jpy
  backend/apps/trading/serializers/events.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/serializers/test_events.py
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/hooks/useTaskTrades.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(strategy): show close trade pnl in jpy (#574)
  backend/apps/trading/serializers/events.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/serializers/test_events.py
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/hooks/useTaskTrades.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(strategy): configure rebuild stop loss
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  docs/openapi.json
  frontend/src/components/strategy/StrategyConfigForm.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(strategy): configure rebuild stop loss (#576)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  docs/openapi.json
  frontend/src/components/strategy/StrategyConfigForm.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(configuration): reorder stop loss controls
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/utils/configFieldOrder.ts
Due: eslint, typescript-check, vitest

fix(configuration): reorder stop loss controls (#578)
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/utils/configFieldOrder.ts
Due: eslint, typescript-check, vitest

fix(backtest): prevent silent tick loss and add batch-level observability
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/source.py
  backend/tests/integration/market/tasks/test_backtest_stream_publisher.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(backtest): prevent silent tick loss and add batch-level observabi… (#580)
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/source.py
  backend/tests/integration/market/tasks/test_backtest_stream_publisher.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(auth): scope refresh token revocation to client sessions
  backend/apps/accounts/middlewares/security.py
  backend/apps/accounts/services/jwt.py
  backend/apps/accounts/services/sessions.py
  backend/apps/accounts/views/login.py
  backend/apps/accounts/views/logout.py
  backend/tests/integration/accounts/views/test_logout.py
  backend/tests/integration/accounts/views/test_refresh.py
  backend/tests/unit/accounts/services/test_jwt.py
  backend/tests/unit/accounts/views/test_logout.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest
