Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

mypy:
  name: mypy
  entry: bash -c 'cd backend && source .venv/bin/activate && mypy .'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Refactored floor strategy.
  .vscode/settings.json
  backend/apps/trading/migrations/0033_floorstrategylayerstate_floorstrategytaskstate_and_more.py
  backend/apps/trading/models.py
  backend/apps/trading/serializers.py
  backend/apps/trading/services/performance.py
  backend/apps/trading/tasks.py
  backend/apps/trading/urls.py
  backend/apps/trading/views.py
  backend/trading/floor_strategy.py
Due: mypy, django-check, django-migrations-check, pytest

Removed email whitelist APIs
  backend/apps/accounts/urls.py
  backend/apps/accounts/views.py
  backend/tests/integration/accounts/test_whitelist.py
Due: mypy, django-check, django-migrations-check, pytest

Added tests to make sure APIs are protected by authentication.
  backend/apps/market/views.py
  backend/config/settings.py
  backend/config/urls.py
  backend/tests/integration/accounts/test_prod_urlconf_accounts_auth.py
  backend/tests/integration/market/test_market_status_api.py
  backend/tests/integration/market/test_prod_urlconf_market_auth.py
  backend/tests/integration/market/test_supported_granularities_api.py
  backend/tests/integration/market/test_supported_instruments_api.py
  backend/tests/integration/trading/test_prod_urlconf_trading_auth.py
  backend/tests/unit/market/test_views.py
Due: mypy, django-check, django-migrations-check, pytest

Add .venv to ignore-paths for pylint
  backend/pyproject.toml
Due: django-check, django-migrations-check

Add unit/integration tests for trading app.
  .vscode/settings.json
  backend/apps/accounts/middleware.py
  backend/apps/trading/management/commands/export_backtest.py
  backend/config/urls.py
  backend/pyproject.toml
  backend/tests/integration/accounts/test_email_verification.py
  backend/tests/integration/accounts/test_login.py
  backend/tests/integration/accounts/test_logout.py
  backend/tests/integration/accounts/test_notifications.py
  backend/tests/integration/accounts/test_prod_urlconf_accounts_auth.py
  backend/tests/integration/accounts/test_public_account_settings.py
  backend/tests/integration/accounts/test_registration.py
  backend/tests/integration/accounts/test_token_refresh.py
  backend/tests/integration/accounts/test_user_settings.py
  backend/tests/integration/accounts/test_whitelist.py
  backend/tests/integration/trading/conftest.py
  backend/tests/integration/trading/test_backtest_task_actions_api.py
  backend/tests/integration/trading/test_backtest_tasks_api.py
  backend/tests/integration/trading/test_prod_urlconf_trading_auth.py
  backend/tests/integration/trading/test_strategies_api.py
  backend/tests/integration/trading/test_strategy_configs_api.py
  backend/tests/integration/trading/test_trading_task_actions_api.py
  backend/tests/integration/trading/test_trading_tasks_api.py
  backend/tests/unit/accounts/test_middleware.py
  backend/tests/unit/accounts/test_views.py
  backend/tests/unit/market/services/test_compliance.py
  backend/tests/unit/market/services/test_events.py
  backend/tests/unit/market/services/test_oanda.py
  backend/tests/unit/market/services/test_task.py
  backend/tests/unit/trading/services/test_lock.py
  backend/tests/unit/trading/services/test_performance.py
  backend/tests/unit/trading/services/test_registry.py
  backend/tests/unit/trading/test_serializers.py
  backend/tests/unit/trading/test_views.py
  backend/tests/urls_test.py
  pyrightconfig.json
Due: mypy, django-check, django-migrations-check, pytest

Remove autopep8 from recommendations.
  .vscode/extensions.json
Due: none

Added oanda health check api.
  backend/apps/market/migrations/0009_oanda_api_health_status.py
  backend/apps/market/models.py
  backend/apps/market/serializers.py
  backend/apps/market/services/health.py
  backend/apps/market/services/oanda.py
  backend/apps/market/urls.py
  backend/apps/market/views.py
  backend/tests/unit/market/services/test_health.py
  backend/tests/unit/market/test_views.py
  frontend/.gitignore
Due: mypy, django-check, django-migrations-check, pytest

Update AppFooter to use the new OANDA health API.
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/test/AppFooter.test.tsx
Due: eslint, typescript-check, vitest

Added frontend launch config.
  .vscode/launch.json
Due: none

Update launch.json to be able to run both frontend and backend at once.
  .vscode/launch.json
Due: none

Fixed some minor issues in the accounts app.
  backend/apps/market/migrations/0010_oandaaccount_unique_user_accountid_apitype.py
  backend/apps/market/models.py
  backend/apps/market/serializers.py
  backend/apps/market/services/oanda.py
  backend/tests/unit/market/services/test_oanda.py
  backend/tests/unit/market/test_models.py
  backend/tests/unit/market/test_serializers.py
  frontend/src/components/settings/AccountManagement.tsx
  frontend/src/hooks/useMarketConfig.ts
  frontend/src/services/api/client.ts
  frontend/src/test/AccountManagement.test.tsx
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat: add strategy defaults API and configuration UX improvements
  backend/apps/accounts/urls.py
  backend/apps/trading/services/floor.py
  backend/apps/trading/urls.py
  backend/apps/trading/views.py
  backend/config/settings.py
  backend/tests/integration/accounts/test_prod_urlconf_accounts_auth.py
  backend/tests/integration/trading/test_strategy_defaults_api.py
  backend/tests/unit/trading/test_views.py
  frontend/src/App.tsx
  frontend/src/components/common/Breadcrumbs.tsx
  frontend/src/components/configurations/ConfigurationCard.tsx
  frontend/src/components/configurations/ConfigurationForm.tsx
  frontend/src/components/settings/AddAccountModal.tsx
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/hooks/useOandaAccounts.ts
  frontend/src/pages/ConfigurationDetailPage.tsx
  frontend/src/services/api/strategies.ts
  frontend/src/test/AddAccountModal.test.tsx
  frontend/src/test/ConfigurationFormDefaults.test.tsx
  frontend/src/test/SettingsPage.test.tsx
  frontend/src/test/StrategyConfigForm.test.tsx
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Add file based celery task log settings.
  backend/config/settings.py
Due: mypy, django-check, django-migrations-check, pytest

fix(market): dedupe TickData bulk upserts to avoid Postgres cardinality violation
  backend/apps/market/admin.py
  backend/apps/market/management/__init__.py
  backend/apps/market/management/commands/__init__.py
  backend/apps/market/management/commands/load_data.py
  backend/apps/market/migrations/0011_remove_tickdata_tick_data_instrum_b325fe_idx_and_more.py
  backend/apps/market/migrations/0012_tickdata_add_composite_pk_constraint.py
  backend/apps/market/models.py
  backend/apps/market/tasks.py
  backend/manage.py
  backend/tests/unit/market/management/commands/test_load_data.py
  frontend/src/components/backtest/BacktestConfigPanel.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/test/BacktestTaskForm.test.tsx
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Added celery worker launch in the config.
  .vscode/launch.json
Due: none

Fixed an issue where wrong month and date is specified in Athena queries.
  backend/apps/market/management/commands/load_data.py
Due: mypy, django-check, django-migrations-check, pytest

fix: stabilize streams, logs, and backtest/trading results UI
  backend/apps/market/services/oanda.py
  backend/apps/trading/serializers.py
  backend/apps/trading/tasks.py
  backend/apps/trading/views.py
  backend/tests/unit/trading/test_backtest_task_pubsub_order.py
  frontend/src/components/backtest/BacktestChart.test.tsx
  frontend/src/components/backtest/BacktestChart.tsx
  frontend/src/components/backtest/FloorLayerLog.tsx
  frontend/src/components/backtest/detail/TaskExecutionsTab.tsx
  frontend/src/components/backtest/detail/TaskOverviewTab.tsx
  frontend/src/components/backtest/detail/TaskResultsTab.test.tsx
  frontend/src/components/backtest/detail/TaskResultsTab.tsx
  frontend/src/components/chart/DashboardChart.test.tsx
  frontend/src/components/chart/DashboardChart.tsx
  frontend/src/components/chart/README.md
  frontend/src/components/tasks/charts/MetricsGrid.tsx
  frontend/src/components/tasks/charts/TradeLogTable.tsx
  frontend/src/components/trading/TradingTaskChart.test.tsx
  frontend/src/components/trading/TradingTaskChart.tsx
  frontend/src/hooks/useTaskExecutions.ts
  frontend/src/hooks/useTaskLogs.ts
  frontend/src/pages/BacktestTaskDetailPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/TradingTaskDetailPage.tsx
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/utils/BatchFetcher.test.ts
  frontend/src/utils/BatchFetcher.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: celery task doesnt update the progress correctly.
  backend/apps/trading/tasks.py
Due: mypy, django-check, django-migrations-check, pytest

fix(backtest): make charts and markers robust
  .vscode/launch.json
  backend/apps/accounts/middleware.py
  backend/apps/trading/tasks.py
  backend/config/settings.py
  frontend/src/components/backtest/BacktestChart.tsx
  frontend/src/components/backtest/FloorLayerLog.tsx
  frontend/src/components/backtest/detail/TaskResultsTab.tsx
  frontend/src/components/chart/FinancialChart.tsx
  frontend/src/main.tsx
  frontend/src/pages/BacktestTaskDetailPage.tsx
  frontend/src/utils/floorStrategyMarkers.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat: Add date into OHLC X-Axis
  frontend/src/components/chart/FinancialChart.tsx
Due: eslint, typescript-check, vitest

Path conditions:
  mypy: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
