Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

fix: minor changes
  backend/apps/trading/order.py
  backend/apps/trading/views/mixins.py
  frontend/src/components/common/DataTable.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: minor issues
  backend/apps/trading/admin.py
  backend/apps/trading/events/base.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0029_add_position_order_fk_relations.py
  backend/apps/trading/migrations/0030_alter_layer_index.py
  backend/apps/trading/models/floor.py
  backend/apps/trading/models/orders.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/order.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/strategies/floor/calculators.py
  backend/apps/trading/strategies/floor/enums.py
  backend/apps/trading/strategies/floor/events.py
  backend/apps/trading/strategies/floor/hedge_neutralizer.py
  backend/apps/trading/strategies/floor/layer.py
  backend/apps/trading/strategies/floor/models.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/views/mixins.py
  backend/tests/unit/trading/events/test_event_handler_margin.py
  backend/tests/unit/trading/strategies/test_floor_strategy.py
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/configurations/strategyConfigSchemas.ts
  frontend/src/components/strategy/StrategyConfigForm.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/tests/unit/pages/BacktestTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: minor issues
  frontend/src/components/common/DataTable.tsx
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
Due: eslint, typescript-check, vitest

update pytest coverage settings
  .github/workflows/test.yml
  backend/pyproject.toml
Due: django-check, django-migrations-check

fix: add unit tests
  backend/apps/market/views/positions.py
  backend/apps/trading/migrations/0001_initial.py
  backend/apps/trading/models/orders.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/order.py
  backend/apps/trading/serializers/pnl.py
  backend/apps/trading/services/__init__.py
  backend/apps/trading/services/pnl.py
  backend/apps/trading/services/unrealized_pnl.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  backend/pyproject.toml
  backend/tests/integration/factories.py
  backend/tests/integration/market/test_candles.py
  backend/tests/integration/market/test_granularities.py
  backend/tests/integration/market/test_health.py
  backend/tests/integration/market/test_instruments.py
  backend/tests/integration/market/test_orders.py
  backend/tests/integration/market/test_positions.py
  backend/tests/integration/market/views/test_candles.py
  backend/tests/integration/market/views/test_granularities.py
  backend/tests/integration/market/views/test_instruments.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/uv.lock
Due: ty, django-check, django-migrations-check, pytest

fix: add unit tests
  .github/workflows/test.yml
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/common/DataTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useOverviewPnl.ts
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/pages/TradingTaskDetailPage.tsx
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/tradingTasks.ts
Due: eslint, typescript-check, vitest

fix: minor issues
  backend/apps/market/views/oanda.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/models/trading.py
  backend/tests/integration/market/test_oanda.py
  backend/tests/integration/market/views/test_oanda.py
  backend/tests/unit/market/views/test_oanda.py
  frontend/src/api/client.ts
  frontend/src/components/settings/AccountManagement.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: minor issues
  backend/tests/integration/market/tasks/test_supervisor_extended.py
  frontend/src/components/settings/AccountManagement.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: add trading and market celery listener
  docker-compose.yaml
Due: none

fix: add trading and market celery listener (#22)
  docker-compose.yaml
Due: none

fix: add -Q default,trading,market to celery worker command
  docker-compose.prod.yaml
Due: none

fix: add -Q default,trading,market to celery worker command (#23)
  docker-compose.prod.yaml
Due: none

fix: incremental polling to reduce backend load on BacktestTaskDetail
  backend/apps/trading/serializers/events.py
  backend/apps/trading/views/mixins.py
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/hooks/useTaskEvents.ts
  frontend/src/hooks/useTaskLogs.ts
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/utils/fetchAllTrades.ts
  frontend/src/utils/fetchMetricSnapshots.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: explicit celery_task_id passing and remove backend fallback
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/hooks/useOverviewPnl.ts
  frontend/src/hooks/useTaskEvents.ts
  frontend/src/hooks/useTaskLogs.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/utils/fetchAllTrades.ts
  frontend/src/utils/fetchMetricSnapshots.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: openapi issue
  .github/workflows/api-docs.yml
  .pre-commit-config.yaml
  backend/AGENTS.md
  backend/apps/accounts/apps.py
  backend/apps/accounts/openapi.py
  backend/apps/accounts/views/logout.py
  backend/apps/accounts/views/notifications.py
  backend/apps/accounts/views/refresh.py
  backend/apps/accounts/views/settings.py
  backend/apps/health/views.py
  backend/apps/market/views/candles.py
  backend/apps/market/views/granularities.py
  backend/apps/market/views/health.py
  backend/apps/market/views/instruments.py
  backend/apps/market/views/market.py
  backend/apps/market/views/oanda.py
  backend/apps/market/views/orders.py
  backend/apps/market/views/positions.py
  backend/apps/trading/urls.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/configs.py
  backend/apps/trading/views/strategies.py
  backend/apps/trading/views/ticks.py
  backend/apps/trading/views/trading.py
  backend/config/settings.py
  backend/config/urls.py
  backend/pyproject.toml
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useCurrentTickPolling.ts
  frontend/src/services/polling/TaskPollingService.ts
  frontend/src/services/polling/TickPollingService.ts
  scripts/check-openapi-schema.sh
  scripts/generate-openapi-schema.sh
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: failing test
  backend/tests/unit/accounts/test_schema.py
Due: ty, django-check, django-migrations-check, pytest

fix: build failure
  frontend/src/components/tasks/detail/MetricsOverlayChart.tsx
Due: eslint, typescript-check, vitest

fix: login page issue
  AGENTS.md
  frontend/src/App.tsx
  frontend/src/api/client.ts
Due: eslint, typescript-check, vitest

feat: add color theme
  frontend/src/App.tsx
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/contexts/AccessibilityContext.tsx
  frontend/src/contexts/AccessibilityContextDefinition.ts
  frontend/src/theme/darkTheme.ts
  frontend/src/theme/theme.ts
Due: eslint, typescript-check, vitest

feat: add color theme (#26)
  frontend/src/App.tsx
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/contexts/AccessibilityContext.tsx
  frontend/src/contexts/AccessibilityContextDefinition.ts
  frontend/src/theme/darkTheme.ts
  frontend/src/theme/theme.ts
Due: eslint, typescript-check, vitest

fix: add version info to the dashboard
  .github/workflows/api-docs.yml
  .github/workflows/version-bump.yml
  .pre-commit-config.yaml
  backend/apps/accounts/views/login.py
  backend/apps/accounts/views/registration.py
  backend/apps/accounts/views/settings.py
  backend/apps/accounts/views/verification.py
  backend/apps/health/services/health.py
  backend/apps/health/views.py
  backend/apps/trading/views/strategies.py
  backend/config/settings.py
  docs/openapi.json
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  scripts/check-openapi-schema.sh
  scripts/generate-openapi-schema.sh
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: failing tests
  backend/tests/integration/health/test_health_view.py
Due: ty, django-check, django-migrations-check, pytest

fix: add version info (#27)
  .github/workflows/api-docs.yml
  .github/workflows/version-bump.yml
  .pre-commit-config.yaml
  backend/apps/accounts/views/login.py
  backend/apps/accounts/views/registration.py
  backend/apps/accounts/views/settings.py
  backend/apps/accounts/views/verification.py
  backend/apps/health/services/health.py
  backend/apps/health/views.py
  backend/apps/trading/views/strategies.py
  backend/config/settings.py
  backend/tests/integration/health/test_health_view.py
  docs/openapi.json
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  scripts/check-openapi-schema.sh
  scripts/generate-openapi-schema.sh
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

chore: pr based version bump
  .github/workflows/version-bump.yml
Due: none

chore: remove unnecessary skip condition from version-bump workflow
  .github/workflows/version-bump.yml
Due: none

chore: pr based version bump (#28)
  .github/workflows/version-bump.yml
Due: none
