Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore(frontend): format changelog
  frontend/CHANGELOG.md
Due: none

fix: stop live broker drift and repair deploy drain (#479)
  .github/workflows/release-please.yml
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/tasks/test_executor.py
  docs/openapi.json
  frontend/CHANGELOG.md
Due: ty, django-check, django-migrations-check, pytest

fix: trigger production redeploy
  README.md
Due: none

fix: trigger production redeploy (#481)
  README.md
Due: none

fix(backtest): avoid false orphan restart failures
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/tasks/recovery.py
  backend/tests/integration/market/tasks/test_backtest.py
  backend/tests/unit/trading/tasks/test_recovery.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(backtest): avoid false orphan restart failures (#482)
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/tasks/recovery.py
  backend/tests/integration/market/tasks/test_backtest.py
  backend/tests/unit/trading/tasks/test_recovery.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): allow restart to adopt broker exposure
  backend/apps/trading/services/reconciliation.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/tasks/test_executor.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): recover orphaned tasks on worker startup
  backend/apps/trading/tasks/__init__.py
  backend/apps/trading/tasks/recovery.py
  backend/config/celery.py
  backend/tests/unit/trading/tasks/test_recovery.py
Due: ty, django-check, django-migrations-check, pytest

fix(ui): align OANDA currency and PnL units
  backend/apps/market/views/oanda.py
  backend/apps/trading/services/reconciliation.py
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/pages/OandaAccountDetailPage.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): tidy OANDA account detail controls
  frontend/src/pages/OandaAccountDetailPage.tsx
Due: eslint, typescript-check, vitest

fix(configuration): unlock edits when tasks are stopped
  backend/apps/trading/serializers/strategy.py
  backend/tests/unit/trading/serializers/test_strategy.py
  docs/openapi.json
  frontend/src/i18n/locales/en/configuration.json
  frontend/src/i18n/locales/ja/configuration.json
Due: ty, django-check, django-migrations-check, pytest

fix(ui): show timezone on task timestamps
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
Due: eslint, typescript-check, vitest

fix(ui): allow horizontal scroll in task logs
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
Due: eslint, typescript-check, vitest

test(trading): align strategy config update API coverage
  backend/tests/integration/trading/test_views.py
Due: ty, django-check, django-migrations-check, pytest

fix(backtest): localize backtest task period display
  frontend/src/components/backtest/BacktestTaskCard.tsx
Due: eslint, typescript-check, vitest

fix(backtest): tolerate missing i18n locale in task card
  frontend/src/components/backtest/BacktestTaskCard.tsx
Due: eslint, typescript-check, vitest

fix(trading): localize failed task card message
  frontend/src/components/trading/TradingTaskCard.tsx
Due: eslint, typescript-check, vitest

fix: trading restart recovery UI (#484)
  backend/apps/market/views/oanda.py
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/tasks/__init__.py
  backend/apps/trading/tasks/recovery.py
  backend/config/celery.py
  backend/tests/integration/trading/test_views.py
  backend/tests/unit/trading/serializers/test_strategy.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/tests/unit/trading/tasks/test_recovery.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/i18n/locales/en/configuration.json
  frontend/src/i18n/locales/ja/configuration.json
  frontend/src/pages/OandaAccountDetailPage.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): harden task recovery after deploy restarts
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/tasks/recovery.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/tasks/test_recovery.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): harden task recovery after deploy restarts (#487)
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/tasks/recovery.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/tasks/test_recovery.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(ci): prevent deploy drain from swallowing ssh stdin
  .github/workflows/release-please.yml
Due: none

fix(ci): prevent deploy drain from swallowing ssh stdin (#489)
  .github/workflows/release-please.yml
Due: none

fix(trading): resume paused deploy tasks
  .github/workflows/release-please.yml
  backend/apps/trading/dataclasses/control.py
  backend/apps/trading/management/commands/drain_trading_for_deploy.py
  backend/apps/trading/management/commands/resume_backtest.py
  backend/apps/trading/management/commands/resume_trading.py
  backend/apps/trading/migrations/0038_include_paused_in_active_trading_account_constraint.py
  backend/apps/trading/migrations/0039_alter_celerytaskstatus_status.py
  backend/apps/trading/models/celery.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/tasks/state.py
  backend/apps/trading/tasks/trading.py
  backend/tests/unit/trading/management/test_drain_trading_for_deploy.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
  docs/openapi.json
  frontend/src/pages/TradingTasksPage.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(backtest): ignore implicit pause mocks
  backend/apps/trading/tasks/executor.py
Due: ty, django-check, django-migrations-check, pytest

fix(backtest): resume deploy-paused runs
  .github/workflows/release-please.yml
  backend/apps/trading/management/commands/drain_backtests_for_deploy.py
  backend/tests/unit/trading/management/test_drain_backtests_for_deploy.py
Due: ty, django-check, django-migrations-check, pytest

fix: deploy resume and oanda link (#492)
  .github/workflows/release-please.yml
  backend/apps/trading/dataclasses/control.py
  backend/apps/trading/management/commands/drain_backtests_for_deploy.py
  backend/apps/trading/management/commands/resume_backtest.py
  backend/apps/trading/management/commands/resume_trading.py
  backend/apps/trading/migrations/0038_include_paused_in_active_trading_account_constraint.py
  backend/apps/trading/migrations/0039_alter_celerytaskstatus_status.py
  backend/apps/trading/models/celery.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/tasks/state.py
  backend/apps/trading/tasks/trading.py
  backend/tests/unit/trading/management/test_drain_backtests_for_deploy.py
  backend/tests/unit/trading/management/test_drain_trading_for_deploy.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
  docs/openapi.json
  frontend/src/pages/TradingTasksPage.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ci): quote deploy ssh heredoc
  .github/workflows/release-please.yml
Due: none

fix: quote deploy ssh heredoc (#494)
  .github/workflows/release-please.yml
Due: none

feat(trading): surface replayed execution impact
  backend/apps/trading/dataclasses/execution.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0040_add_replay_markers_to_execution_records.py
  backend/apps/trading/models/orders.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  backend/tests/unit/trading/serializers/test_events.py
  backend/tests/unit/trading/tasks/test_executor.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskTrades.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

test(trading): update replay execution fixtures
  backend/tests/integration/trading/test_executor_integration.py
Due: ty, django-check, django-migrations-check, pytest

fix: replay event markers (#495)
  backend/apps/trading/dataclasses/execution.py
  backend/apps/trading/events/handler.py
  backend/apps/trading/migrations/0040_add_replay_markers_to_execution_records.py
  backend/apps/trading/models/orders.py
  backend/apps/trading/models/positions.py
  backend/apps/trading/models/trades.py
  backend/apps/trading/serializers/events.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_executor_integration.py
  backend/tests/unit/trading/serializers/test_events.py
  backend/tests/unit/trading/tasks/test_executor.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskTrades.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(metrics): stop live OHLC auto reloads
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
Due: eslint, typescript-check, vitest

fix(metrics): stop live OHLC auto reloads (#497)
  frontend/src/components/tasks/detail/MetricsOhlcChart.tsx
Due: eslint, typescript-check, vitest

fix(logs): add responsive mobile log layout
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
Due: eslint, typescript-check, vitest

fix(logs): satisfy responsive layout build checks
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
Due: eslint, typescript-check, vitest

fix(trading): refresh live task card summaries
  frontend/src/pages/TradingTasksPage.tsx
Due: eslint, typescript-check, vitest

fix(trading): refresh live task card summaries (#499)
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/pages/TradingTasksPage.tsx
Due: eslint, typescript-check, vitest

fix(frontend): apply settings to task pages
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/settings/DataSettings.tsx
  frontend/src/components/settings/DisplaySettings.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/useAppSettings.ts
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/settings.json
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/src/utils/numberFormat.ts
  frontend/src/utils/persistentState.ts
  frontend/src/utils/timezone.ts
Due: eslint, typescript-check, vitest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
