Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: config revision visibility (#698)
  backend/apps/trading/migrations/0059_strategy_config_revision.py
  backend/apps/trading/models/configs.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/execution.py
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/services/backtest_initial_positions.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/executions.py
  backend/apps/trading/services/task_policy.py
  backend/apps/trading/strategies/snowball/entries.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/tests/unit/trading/serializers/test_strategy.py
  backend/tests/unit/trading/services/test_resume_config.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/uv.lock
  docs/openapi.json
  docs/strategies/ja/snowball.md
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/HistoricalStrategyConfigDialog.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/configuration.ts
  frontend/src/types/execution.ts
  frontend/src/types/tradingTask.ts
  frontend/src/utils/strategyConfigRevision.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: config revision visibility (#698)
  backend/apps/trading/migrations/0059_strategy_config_revision.py
  backend/apps/trading/models/configs.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/execution.py
  backend/apps/trading/serializers/strategy.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/services/backtest_initial_positions.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/executions.py
  backend/apps/trading/services/task_policy.py
  backend/apps/trading/strategies/snowball/entries.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/tests/unit/trading/serializers/test_strategy.py
  backend/tests/unit/trading/services/test_resume_config.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  docs/openapi.json
  docs/strategies/ja/snowball.md
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/HistoricalStrategyConfigDialog.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/configuration.ts
  frontend/src/types/execution.ts
  frontend/src/types/tradingTask.ts
  frontend/src/utils/strategyConfigRevision.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): add task instrument diagnostics
  backend/apps/market/views/instruments.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/instrument.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/services/task_instrument_context.py
  backend/tests/integration/trading/test_serializers_integration.py
  backend/tests/unit/trading/serializers/test_backtest.py
  backend/tests/unit/trading/serializers/test_trading.py
  backend/tests/unit/trading/services/test_task_instrument_context.py
  docs/openapi.json
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/instrument.ts
  frontend/src/types/tradingTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(snowball): remove legacy model facade
  backend/apps/trading/services/strategy_snapshot.py
  backend/apps/trading/strategies/snowball/accounting.py
  backend/apps/trading/strategies/snowball/counter_flow.py
  backend/apps/trading/strategies/snowball/cycle_orchestrator.py
  backend/apps/trading/strategies/snowball/decision_trace.py
  backend/apps/trading/strategies/snowball/entry_lifecycle.py
  backend/apps/trading/strategies/snowball/events.py
  backend/apps/trading/strategies/snowball/execution_binding.py
  backend/apps/trading/strategies/snowball/grid_policy.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/pricing.py
  backend/apps/trading/strategies/snowball/protection.py
  backend/apps/trading/strategies/snowball/reconciliation.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/strategies/snowball/tick_phases.py
  backend/apps/trading/strategies/snowball/visualization.py
  backend/tests/manual/test_snowball_visual.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/services/test_strategy_grid_state.py
  backend/tests/unit/trading/strategies/snowball/production_scenarios.py
  backend/tests/unit/trading/strategies/snowball/test_grid_invariants_property.py
  backend/tests/unit/trading/strategies/snowball/test_grid_policy.py
  backend/tests/unit/trading/strategies/snowball/test_invariants.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_production_scenarios.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  backend/tests/unit/trading/strategies/snowball/test_strategy.py
  backend/tests/unit/trading/strategies/snowball/test_tick_phases.py
  frontend/CHANGELOG.md
Due: ty, django-check, django-migrations-check, pytest

feat(frontend): link current config snapshots to edit
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/HistoricalStrategyConfigDialog.test.tsx
  frontend/src/components/tasks/detail/HistoricalStrategyConfigDialog.tsx
  frontend/src/components/tasks/detail/StrategyParameterDialog.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/utils/strategyConfigRevision.ts
Due: eslint, typescript-check, vitest

feat(trading): propagate money metadata in metrics
  backend/apps/trading/services/metric_money.py
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/services/strategy_metrics.py
  backend/apps/trading/services/task_metrics.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/services/test_runtime_metrics.py
  backend/tests/unit/trading/services/test_task_metrics.py
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/types/backtest.ts
  frontend/src/types/execution.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): expose display conversion context
  backend/apps/trading/serializers/__init__.py
  backend/apps/trading/serializers/execution.py
  backend/apps/trading/serializers/money.py
  backend/apps/trading/serializers/summary.py
  backend/apps/trading/services/conversion_context.py
  backend/apps/trading/services/execution_metrics.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/summary.py
  backend/tests/unit/trading/services/test_execution_metrics.py
  backend/tests/unit/trading/services/test_summary.py
  docs/openapi.json
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/services/api/contracts.ts
  frontend/src/types/execution.ts
  frontend/src/types/money.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): expose lifecycle pnl display money
  backend/apps/trading/services/position_lifecycle.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/views/test_mixins_query_usage.py
  docs/openapi.json
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): expose instrument and money metadata
  backend/apps/market/views/instruments.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/utils.py
  backend/tests/integration/market/views/test_instruments.py
  backend/tests/integration/trading/test_serializers_integration.py
  backend/tests/unit/market/views/test_instruments_view.py
  backend/tests/unit/trading/serializers/test_backtest.py
  backend/tests/unit/trading/test_utils.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/tasks/forms/currencyValidation.ts
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/hooks/miscQueries.ts
  frontend/src/hooks/useMarketConfig.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/services/api/contracts.ts
  frontend/src/services/api/market.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/index.ts
  frontend/src/types/instrument.ts
  frontend/src/utils/instruments.test.ts
  frontend/src/utils/instruments.ts
  frontend/tests/integration/hooks/useMarketConfig.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): expose converted pnl money
  backend/apps/market/migrations/0013_tickdata_latest_lookup_index.py
  backend/apps/market/models/tick.py
  backend/apps/trading/serializers/execution.py
  backend/apps/trading/serializers/summary.py
  backend/apps/trading/services/execution_metrics.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/fx_rates.py
  backend/apps/trading/services/summary.py
  backend/tests/unit/trading/services/test_execution_metrics.py
  backend/tests/unit/trading/services/test_fx_rates.py
  backend/tests/unit/trading/services/test_summary.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/tasks/detail/ExecutionStatusSummary.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/services/api/contracts.ts
  frontend/src/types/execution.ts
  frontend/src/utils/numberFormat.ts
  frontend/tests/unit/utils/numberFormat.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): tighten currency display handling
  backend/apps/trading/money.py
  backend/apps/trading/serializers/execution.py
  backend/apps/trading/services/execution_metrics.py
  backend/apps/trading/services/fx_rates.py
  backend/apps/trading/services/summary.py
  backend/tests/integration/trading/test_serializers_integration.py
  backend/tests/unit/trading/services/test_execution_metrics.py
  backend/tests/unit/trading/services/test_fx_rates.py
  backend/tests/unit/trading/services/test_summary.py
  backend/tests/unit/trading/test_utils.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestBalanceAdjustmentDialog.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/tasks/forms/CurrencyCodeField.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/constants/currencies.ts
  frontend/src/services/api/contracts.ts
  frontend/src/types/execution.ts
  frontend/src/utils/numberFormat.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(snowball): consolidate service responsibilities
  backend/apps/trading/services/backtest_initial_positions.py
  backend/apps/trading/strategies/snowball/__init__.py
  backend/apps/trading/strategies/snowball/calculators.py
  backend/apps/trading/strategies/snowball/counter_flow.py
  backend/apps/trading/strategies/snowball/cycle_state.py
  backend/apps/trading/strategies/snowball/entries.py
  backend/apps/trading/strategies/snowball/grid_models.py
  backend/apps/trading/strategies/snowball/parameters.py
  backend/apps/trading/strategies/snowball/reconciliation.py
  backend/apps/trading/strategies/snowball/state_parsing.py
  backend/apps/trading/strategies/snowball/stop_loss_flow.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/strategies/snowball/visualization.py
  backend/tests/unit/trading/services/test_backtest_initial_positions.py
  backend/tests/unit/trading/strategies/snowball/factories.py
  backend/tests/unit/trading/strategies/snowball/test_calculators.py
  backend/tests/unit/trading/strategies/snowball/test_grid_policy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
Due: ty, django-check, django-migrations-check, pytest

feat(trading): finish display currency surfaces
  backend/apps/trading/services/backtest_balance.py
  backend/apps/trading/services/backtest_initial_positions.py
  backend/apps/trading/services/display_money.py
  backend/apps/trading/services/execution_metrics.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/utils.py
  backend/tests/unit/trading/services/test_display_money.py
  frontend/src/components/backtest/BacktestBalanceAdjustmentDialog.tsx
  frontend/src/components/backtest/BacktestInitialPositionsEditor.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/common/MoneyAmountText.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/tasks/detail/ExecutionStatusSummary.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/utils/instruments.test.ts
  frontend/src/utils/instruments.ts
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(trading): type lifecycle money payloads
  backend/apps/trading/serializers/__init__.py
  backend/apps/trading/serializers/lifecycle.py
  backend/apps/trading/views/mixins.py
  docs/openapi.json
  frontend/src/components/common/MoneyAmountText.tsx
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): expose display money on trade pnl
  backend/apps/trading/serializers/events.py
  backend/apps/trading/services/task_activity.py
  backend/apps/trading/services/trade_money.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/serializers/test_events.py
  backend/tests/unit/trading/services/test_task_activity.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/hooks/useTaskTrades.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(trading): add currency-aware service boundaries
  backend/apps/trading/events/handler.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/execution.py
  backend/apps/trading/services/backtest_balance.py
  backend/apps/trading/services/backtest_initial_positions.py
  backend/apps/trading/services/drain.py
  backend/apps/trading/services/execution_metrics.py
  backend/apps/trading/services/runtime_metrics.py
  backend/apps/trading/strategies/reconciliation.py
  backend/apps/trading/strategies/snowball/config.py
  backend/apps/trading/strategies/snowball/cycle_lifecycle.py
  backend/apps/trading/strategies/snowball/reconciliation.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/strategies/snowball_net/reconciliation.py
  backend/apps/trading/tasks/drain.py
  backend/apps/trading/utils.py
  backend/tests/unit/trading/services/test_drain.py
  backend/tests/unit/trading/test_utils.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(trading): resolve currency display from market rates
  backend/apps/trading/serializers/execution.py
  backend/apps/trading/services/execution_metrics.py
  backend/apps/trading/services/fx_rates.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/utils.py
  backend/apps/trading/views/fx.py
  backend/tests/unit/trading/services/test_execution_metrics.py
  backend/tests/unit/trading/services/test_fx_rates.py
  backend/tests/unit/trading/test_utils.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/detail/ExecutionStatusSummary.tsx
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/taskPositionCopyExtractors.ts
  frontend/src/components/tasks/forms/BalanceInput.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/pages/OandaAccountsPage.tsx
  frontend/src/pages/oanda-account-detail/formatters.ts
  frontend/src/services/api/contracts.ts
  frontend/src/utils/numberFormat.ts
  frontend/tests/unit/utils/numberFormat.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): expose display money on position pnl
  backend/apps/trading/serializers/events.py
  backend/apps/trading/services/position_money.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/serializers/test_events.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/taskPositionCopyExtractors.ts
  frontend/src/hooks/useTaskPositions.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): avoid heavy currency migration backfill
  backend/apps/trading/migrations/0060_backtesttask_display_currency_and_more.py
Due: ty, django-check, django-migrations-check, pytest

feat(trading): show currency conversion context
  backend/tests/unit/trading/views/test_backtest_viewset.py
  backend/tests/unit/trading/views/test_trading_viewset.py
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/tasks/detail/ExecutionStatusSummary.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/utils/currencyConversion.ts
  frontend/tests/unit/utils/currencyConversion.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

test(frontend): silence confirm dialog act warning
  frontend/tests/integration/components/ConfirmDialog.test.tsx
Due: eslint, typescript-check, vitest

feat(trading): expose task money context
  backend/apps/trading/serializers/__init__.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/fx.py
  backend/apps/trading/serializers/money.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/services/task_money_context.py
  backend/apps/trading/views/fx.py
  backend/tests/integration/trading/test_serializers_integration.py
  backend/tests/unit/trading/serializers/test_backtest.py
  backend/tests/unit/trading/serializers/test_trading.py
  backend/tests/unit/trading/services/test_task_money_context.py
  docs/openapi.json
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/money.ts
  frontend/src/types/tradingTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): report balance adjustment display money
  backend/apps/trading/migrations/0060_backtesttask_display_currency_and_more.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/services/backtest_balance.py
  backend/apps/trading/strategies/snowball/entries.py
  backend/tests/e2e/trading/test_backtest_tasks_api.py
  backend/tests/integration/trading/test_task_list_queries.py
  backend/uv.lock
  docs/openapi.json
  frontend/CHANGELOG.md
  frontend/src/types/backtestTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(trading): derive display currencies from task context
  backend/apps/trading/models/backtest.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/services/execution_metrics.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/summary.py
  backend/tests/integration/trading/test_serializers_integration.py
  backend/tests/unit/trading/serializers/test_trading.py
  backend/tests/unit/trading/services/test_summary.py
  docs/openapi.json
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/execution.ts
  frontend/src/types/index.ts
  frontend/src/types/money.ts
  frontend/src/types/tradingTask.ts
  frontend/src/utils/numberFormat.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(auth): limit refresh token row locking
  backend/apps/accounts/services/jwt.py
  backend/tests/unit/accounts/services/test_jwt.py
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): standardize currency placement
  frontend/src/components/backtest/BacktestBalanceAdjustmentDialog.tsx
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/settings/AccountManagement.tsx
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/detail/LatestMetricsSummary.tsx
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/taskPositionCopyExtractors.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/pages/oanda-account-detail/formatters.ts
  frontend/src/utils/numberFormat.ts
  frontend/tests/unit/components/taskCardActions.test.tsx
  frontend/tests/unit/utils/numberFormat.test.ts
Due: eslint, typescript-check, vitest

fix(frontend): standardize currency placement (#704)
  frontend/src/components/backtest/BacktestBalanceAdjustmentDialog.tsx
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/settings/AccountManagement.tsx
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/detail/LatestMetricsSummary.tsx
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/taskPositionCopyExtractors.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.test.ts
  frontend/src/components/tasks/detail/taskSettingDefinitions.ts
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/pages/oanda-account-detail/formatters.ts
  frontend/src/utils/numberFormat.ts
  frontend/tests/unit/components/taskCardActions.test.tsx
  frontend/tests/unit/utils/numberFormat.test.ts
Due: eslint, typescript-check, vitest

fix(frontend): improve layout density and header spacing
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/common/LazyTabPanel.tsx
  frontend/src/components/configurations/ConfigurationCard.tsx
  frontend/src/components/dashboard/ActiveTasksWidget.tsx
  frontend/src/components/dashboard/DashboardChartToolbar.tsx
  frontend/src/components/dashboard/QuickActionsWidget.tsx
  frontend/src/components/dashboard/RecentBacktestsWidget.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.test.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/tasks/detail/TaskDetailTabs.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/detailLayout.ts
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/display/StatCard.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/ConfigurationsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
Due: eslint, typescript-check, vitest

test(frontend): update visual layout snapshots
  frontend/tests/e2e/visual.spec.ts-snapshots/backtest-tasks-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/backtest-tasks-mobile-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/configurations-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/dashboard-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/dashboard-mobile-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/settings-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/trading-tasks-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/trading-tasks-mobile-chromium-linux.png
Due: none

fix(frontend): improve layout density and header spacing (#706)
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/common/LazyTabPanel.tsx
  frontend/src/components/configurations/ConfigurationCard.tsx
  frontend/src/components/dashboard/ActiveTasksWidget.tsx
  frontend/src/components/dashboard/DashboardChartToolbar.tsx
  frontend/src/components/dashboard/QuickActionsWidget.tsx
  frontend/src/components/dashboard/RecentBacktestsWidget.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.test.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/tasks/detail/TaskDetailTabs.tsx
  frontend/src/components/tasks/detail/TaskMetricsTab.tsx
  frontend/src/components/tasks/detail/detailLayout.ts
  frontend/src/components/tasks/detail/strategy/SnowballNetStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/display/StatCard.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/pages/BacktestTasksPage.tsx
  frontend/src/pages/ConfigurationsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/TradingTasksPage.tsx
  frontend/tests/e2e/visual.spec.ts-snapshots/backtest-tasks-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/backtest-tasks-mobile-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/configurations-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/dashboard-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/dashboard-mobile-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/settings-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/trading-tasks-desktop-chromium-linux.png
  frontend/tests/e2e/visual.spec.ts-snapshots/trading-tasks-mobile-chromium-linux.png
Due: eslint, typescript-check, vitest

fix(snowball): reduce grid violation warning noise
  backend/apps/trading/strategies/snowball/cycle_orchestrator.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_production_scenarios.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): reduce grid violation warning noise (#708)
  backend/apps/trading/strategies/snowball/cycle_orchestrator.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_production_scenarios.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): retry transient DNS failures during broker drift checks
  backend/apps/market/services/oanda_retry.py
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/trading/services/test_oanda_retry.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): retry transient DNS failures during broker drift checks (#710)
  backend/apps/market/services/oanda_retry.py
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/trading/services/test_oanda_retry.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): stack OANDA accounts page header on narrow viewports
  frontend/src/pages/OandaAccountsPage.tsx
Due: eslint, typescript-check, vitest

fix(frontend): stack OANDA accounts page header on narrow viewports (#712)
  frontend/src/pages/OandaAccountsPage.tsx
Due: eslint, typescript-check, vitest

fix(trading): refresh active execution snapshots
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/trading/services/test_summary.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): bound fx tick rate lookups
  backend/apps/trading/services/fx_rates.py
  backend/tests/unit/trading/services/test_fx_rates.py
Due: ty, django-check, django-migrations-check, pytest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
