Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

mypy:
  name: mypy
  entry: bash -c 'cd backend && source .venv/bin/activate && mypy .'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Add Dependabot configuration file (#10)
  .github/dependabot.yml
Due: none

chore: update ci to use ruff ty
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  DEVELOPMENT.md
  README.md
  backend/pyproject.toml
  backend/uv.lock
  pyrightconfig.json
Due: django-check, django-migrations-check

chore: update ci to use ruff ty (#11)
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  DEVELOPMENT.md
  README.md
  backend/pyproject.toml
  backend/uv.lock
  pyrightconfig.json
Due: django-check, django-migrations-check

refactor: update github actions to split CI workflows
  .github/workflows/test.yml
Due: none

refactor: update github actions to split CI workflows (#12)
  .github/workflows/test.yml
Due: none

fix: resolve all ty type checker errors and warnings
  backend/apps/market/management/commands/load_data.py
  backend/apps/market/serializers.py
  backend/apps/market/services/task.py
  backend/apps/trading/serializers.py
  backend/apps/trading/tasks.py
  backend/manage.py
  backend/tests/unit/accounts/services/test_email.py
Due: mypy, django-check, django-migrations-check, pytest

fix: resolve all ESLint errors in frontend
  frontend/src/components/backtest/detail/TaskOverviewTab.tsx
  frontend/src/components/backtest/detail/TaskResultsTab.tsx
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/tasks/charts/TradeLogTable.tsx
  frontend/src/components/trading/detail/TaskPerformanceTab.tsx
  frontend/src/utils/floorStrategyMarkers.ts
Due: eslint, typescript-check, vitest

fix: use static sha- prefix for Docker image tags to avoid invalid tag format on PRs
  .github/workflows/build-and-deploy.yml
Due: none

fix: resolve test failures and GitHub Actions workflow issue
  .github/workflows/test.yml
  backend/tests/unit/accounts/test_models.py
  backend/tests/unit/market/management/commands/test_load_data.py
  backend/tests/unit/market/services/test_oanda.py
Due: mypy, django-check, django-migrations-check, pytest

fix: resolve TypeScript build errors in frontend
  frontend/src/components/backtest/detail/TaskResultsTab.test.tsx
  frontend/src/components/backtest/detail/TaskResultsTab.tsx
  frontend/src/components/trading/detail/TaskPerformanceTab.test.tsx
Due: eslint, typescript-check, vitest

Update package.json
  .vscode/launch.json
  .vscode/settings.json
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(frontend): Prevent unnecessary OANDA health API calls and fix all chart tests
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chart/FinancialChart.test.tsx
  frontend/src/components/chart/FinancialChart.tsx
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/trading/TradingTaskChart.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
Due: eslint, typescript-check, vitest

fix(frontend): Prevent unnecessary OANDA health API calls and fix all chart tests
  frontend/src/components/chart/FinancialChart.tsx
Due: eslint, typescript-check, vitest

fix: slow UI performance (#15)
  .vscode/launch.json
  .vscode/settings.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chart/FinancialChart.test.tsx
  frontend/src/components/chart/FinancialChart.tsx
  frontend/src/components/layout/AppFooter.tsx
  frontend/src/components/trading/TradingTaskChart.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
Due: eslint, typescript-check, vitest

feat: Add pip_size and instrument fields to backtest tasks and fix UI issues
  .vscode/launch.json
  backend/apps/trading/migrations/0035_add_pip_size_to_backtest_task.py
  backend/apps/trading/migrations/0036_add_instrument_field_to_backtest_task.py
  backend/apps/trading/migrations/0037_add_instrument_to_trading_task.py
  backend/apps/trading/models.py
  backend/apps/trading/serializers.py
  backend/apps/trading/services/floor.py
  backend/apps/trading/tasks.py
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/backtest/detail/TaskConfigTab.tsx
  frontend/src/components/tasks/actions/TaskActionButtons.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/pages/BacktestTaskDetailPage.tsx
  frontend/src/types/backtestTask.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

test: Add missing instrument field to backtest task creation tests
  backend/tests/integration/trading/test_backtest_tasks_api.py
  backend/tests/integration/trading/test_strategy_configs_api.py
Due: mypy, django-check, django-migrations-check, pytest

feat: Add pip_size and instrument fields to backtest tasks and fix UI… (#16)
  .vscode/launch.json
  backend/apps/trading/migrations/0035_add_pip_size_to_backtest_task.py
  backend/apps/trading/migrations/0036_add_instrument_field_to_backtest_task.py
  backend/apps/trading/migrations/0037_add_instrument_to_trading_task.py
  backend/apps/trading/models.py
  backend/apps/trading/serializers.py
  backend/apps/trading/services/floor.py
  backend/apps/trading/tasks.py
  backend/tests/integration/trading/test_backtest_tasks_api.py
  backend/tests/integration/trading/test_strategy_configs_api.py
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/backtest/detail/TaskConfigTab.tsx
  frontend/src/components/tasks/actions/TaskActionButtons.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/pages/BacktestTaskDetailPage.tsx
  frontend/src/types/backtestTask.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor: implement core trading system infrastructure (tasks 1-7)
  backend/apps/trading/dataclasses.py
  backend/apps/trading/migrations/0038_add_execution_state_snapshot.py
  backend/apps/trading/migrations/0039_add_strategy_type_and_timestamp_to_execution_strategy_event.py
  backend/apps/trading/models.py
  backend/apps/trading/services/__init__.py
  backend/apps/trading/services/controller.py
  backend/apps/trading/services/events.py
  backend/apps/trading/services/performance.py
  backend/apps/trading/services/state.py
  backend/apps/trading/utils.py
  backend/tests/unit/trading/services/test_controller.py
  backend/tests/unit/trading/services/test_events.py
  backend/tests/unit/trading/services/test_performance.py
  backend/tests/unit/trading/services/test_state.py
  backend/tests/unit/trading/test_utils.py
Due: mypy, django-check, django-migrations-check, pytest

refactor: implement core trading system infrastructure (#17)
  backend/apps/trading/dataclasses.py
  backend/apps/trading/migrations/0038_add_execution_state_snapshot.py
  backend/apps/trading/migrations/0039_add_strategy_type_and_timestamp_to_execution_strategy_event.py
  backend/apps/trading/models.py
  backend/apps/trading/services/__init__.py
  backend/apps/trading/services/controller.py
  backend/apps/trading/services/events.py
  backend/apps/trading/services/performance.py
  backend/apps/trading/services/state.py
  backend/apps/trading/utils.py
  backend/tests/unit/trading/services/test_controller.py
  backend/tests/unit/trading/services/test_events.py
  backend/tests/unit/trading/services/test_performance.py
  backend/tests/unit/trading/services/test_state.py
  backend/tests/unit/trading/test_utils.py
Due: mypy, django-check, django-migrations-check, pytest

refactor(trading): improve event system and modularize Floor strategy
  backend/apps/trading/dataclasses.py
  backend/apps/trading/events.py
  backend/apps/trading/services/events.py
  backend/apps/trading/services/executor/backtest.py
  backend/apps/trading/services/executor/base.py
  backend/apps/trading/services/executor/trading.py
  backend/apps/trading/services/registry.py
  backend/apps/trading/strategies/base.py
  backend/apps/trading/strategies/floor.py
  backend/apps/trading/strategies/floor/__init__.py
  backend/apps/trading/strategies/floor/calculators.py
  backend/apps/trading/strategies/floor/components.py
  backend/apps/trading/strategies/floor/enums.py
  backend/apps/trading/strategies/floor/event.py
  backend/apps/trading/strategies/floor/history.py
  backend/apps/trading/strategies/floor/models.py
  backend/apps/trading/strategies/floor/monitors.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/strategies/floor/trading.py
  backend/apps/trading/tasks.py
  backend/tests/unit/trading/test_strategy_event.py
Due: mypy, django-check, django-migrations-check, pytest

fix(trading): updated failing tests.
  backend/tests/integration/trading/test_strategy_defaults_api.py
  backend/tests/unit/trading/test_backtest_task_pubsub_order.py
Due: mypy, django-check, django-migrations-check, pytest

refactor(trading): align TradingTask with BacktestTask pattern
  backend/apps/trading/models.py
  backend/apps/trading/services/executor/trading.py
  backend/apps/trading/tasks.py
  backend/tests/integration/trading/test_trading_task_actions_api.py
  backend/tests/unit/trading/test_backtest_task_pubsub_order.py
Due: mypy, django-check, django-migrations-check, pytest

feat: Add trading mode support (Netting/Hedging) and improve task lifecycle management
  backend/apps/trading/enums.py
  backend/apps/trading/migrations/0041_add_trading_mode.py
  backend/apps/trading/models/tasks.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/services/executor/base.py
  backend/apps/trading/services/lifecycle.py
  backend/apps/trading/services/registry.py
  backend/apps/trading/strategies/floor/calculators.py
  backend/apps/trading/strategies/floor/models.py
  backend/apps/trading/strategies/floor/strategy.py
  backend/apps/trading/strategies/floor/trading.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/base.py
  backend/apps/trading/tasks/trading.py
  backend/apps/trading/views/backtest_tasks.py
  backend/apps/trading/views/trading_tasks.py
  backend/tests/integration/trading/test_trading_tasks_api.py
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/forms/validationSchemas.ts
  frontend/src/types/backtestTask.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

style: fix code formatting in model files
  backend/apps/trading/models/events.py
  backend/apps/trading/models/floor.py
  backend/apps/trading/models/metrics.py
  backend/apps/trading/models/state.py
Due: mypy, django-check, django-migrations-check, pytest

Path conditions:
  mypy: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
