Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

feat: implement refresh token rotation with security hardening
  .env.example
  AGENTS.md
  DEVELOPMENT.md
  README.md
  backend/apps/accounts/middlewares/csp.py
  backend/apps/accounts/migrations/0003_add_refresh_token.py
  backend/apps/accounts/models/__init__.py
  backend/apps/accounts/models/security.py
  backend/apps/accounts/services/jwt.py
  backend/apps/accounts/tasks.py
  backend/apps/accounts/views/login.py
  backend/apps/accounts/views/logout.py
  backend/apps/accounts/views/refresh.py
  backend/config/settings.py
  backend/tests/unit/accounts/views/test_refresh.py
  docs/openapi.json
  frontend/src/api/client.ts
  frontend/src/components/settings/PreferencesForm.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/types/auth.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: update integration tests for refresh token rotation API
  backend/tests/integration/accounts/views/test_refresh.py
Due: ty, django-check, django-migrations-check, pytest

feat: refresh token security (#51)
  .env.example
  AGENTS.md
  DEVELOPMENT.md
  README.md
  backend/apps/accounts/middlewares/csp.py
  backend/apps/accounts/migrations/0003_add_refresh_token.py
  backend/apps/accounts/models/__init__.py
  backend/apps/accounts/models/security.py
  backend/apps/accounts/services/jwt.py
  backend/apps/accounts/tasks.py
  backend/apps/accounts/views/login.py
  backend/apps/accounts/views/logout.py
  backend/apps/accounts/views/refresh.py
  backend/config/settings.py
  backend/tests/integration/accounts/views/test_refresh.py
  backend/tests/unit/accounts/views/test_refresh.py
  docs/openapi.json
  frontend/src/api/client.ts
  frontend/src/components/settings/PreferencesForm.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/types/auth.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: restrict postgres/redis port exposure in production
  docker-compose.prod.yaml
Due: none

fix: restrict postgres/redis port exposure in production (#52)
  docker-compose.prod.yaml
Due: none

feat: add management commands for backtest, trading, and config CRUD operations
  AGENTS.md
  backend/apps/trading/management/commands/create_backtest.py
  backend/apps/trading/management/commands/create_config.py
  backend/apps/trading/management/commands/create_trading.py
  backend/apps/trading/management/commands/delete_backtest.py
  backend/apps/trading/management/commands/delete_config.py
  backend/apps/trading/management/commands/delete_trading.py
  backend/apps/trading/management/commands/list_backtests.py
  backend/apps/trading/management/commands/list_configs.py
  backend/apps/trading/management/commands/list_tasks.py
  backend/apps/trading/management/commands/list_tradings.py
  backend/apps/trading/management/commands/restart_backtest.py
  backend/apps/trading/management/commands/restart_trading.py
  backend/apps/trading/management/commands/start_backtest.py
  backend/apps/trading/management/commands/start_trading.py
  backend/apps/trading/management/commands/stop_backtest.py
  backend/apps/trading/management/commands/stop_trading.py
  backend/apps/trading/management/commands/update_backtest.py
  backend/apps/trading/management/commands/update_config.py
  backend/apps/trading/management/commands/update_trading.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat: add management commands for backtest, trading, and config CRUD … (#54)
  AGENTS.md
  backend/apps/trading/management/commands/create_backtest.py
  backend/apps/trading/management/commands/create_config.py
  backend/apps/trading/management/commands/create_trading.py
  backend/apps/trading/management/commands/delete_backtest.py
  backend/apps/trading/management/commands/delete_config.py
  backend/apps/trading/management/commands/delete_trading.py
  backend/apps/trading/management/commands/list_backtests.py
  backend/apps/trading/management/commands/list_configs.py
  backend/apps/trading/management/commands/list_tasks.py
  backend/apps/trading/management/commands/list_tradings.py
  backend/apps/trading/management/commands/restart_backtest.py
  backend/apps/trading/management/commands/restart_trading.py
  backend/apps/trading/management/commands/start_backtest.py
  backend/apps/trading/management/commands/start_trading.py
  backend/apps/trading/management/commands/stop_backtest.py
  backend/apps/trading/management/commands/stop_trading.py
  backend/apps/trading/management/commands/update_backtest.py
  backend/apps/trading/management/commands/update_config.py
  backend/apps/trading/management/commands/update_trading.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(auth): add AnonRateThrottle to protect unauthenticated endpoints
  backend/config/settings.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(auth): add AnonRateThrottle to protect unauthenticated endpoints (#56)
  backend/config/settings.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(trading): add dry_run option to trading tasks
  .pre-commit-config.yaml
  backend/apps/trading/migrations/0013_add_dry_run_to_trading_task.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/serializers/task.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/trading.py
  docs/openapi.json
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/types/tradingTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(e2e): replace pytest_plugins with direct imports in conftest
  .pre-commit-config.yaml
  backend/tests/e2e/conftest.py
Due: ty, django-check, django-migrations-check, pytest

fix(e2e): increase CI timeout to 300s for full 24h backtest
  .github/workflows/test.yml
Due: none

fix(frontend): chart dark mode colors, scroll behavior, cleanup
  frontend/src/components/charts/EquityOHLCChart.tsx
  frontend/src/components/charts/index.ts
  frontend/src/components/common/ChartContainer.tsx
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/dashboard/chartOverlaySettings.ts
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/tests/unit/components/charts/EquityOHLCChart.test.tsx
Due: eslint, typescript-check, vitest

fix(frontend): chart dark mode colors, scroll behavior, cleanup (#59)
  frontend/src/components/charts/EquityOHLCChart.tsx
  frontend/src/components/charts/index.ts
  frontend/src/components/common/ChartContainer.tsx
  frontend/src/components/dashboard/MarketChart.tsx
  frontend/src/components/dashboard/chartOverlaySettings.ts
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/tests/unit/components/charts/EquityOHLCChart.test.tsx
Due: eslint, typescript-check, vitest

docs: reorganize DEVELOPMENT.md setup steps
  DEVELOPMENT.md
Due: none

docs: reorganize DEVELOPMENT.md setup steps (#61)
  DEVELOPMENT.md
Due: none

chore: move frontend/e2e to frontend/tests/e2e
  frontend/playwright.config.ts
  frontend/tests/e2e/README.md
  frontend/tests/e2e/backtest-tasks.spec.ts
  frontend/tests/e2e/execution-comparison.spec.ts
  frontend/tests/e2e/fixtures/auth.ts
  frontend/tests/e2e/fixtures/index.ts
  frontend/tests/e2e/granularity-selector.spec.ts
  frontend/tests/e2e/helpers/chart.ts
  frontend/tests/e2e/helpers/form.ts
  frontend/tests/e2e/helpers/index.ts
  frontend/tests/e2e/helpers/navigation.ts
  frontend/tests/e2e/helpers/table.ts
  frontend/tests/e2e/helpers/task.ts
  frontend/tests/e2e/trading-tasks.spec.ts
  frontend/vite.config.ts
Due: eslint, typescript-check, vitest

chore: move frontend/e2e to frontend/tests/e2e (#62)
  frontend/playwright.config.ts
  frontend/tests/e2e/README.md
  frontend/tests/e2e/backtest-tasks.spec.ts
  frontend/tests/e2e/execution-comparison.spec.ts
  frontend/tests/e2e/fixtures/auth.ts
  frontend/tests/e2e/fixtures/index.ts
  frontend/tests/e2e/granularity-selector.spec.ts
  frontend/tests/e2e/helpers/chart.ts
  frontend/tests/e2e/helpers/form.ts
  frontend/tests/e2e/helpers/index.ts
  frontend/tests/e2e/helpers/navigation.ts
  frontend/tests/e2e/helpers/table.ts
  frontend/tests/e2e/helpers/task.ts
  frontend/tests/e2e/trading-tasks.spec.ts
  frontend/vite.config.ts
Due: eslint, typescript-check, vitest

fix(ui): fix Events/Logs tab scroll and dark mode scrollbar styling
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/theme/darkTheme.ts
Due: eslint, typescript-check, vitest

fix(ui): fix Events/Logs tab scroll and dark mode scrollbar styling (#63)
  frontend/src/components/tasks/detail/TaskEventsTable.tsx
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/theme/darkTheme.ts
Due: eslint, typescript-check, vitest

refactor(trading): unify TradingTaskDetailPage with BacktestTaskDetail 7-tab layout
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/pages/TradingTaskDetailPage.tsx
Due: eslint, typescript-check, vitest

refactor(trading): unify TradingTaskDetailPage with BacktestTaskDetai… (#65)
  frontend/src/components/tasks/detail/TaskReplayPanel.tsx
  frontend/src/pages/TradingTaskDetailPage.tsx
Due: eslint, typescript-check, vitest

fix(ci): disable uv cache in e2e-frontend job to prevent pruning error
  .github/workflows/test.yml
Due: none
