Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: ["--fix", "--config=backend/pyproject.toml"]
        files: ^backend/
      - id: ruff-format
        args: ["--config=backend/pyproject.toml"]
        files: ^backend/

  # Type checking with ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Security checks
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-c", "backend/pyproject.toml", "-r", "backend/"]
        files: ^backend/

  # Docstring coverage
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: ["-vv", "--fail-under=0", "backend/"]
        files: ^backend/

  # Frontend - Prettier formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        args: ["--write"]
        additional_dependencies:
          - prettier@3.6.2

  # Django specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django System Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: django-migrations-check
        name: Django Migrations Check
        entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: pytest
        name: Run pytest
        entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
        language: system
        pass_filenames: false
        files: ^backend/.*\.py$
        stages: [pre-push]

      # Frontend checks
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

      - id: vitest
        name: Run Vitest
        entry: bash -c 'cd frontend && npm run test'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [pre-push]

test(candles): fix coverage for paginated fetch changes
  backend/apps/market/views/candles.py
  backend/tests/unit/market/views/test_candles_view.py
  frontend/tests/integration/hooks/useWindowedCandles.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: disable backup and Athena jobs (#224)
  .env.example
  .gitignore
  AGENTS.md
  DEVELOPMENT.md
  backend/apps/market/views/candles.py
  backend/config/settings_parts/celery.py
  backend/tests/unit/market/views/test_candles_view.py
  frontend/src/hooks/useWindowedCandles.ts
  frontend/tests/integration/hooks/useWindowedCandles.test.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): change planned_exit_price_formula from CharField to TextField
  backend/apps/trading/migrations/0031_change_planned_exit_price_formula_to_text.py
  backend/apps/trading/models/positions.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): change planned_exit_price_formula from CharField to Tex… (#226)
  backend/apps/trading/migrations/0031_change_planned_exit_price_formula_to_text.py
  backend/apps/trading/models/positions.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): use current time as end for active cycle charts
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
Due: eslint, typescript-check, vitest

ci(build): login to DockerHub before setting up buildx
  .github/workflows/build.yml
Due: none

fix(frontend): use current time as end for active cycle charts (#228)
  .github/workflows/build.yml
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
Due: eslint, typescript-check, vitest

style(frontend): wrap backtest form in Paper and add i18n to strategy tab
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

style(frontend): wrap backtest form in Paper and add i18n to strategy… (#230)
  frontend/src/components/backtest/BacktestTaskForm.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(ci): include style/refactor/perf commits in release-please triggers
  release-please-config.json
Due: none

fix(ci): include style/refactor/perf commits in release-please triggers (#231)
  release-please-config.json
Due: none

feat(frontend): add independent OANDA accounts page with positions/trades tables
  frontend/src/App.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/ResponsiveNavigation.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/settings.json
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/pages/OandaAccountsPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/services/api/oandaMarket.ts
Due: eslint, typescript-check, vitest

feat(frontend): add independent OANDA accounts page with positions/tr… (#233)
  frontend/src/App.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/layout/ResponsiveNavigation.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/settings.json
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/pages/OandaAccountsPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/services/api/oandaMarket.ts
Due: eslint, typescript-check, vitest

fix(frontend): move OANDA accounts to user menu and add breadcrumbs
  frontend/src/components/common/Breadcrumbs.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/pages/OandaAccountDetailPage.tsx
Due: eslint, typescript-check, vitest

fix(frontend): move OANDA accounts to user menu and add breadcrumbs (#235)
  frontend/src/components/common/Breadcrumbs.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/pages/OandaAccountDetailPage.tsx
Due: eslint, typescript-check, vitest

fix(frontend): i18n breadcrumbs, section titles, and close selected positions
  frontend/src/components/common/Breadcrumbs.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/OandaAccountDetailPage.tsx
Due: eslint, typescript-check, vitest

fix(frontend): i18n breadcrumbs, section titles, and close selected p… (#237)
  frontend/src/components/common/Breadcrumbs.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/OandaAccountDetailPage.tsx
Due: eslint, typescript-check, vitest

fix(trading): add instrument selector to trading task creation form
  backend/apps/trading/serializers/trading.py
  docs/openapi.json
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/tradingTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): add instrument selector to trading task creation form (#240)
  backend/apps/trading/serializers/trading.py
  docs/openapi.json
  frontend/src/components/trading/TradingTaskForm.tsx
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/tradingTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): fetch live balance from OANDA and default instrument to USD_JPY
  backend/apps/trading/tasks/executor.py
  docs/openapi.json
  frontend/src/components/trading/TradingTaskForm.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): position current tick at right 1/4 in trend follow mode initial view
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
Due: eslint, typescript-check, vitest

fix(market): publish ticks to per-instrument channels and allow practice accounts
  backend/apps/market/tasks/publisher.py
  backend/tests/unit/market/tasks/test_publisher.py
Due: ty, django-check, django-migrations-check, pytest

fix: trading task initial balance and default instrument (#242)
  backend/apps/market/tasks/publisher.py
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/market/tasks/test_publisher.py
  docs/openapi.json
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChart.ts
  frontend/src/components/trading/TradingTaskForm.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(frontend): OANDA accounts UX improvements
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/settings.json
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/pages/OandaAccountsPage.tsx
  frontend/src/services/api/market.ts
Due: eslint, typescript-check, vitest

fix(backend): run backtest publisher in thread under Celery eager mode
  backend/apps/trading/tasks/source.py
  backend/test_db.sqlite3-journal
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): OANDA accounts UX improvements (#244)
  backend/apps/trading/tasks/source.py
  backend/test_db.sqlite3-journal
  docs/openapi.json
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/i18n/locales/ja/settings.json
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/pages/OandaAccountsPage.tsx
  frontend/src/services/api/market.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(market): increase OANDA candle API timeout and handle V20Timeout gracefully
  backend/apps/market/views/candles.py
  backend/config/settings.py
  backend/config/settings_e2e.py
  backend/config/settings_test.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(market): increase OANDA candle API timeout and handle V20Timeout … (#246)
  backend/apps/market/views/candles.py
  backend/config/settings.py
  backend/config/settings_e2e.py
  backend/config/settings_test.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(market): propagate OANDA upstream errors in positions and orders views
  backend/apps/market/views/orders.py
  backend/apps/market/views/positions.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(market): add exponential-backoff retry for OANDA candle API timeouts
  backend/apps/market/views/candles.py
  backend/config/settings.py
  backend/config/settings_e2e.py
  backend/config/settings_test.py
Due: ty, django-check, django-migrations-check, pytest

fix: oanda error propagation (#248)
  backend/apps/market/views/candles.py
  backend/apps/market/views/orders.py
  backend/apps/market/views/positions.py
  backend/config/settings.py
  backend/config/settings_e2e.py
  backend/config/settings_test.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(strategy): use backtest tick timestamp instead of wall-clock time for active cycles
  backend/apps/trading/services/strategy_cycles.py
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(strategy,trend): add marker controls, trade selection, lifecycle button, fix initial entry L/R
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendToolbar.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChartModel.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendMarkers.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendPanelState.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendViewModel.ts
Due: eslint, typescript-check, vitest

feat(trend): add active cycle filter to trend tab
  backend/apps/trading/services/trend_replay.py
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendToolbar.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/shared.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChartModel.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendOrchestration.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendPanelState.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendViewModel.ts
  frontend/src/services/api/taskResources.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

chore: uv.lock.
  backend/uv.lock
Due: django-check, django-migrations-check

fix(trend): resolve TypeScript build errors in markers hook and resource cache
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendMarkers.ts
  frontend/src/hooks/taskResourceCache.ts
Due: eslint, typescript-check, vitest

feat: strategy tab improvements (#250)
  backend/apps/trading/services/strategy_cycles.py
  backend/apps/trading/services/trend_replay.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/tasks/detail/strategy/StrategyGroupChart.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/detail/strategy/buildCycleMarkers.ts
  frontend/src/components/tasks/detail/taskTrendPanel/TaskTrendToolbar.tsx
  frontend/src/components/tasks/detail/taskTrendPanel/shared.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendChartModel.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendMarkers.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendOrchestration.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendPanelState.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendReplayData.ts
  frontend/src/components/tasks/detail/taskTrendPanel/useTaskTrendViewModel.ts
  frontend/src/hooks/taskResourceCache.ts
  frontend/src/services/api/taskResources.ts
  frontend/src/types/strategyVisualization.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(strategy): add select all / deselect all controls for trade selection
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

feat(strategy): add select all / deselect all controls for trade sele… (#252)
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(ui): improve mobile layout for backtest task list
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/BacktestTasksPage.tsx
Due: eslint, typescript-check, vitest
