Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

mypy:
  name: mypy
  entry: bash -c 'cd backend && source .venv/bin/activate && mypy .'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Added a Redis-based worker assignment mechanism to prevent multiple Celery workers from processing ticks for the same task concurrently
  backend/tests/test_backtest_task_api.py
  backend/tests/test_trading_task_stop.py
  backend/trading/tasks.py
Due: mypy, django-check, django-migrations-check, pytest

Fixed an issue where trading task shows recent orders which aren't from the previous executions.
  backend/trading/position_views.py
  frontend/src/components/trading/detail/LiveTaskTab.tsx
  frontend/src/components/trading/detail/OpenPositionsTable.tsx
  frontend/src/components/trading/detail/RecentTradesLog.tsx
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Removed the OANDA sync functionality and implemented direct OANDA API calls for orders, positions, and accounts.
  backend/accounts/tasks.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/tests/test_account_balance_fetching.py
  backend/tests/test_oanda_sync_task.py
  backend/trading/oanda_api.py
  backend/trading/oanda_sync_task.py
  backend/trading/order_views.py
  backend/trading/position_views.py
  backend/trading/sync_views.py
  backend/trading/tasks.py
  backend/trading_system/celery.py
  backend/trading_system/settings.py
  frontend/vite.config.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

FIx an issue where trading chart not showing up markers.
  frontend/src/components/trading/TradingTaskChart.test.tsx
  frontend/src/components/trading/TradingTaskChart.tsx
  frontend/src/utils/chartMarkers.ts
Due: eslint, typescript-check, vitest

Added state management system for trading tasks
  backend/tests/test_backtest_resource_limits.py
  backend/tests/test_floor_strategy.py
  backend/trading/base_strategy.py
  backend/trading/floor_strategy.py
  backend/trading/migrations/0026_add_strategy_state_to_trading_task.py
  backend/trading/trading_task_models.py
  backend/trading/trading_task_serializers.py
  backend/trading/trading_task_views.py
  backend/trading/urls.py
  frontend/src/components/tasks/actions/RestartOptionsDialog.tsx
  frontend/src/components/tasks/actions/TaskActionButtons.tsx
  frontend/src/components/tasks/actions/index.ts
  frontend/src/components/trading/detail/TaskPerformanceTab.test.tsx
  frontend/src/hooks/useTradingTaskMutations.ts
  frontend/src/pages/TradingTaskDetailPage.tsx
  frontend/src/services/api/tradingTasks.ts
  frontend/src/test/BacktestTaskForm.test.tsx
  frontend/src/test/TaskActionButtons.test.tsx
  frontend/src/types/tradingTask.ts
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Add task lifecycle logging.
  backend/trading/services/task_executor.py
  backend/trading/tasks.py
  backend/trading/trading_task_views.py
Due: mypy, django-check, django-migrations-check, pytest

Added position sync with OANDA account automatically called when a trading task starts.
  backend/trading/floor_strategy.py
  backend/trading/position_views.py
  backend/trading/services/position_sync.py
  backend/trading/services/task_executor.py
  backend/trading/trading_task_views.py
  frontend/src/pages/TradingTaskDetailPage.tsx
  frontend/src/test/AccountManagement.test.tsx
Due: mypy, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

Fixed an issue where loading task detail page failed.
  frontend/src/pages/TradingTaskDetailPage.tsx
Due: eslint, typescript-check, vitest

Refactored task_lock_manager.py.
  backend/tests/test_backtest_task_api.py
  backend/tests/test_stale_lock_cleanup.py
  backend/tests/test_task_lock_manager.py
  backend/trading/backtest_task_views.py
  backend/trading/services/task_executor.py
  backend/trading/services/task_lock_manager.py
  backend/trading/tasks.py
  backend/trading/trading_task_views.py
Due: mypy, django-check, django-migrations-check, pytest

Added pytest configurations.
  .vscode/settings.json
Due: none

Fixed an issue where order execution doesn't re-trigger on_tick callbacks.
  backend/trading/floor_strategy.py
  backend/trading/tasks.py
Due: mypy, django-check, django-migrations-check, pytest

Removed unused strategies.
  backend/tests/test_asian_range_strategy.py
  backend/tests/test_breakout_strategy.py
  backend/tests/test_fundamental_technical_strategy.py
  backend/tests/test_london_breakout_strategy.py
  backend/tests/test_ma_crossover_strategy.py
  backend/tests/test_macd_strategy.py
  backend/tests/test_macd_strategy_registration.py
  backend/tests/test_mean_reversion_strategy.py
  backend/tests/test_news_spike_strategy.py
  backend/tests/test_rsi_strategy.py
  backend/tests/test_scalping_strategy.py
  backend/tests/test_scalping_strategy_registration.py
  backend/tests/test_stochastic_strategy.py
  backend/tests/test_swing_trading_strategy.py
  backend/tests/test_trend_following_strategy.py
  backend/trading/arbitrage_strategy.py
  backend/trading/asian_range_strategy.py
  backend/trading/breakout_strategy.py
  backend/trading/fundamental_technical_strategy.py
  backend/trading/london_breakout_strategy.py
  backend/trading/ma_crossover_strategy.py
  backend/trading/macd_strategy.py
  backend/trading/mean_reversion_strategy.py
  backend/trading/news_spike_strategy.py
  backend/trading/rsi_strategy.py
  backend/trading/scalping_strategy.py
  backend/trading/stochastic_strategy.py
  backend/trading/swing_trading_strategy.py
  backend/trading/trend_following_strategy.py
Due: mypy, django-check, django-migrations-check, pytest

Added an extra path to analyze for python interpretor.
  .vscode/settings.json
Due: none

Added Django runserver configuration to launch.json
  .vscode/launch.json
Due: none

Added user's name fields.
  backend/apps/accounts/admin.py
  backend/apps/accounts/management/commands/create_superuser.py
  backend/apps/accounts/management/commands/create_user.py
  backend/apps/accounts/serializers.py
  backend/apps/accounts/views.py
  backend/tests/integration/accounts/test_registration.py
  backend/tests/integration/accounts/test_user_settings.py
  backend/tests/settings_test.py
  backend/tests/unit/accounts/test_admin.py
  backend/tests/unit/accounts/test_serializers.py
Due: mypy, django-check, django-migrations-check, pytest

Added admin models.
  backend/apps/accounts/admin.py
  backend/apps/accounts/middleware.py
  backend/apps/accounts/permissions.py
  backend/apps/accounts/rate_limiter.py
  backend/apps/accounts/serializers.py
  backend/apps/accounts/views.py
  backend/tests/unit/accounts/test_middleware.py
  backend/tests/unit/accounts/test_rate_limiter.py
Due: mypy, django-check, django-migrations-check, pytest

Refactored accounts app.
  backend/apps/accounts/admin.py
  backend/apps/accounts/authentication.py
  backend/apps/accounts/jwt_utils.py
  backend/apps/accounts/middleware.py
  backend/apps/accounts/migrations/0002_user_notifications.py
  backend/apps/accounts/migrations/0003_account_security_event.py
  backend/apps/accounts/models.py
  backend/apps/accounts/serializers.py
  backend/apps/accounts/services/__init__.py
  backend/apps/accounts/services/email.py
  backend/apps/accounts/services/events.py
  backend/apps/accounts/services/jwt.py
  backend/apps/accounts/urls.py
  backend/apps/accounts/views.py
  backend/tests/integration/accounts/test_notifications.py
  backend/tests/unit/accounts/services/test_email.py
  backend/tests/unit/accounts/services/test_events.py
  backend/tests/unit/accounts/services/test_jwt.py
  backend/tests/unit/accounts/test_authentication.py
  backend/tests/unit/accounts/test_security_logger.py
  backend/tests/unit/accounts/test_views.py
Due: mypy, django-check, django-migrations-check, pytest

Refactored floor strategy.
  .vscode/settings.json
  backend/apps/trading/migrations/0033_floorstrategylayerstate_floorstrategytaskstate_and_more.py
  backend/apps/trading/models.py
  backend/apps/trading/serializers.py
  backend/apps/trading/services/performance.py
  backend/apps/trading/tasks.py
  backend/apps/trading/urls.py
  backend/apps/trading/views.py
  backend/trading/floor_strategy.py
Due: mypy, django-check, django-migrations-check, pytest

Path conditions:
  mypy: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
