Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(snowball): add refill_up_to config and layer-initial close handling
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): set default retracement_count to 0 for initial entries
  backend/apps/trading/strategies/snowball/models.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
Due: ty, django-check, django-migrations-check, pytest

refactor: snowball layer retracement model (#278)
  backend/apps/trading/schemas/snowball.json
  backend/apps/trading/services/executions.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(snowball): reset layer instead of completing it when layer-initial TP closes
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): reset layer instead of completing it when layer-initia… (#280)
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

chore(frontend): unify polling intervals to 5 seconds
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/hooks/useOptimisticTaskStatus.ts
  frontend/src/hooks/usePollingActivity.ts
  frontend/src/hooks/useTaskLogs.ts
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskQueryPolling.ts
  frontend/src/hooks/useTaskTrades.ts
Due: eslint, typescript-check, vitest

fix(snowball): rebuild layer-initial entry after layer reset
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

chore(frontend): unify polling intervals to 5 seconds (#282)
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/hooks/useOptimisticTaskStatus.ts
  frontend/src/hooks/usePollingActivity.ts
  frontend/src/hooks/useTaskLogs.ts
  frontend/src/hooks/useTaskOrders.ts
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskQueryPolling.ts
  frontend/src/hooks/useTaskTrades.ts
Due: eslint, typescript-check, vitest

fix: sort execution list by created_at and show execution ID in overview
  backend/apps/trading/services/executions.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: snowball layer reset on initial tp (#285)
  backend/apps/trading/strategies/snowball/strategy.py
Due: ty, django-check, django-migrations-check, pytest

fix: sort execution list by created_at and show execution ID in overview (#286)
  backend/apps/trading/services/executions.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

refactor(snowball): overhaul models and strategy for correct rules
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

test+docs(snowball): add comprehensive rule tests and update documentation
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/strategies/ja/snowball.md
Due: ty, django-check, django-migrations-check, pytest

refactor: snowball rules overhaul (#288)
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
  docs/strategies/ja/snowball.md
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): use prev layer highest slot close price for layer initial TP
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): use prev layer highest slot close price for layer initial TP (#290)
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(strategy-tab): snapshot detail data to prevent polling-driven chart redraws
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix(strategy-tab): make mobile back button sticky on scroll
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

fix: increase pagination limit to 1000 and simplify layer initial formula
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/views/pagination.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/views/test_pagination.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(tests): update integration tests for new TradePositionPagination max_page_size
  backend/tests/integration/trading/test_mixins_integration.py
Due: ty, django-check, django-migrations-check, pytest

fix: strategy tab detail manual refresh (#292)
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/views/pagination.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/views/test_pagination.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskLogsTable.tsx
  frontend/src/components/tasks/detail/TaskOrdersTable.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(snowball): remove layer on L2+ initial close, add UI filters
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/views/mixins.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): use tick timestamps in position lifecycle, add i18n
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix: remove layer on initial close (#294)
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/views/mixins.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  docs/openapi.json
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
  frontend/src/components/tasks/detail/TaskTradesTable.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/hooks/useTaskPositions.ts
  frontend/src/hooks/useTaskTrades.ts
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): align positions tab layout with trades tab
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
Due: eslint, typescript-check, vitest

fix(ui): align positions tab layout with trades tab (#296)
  frontend/src/components/tasks/detail/TaskPositionsTable.tsx
Due: eslint, typescript-check, vitest

fix(celery): remove max-tasks-per-child and add shutdown logging
  backend/config/celery.py
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(celery): remove max-tasks-per-child and add shutdown logging (#298)
  backend/config/celery.py
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): fix position cache memory leak and add celery mem_limit
  backend/apps/trading/events/handler.py
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): fix position cache memory leak and add celery mem_limit (#300)
  backend/apps/trading/events/handler.py
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(trading): add debug_options with tracemalloc support
  backend/apps/trading/migrations/0032_add_debug_options.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/tasks/executor.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(ui): add tracemalloc toggle to task overview tabs
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/tradingTask.ts
Due: eslint, typescript-check, vitest

refactor(ui): move tracemalloc toggle to task edit forms
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/pages/TradingTaskFormPage.tsx
Due: eslint, typescript-check, vitest

feat: task debug options (#302)
  backend/apps/trading/migrations/0032_add_debug_options.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/serializers/trading.py
  backend/apps/trading/tasks/executor.py
  backend/uv.lock
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskUpdateForm.tsx
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/trading/TradingTaskUpdateForm.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/pages/BacktestTaskFormPage.tsx
  frontend/src/pages/TradingTaskFormPage.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/types/backtestTask.ts
  frontend/src/types/tradingTask.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): show 0% progress for running tasks
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
Due: eslint, typescript-check, vitest

fix(ui): show 0% progress for running tasks (#304)
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
Due: eslint, typescript-check, vitest

fix(snowball): guard L1/R0 close when counter entries are open
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(snowball): guard L1/R0 close when counter entries are open (#306)
  backend/apps/trading/strategies/snowball/strategy.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
