Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore(db): label postgres connections by service
  .env.example
  backend/apps/trading/strategies/snowball/strategy.py
  backend/config/settings.py
  docker-compose.prod.yaml
  docker-compose.yaml
Due: ty, django-check, django-migrations-check, pytest

test(trading): align serializers and task start coverage
  backend/tests/integration/trading/test_serializers_integration.py
  backend/tests/unit/trading/serializers/test_trading.py
  backend/tests/unit/trading/tasks/test_service.py
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): pass timezone into strategy trade rows
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
Due: eslint, typescript-check, vitest

test(frontend): update task card action mocks
  frontend/tests/unit/components/taskCardActions.test.tsx
Due: eslint, typescript-check, vitest

fix(trading): skip tick supervisor in eager tests
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
  backend/tests/unit/trading/tasks/test_service.py
Due: ty, django-check, django-migrations-check, pytest

fix(celery): isolate control workers and gate task starts
  .env.example
  backend/apps/trading/services/task_capacity.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/views/task_base.py
  backend/config/celery.py
  backend/config/settings_parts/celery.py
  backend/tests/unit/trading/services/test_task_capacity.py
  backend/tests/unit/trading/tasks/test_service.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  backend/tests/unit/trading/views/test_trading_viewset.py
  backend/uv.lock
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(market): stream task instruments per account
  backend/apps/market/tasks/publisher.py
  backend/apps/market/tasks/supervisor.py
  backend/apps/trading/views/task_base.py
  backend/tests/integration/market/tasks/test_supervisor_extended.py
  backend/tests/unit/market/tasks/test_publisher.py
Due: ty, django-check, django-migrations-check, pytest

fix(celery): isolate control workers and gate task starts (#459)
  .env.example
  backend/apps/market/tasks/publisher.py
  backend/apps/market/tasks/supervisor.py
  backend/apps/trading/services/task_capacity.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/views/task_base.py
  backend/config/celery.py
  backend/config/settings_parts/celery.py
  backend/tests/integration/market/tasks/test_supervisor_extended.py
  backend/tests/unit/market/tasks/test_publisher.py
  backend/tests/unit/trading/services/test_task_capacity.py
  backend/tests/unit/trading/tasks/test_service.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  backend/tests/unit/trading/views/test_trading_viewset.py
  backend/uv.lock
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): ignore stale market heartbeats in capacity
  backend/apps/trading/services/task_capacity.py
  backend/tests/unit/trading/services/test_task_capacity.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): ignore stale market heartbeats in capacity (#461)
  backend/apps/trading/services/task_capacity.py
  backend/tests/unit/trading/services/test_task_capacity.py
  backend/uv.lock
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): hide progress percentage in detail view
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

fix(market): harden trading task tick orchestration
  .env.example
  backend/apps/market/tasks/base.py
  backend/apps/market/tasks/publisher.py
  backend/apps/market/tasks/subscriber.py
  backend/apps/market/tasks/supervisor.py
  backend/apps/trading/services/task_capacity.py
  backend/config/settings_parts/celery.py
  backend/tests/integration/market/tasks/test_supervisor_extended.py
  backend/tests/unit/market/tasks/test_publisher.py
  backend/tests/unit/market/tasks/test_subscriber.py
  backend/tests/unit/trading/services/test_task_capacity.py
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(market): harden trading task tick orchestration (#463)
  .env.example
  backend/apps/market/tasks/base.py
  backend/apps/market/tasks/publisher.py
  backend/apps/market/tasks/subscriber.py
  backend/apps/market/tasks/supervisor.py
  backend/apps/trading/services/task_capacity.py
  backend/config/settings_parts/celery.py
  backend/tests/integration/market/tasks/test_supervisor_extended.py
  backend/tests/unit/market/tasks/test_publisher.py
  backend/tests/unit/market/tasks/test_subscriber.py
  backend/tests/unit/trading/services/test_task_capacity.py
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/openapi.json
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): surface capacity errors and restore snowball ordering
  backend/apps/trading/services/task_capacity.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/views/task_base.py
  backend/tests/unit/trading/services/test_task_capacity.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/tasks/test_backtest_task.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  backend/tests/unit/trading/views/test_trading_viewset.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/utils/taskActionError.ts
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(celery): align explicit task queues with routes
  backend/apps/market/signals/account.py
  backend/apps/market/signals/backtest.py
  backend/apps/market/tasks/supervisor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/service.py
  backend/tests/integration/market/tasks/test_supervisor_extended.py
Due: ty, django-check, django-migrations-check, pytest

fix(celery): align explicit task queues with routes
  backend/tests/unit/trading/tasks/test_service.py
Due: ty, django-check, django-migrations-check, pytest

chore(celery): size workers for six concurrent tasks
  .env.example
  backend/config/settings_parts/celery.py
  backend/tests/unit/trading/services/test_task_capacity.py
  docker-compose.prod.yaml
  docker-compose.yaml
Due: ty, django-check, django-migrations-check, pytest

fix(api): avoid exposing task exception details
  backend/apps/trading/views/task_base.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  backend/tests/unit/trading/views/test_trading_viewset.py
Due: ty, django-check, django-migrations-check, pytest

fix: task capacity and snowball ordering (#465)
  .env.example
  backend/apps/market/signals/account.py
  backend/apps/market/signals/backtest.py
  backend/apps/market/tasks/supervisor.py
  backend/apps/trading/services/task_capacity.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/views/task_base.py
  backend/config/settings_parts/celery.py
  backend/tests/integration/market/tasks/test_supervisor_extended.py
  backend/tests/unit/trading/services/test_task_capacity.py
  backend/tests/unit/trading/strategies/snowball/test_models.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/tasks/test_backtest_task.py
  backend/tests/unit/trading/tasks/test_service.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  backend/tests/unit/trading/views/test_trading_viewset.py
  docker-compose.prod.yaml
  docker-compose.yaml
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/utils/taskActionError.ts
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(market): parse dict-based OANDA transactions
  backend/apps/market/services/oanda.py
  backend/tests/integration/trading/test_oanda_service_integration.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): stack position actions on account detail
  frontend/src/pages/OandaAccountDetailPage.tsx
Due: eslint, typescript-check, vitest

fix(frontend): stack position actions on account detail (#467)
  backend/apps/market/services/oanda.py
  backend/tests/integration/trading/test_oanda_service_integration.py
  docs/openapi.json
  frontend/src/pages/OandaAccountDetailPage.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(market): parse attribute-based OANDA trades
  backend/apps/market/services/oanda.py
  backend/tests/unit/market/services/test_oanda_service.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

feat(market): add account detail history filters
  backend/apps/market/services/oanda.py
  backend/apps/market/views/positions.py
  backend/tests/integration/market/views/test_positions.py
  backend/tests/integration/trading/test_oanda_service_integration.py
  backend/tests/unit/market/services/test_oanda_service.py
  docs/openapi.json
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/services/api/oandaMarket.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(market): add account detail history filters (#470)
  backend/apps/market/services/oanda.py
  backend/apps/market/views/positions.py
  backend/tests/integration/market/views/test_positions.py
  backend/tests/integration/trading/test_oanda_service_integration.py
  backend/tests/unit/market/services/test_oanda_service.py
  docs/openapi.json
  frontend/src/pages/OandaAccountDetailPage.tsx
  frontend/src/services/api/oandaMarket.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(trading): speed up orphaned task recovery
  backend/apps/trading/tasks/recovery.py
  backend/config/settings_parts/celery.py
  backend/tests/unit/trading/tasks/test_recovery.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): add broker safety gates
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/tasks/test_executor.py
Due: ty, django-check, django-migrations-check, pytest

fix(backtest): reject malformed replay ticks
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/source.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/tasks/test_source.py
Due: ty, django-check, django-migrations-check, pytest

test(backtest): align snowball executable-price timing
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
Due: ty, django-check, django-migrations-check, pytest

fix(frontend): add task summary locale keys
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: none

fix(frontend): add task summary locale keys (#472)
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/recovery.py
  backend/apps/trading/tasks/source.py
  backend/config/settings_parts/celery.py
  backend/tests/integration/trading/test_snowball_backtest_simulation.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_strategy.py
  backend/tests/unit/trading/tasks/test_executor.py
  backend/tests/unit/trading/tasks/test_recovery.py
  backend/tests/unit/trading/tasks/test_source.py
  docs/openapi.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): resume snowball tasks after deploy
  .github/workflows/release-please.yml
  backend/apps/trading/management/commands/drain_trading_for_deploy.py
  backend/apps/trading/services/reconciliation.py
  backend/tests/unit/trading/management/test_drain_trading_for_deploy.py
  backend/tests/unit/trading/services/test_reconciliation.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(trading): resume snowball tasks after deploy (#474)
  .github/workflows/release-please.yml
  backend/apps/trading/management/commands/drain_trading_for_deploy.py
  backend/apps/trading/services/reconciliation.py
  backend/tests/unit/trading/management/test_drain_trading_for_deploy.py
  backend/tests/unit/trading/services/test_reconciliation.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

fix(ci): bootstrap deploy trading drain
  .github/workflows/release-please.yml
Due: none

fix(trading): show task card pnl in quote currency
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/services/api/contracts.ts
  frontend/src/types/execution.ts
Due: eslint, typescript-check, vitest

fix(api): normalize latest execution summaries
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/tradingTasks.ts
Due: eslint, typescript-check, vitest

fix(ci): bootstrap deploy trading drain (#477)
  .github/workflows/release-please.yml
Due: none

fix(api): normalize latest execution summaries (#476)
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/services/api/backtestTasks.ts
  frontend/src/services/api/contracts.ts
  frontend/src/services/api/tradingTasks.ts
  frontend/src/types/execution.ts
Due: eslint, typescript-check, vitest

fix: stop live broker drift and repair deploy drain
  .github/workflows/release-please.yml
  backend/apps/trading/services/reconciliation.py
  backend/apps/trading/tasks/executor.py
  backend/tests/unit/trading/services/test_reconciliation.py
  backend/tests/unit/trading/tasks/test_executor.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
