Repository yuyash/auto-forex-web-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

ty:
  name: ty
  entry: bash -c 'cd backend && source .venv/bin/activate && ty check'
  language: system
  pass_filenames: false

django-check:
  name: Django System Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py check --fail-level WARNING'
  language: system
  pass_filenames: false

django-migrations-check:
  name: Django Migrations Check
  entry: bash -c 'cd backend && source .venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

pytest:
  name: Run pytest
  entry: bash -c 'cd backend && source .venv/bin/activate && pytest -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

vitest:
  name: Run Vitest
  entry: bash -c 'cd frontend && npm run test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(ui): localize snapshot parameter keys and fix comparison chart data (#523)
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/utils/strategySchemaLabels.ts
Due: eslint, typescript-check, vitest

fix(comparison): use unified xAxis data array for multi-series charts
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(comparison): use unified xAxis data array for multi-series charts (#525)
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(ui): hide controls and show historical status when viewing past executions
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

fix(comparison): use auto interval for metrics to prevent excessive API calls
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
Due: eslint, typescript-check, vitest

feat(comparison): add URL-based comparison and global refresh button
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
Due: eslint, typescript-check, vitest

fix(ui): hide controls and show historical status when viewing past e… (#527)
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/detail/TaskDetailHeader.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
Due: eslint, typescript-check, vitest

fix(comparison): use union time range for shared auto interval
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/utils/autoGranularity.ts
Due: eslint, typescript-check, vitest

fix(comparison): use backtest period from task_config for auto interval
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/utils/fetchMetrics.ts
Due: eslint, typescript-check, vitest

fix: comparison auto interval (#529)
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/utils/autoGranularity.ts
  frontend/src/utils/fetchMetrics.ts
Due: eslint, typescript-check, vitest

fix: multi-issue UI and backend improvements
  backend/apps/trading/migrations/0043_add_notes_to_execution_snapshot.py
  backend/apps/trading/models/snapshots.py
  backend/apps/trading/serializers/execution.py
  backend/apps/trading/services/executions.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  docs/openapi.json
  frontend/src/components/tasks/actions/TaskActionConfirmDialog.tsx
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/tasks/display/StatCard.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/services/api/taskApiFactory.ts
  frontend/src/types/execution.ts
  frontend/src/utils/numberFormat.ts
  frontend/src/utils/timezone.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(backtest): fix total_trades double-counting on resume and reduce period font size
  backend/apps/trading/tasks/executor.py
  frontend/src/components/backtest/BacktestTaskCard.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: resolve DRF action URL conflict and update tests for stop confirmation
  backend/apps/trading/views/mixins.py
  docs/openapi.json
  frontend/src/services/api/taskApiFactory.ts
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
  frontend/tests/unit/components/taskCardActions.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix: multi issue UI backend improvements (#531)
  backend/apps/trading/migrations/0043_add_notes_to_execution_snapshot.py
  backend/apps/trading/models/snapshots.py
  backend/apps/trading/serializers/execution.py
  backend/apps/trading/services/executions.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/views/mixins.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/tasks/actions/TaskActionConfirmDialog.tsx
  frontend/src/components/tasks/detail/ExecutionComparisonDialog.tsx
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
  frontend/src/components/tasks/display/StatCard.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
  frontend/src/services/api/taskApiFactory.ts
  frontend/src/types/execution.ts
  frontend/src/utils/numberFormat.ts
  frontend/src/utils/timezone.ts
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
  frontend/tests/unit/components/taskCardActions.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): clean up strategy cycle list indicators and execution history layout
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
Due: eslint, typescript-check, vitest

fix(ui): clean up strategy cycle list indicators and execution histor… (#533)
  frontend/src/components/tasks/detail/strategy/TaskStrategyTab.tsx
  frontend/src/components/tasks/display/ExecutionHistoryTable.tsx
Due: eslint, typescript-check, vitest

chore(vscode): update launch configuration
  .vscode/launch.json
  backend/uv.lock
  docs/openapi.json
Due: django-check, django-migrations-check

chore(vscode): update launch configuration (#535)
  .vscode/launch.json
  backend/uv.lock
  docs/openapi.json
Due: django-check, django-migrations-check

fix(backtest): deliver ticks over Redis Streams with backpressure and gap detection
  backend/apps/market/tasks/backtest.py
  backend/apps/market/tasks/base.py
  backend/apps/trading/tasks/__init__.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/source.py
  backend/config/settings.py
  backend/tests/integration/market/tasks/test_backtest_stream_publisher.py
  backend/tests/integration/market/tasks/test_base.py
  backend/tests/integration/trading/test_stream_source_integration.py
  backend/tests/unit/market/tasks/test_base.py
  backend/tests/unit/trading/tasks/test_backtest_task.py
  backend/tests/unit/trading/tasks/test_executor.py
Due: ty, django-check, django-migrations-check, pytest

fix(backtest): deliver ticks over Redis Streams with backpressure and… (#536)
  backend/apps/market/tasks/backtest.py
  backend/apps/market/tasks/base.py
  backend/apps/trading/tasks/__init__.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/source.py
  backend/config/settings.py
  backend/tests/integration/market/tasks/test_backtest_stream_publisher.py
  backend/tests/integration/market/tasks/test_base.py
  backend/tests/integration/trading/test_stream_source_integration.py
  backend/tests/unit/market/tasks/test_base.py
  backend/tests/unit/trading/tasks/test_backtest_task.py
  backend/tests/unit/trading/tasks/test_executor.py
Due: ty, django-check, django-migrations-check, pytest

fix(backtest): use consumer groups for real lag-based backpressure
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/tasks/source.py
  backend/config/settings.py
  backend/tests/integration/market/tasks/test_backtest_stream_publisher.py
  backend/tests/integration/trading/test_stream_source_integration.py
  backend/uv.lock
Due: ty, django-check, django-migrations-check, pytest

fix(backtest): recover from NOGROUP and avoid destroying subscriber's stream
  backend/apps/market/tasks/backtest.py
  backend/apps/trading/tasks/source.py
  backend/tests/integration/trading/test_stream_source_integration.py
Due: ty, django-check, django-migrations-check, pytest

fix(tasks): stop mode dialog in detail header, resume failed tasks, immediate idle
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/views/task_base.py
  docs/openapi.json
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/utils/taskActionError.ts
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(backtest): mode-aware stop with Keep / Close All / Drain options
  backend/apps/trading/migrations/0046_backtesttask_sell_on_stop.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/views/backtest.py
  backend/tests/unit/trading/tasks/test_service.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskActions.tsx
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/actions/BacktestStopDialog.tsx
  frontend/src/components/tasks/actions/StopOptionsDialog.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useTaskControls.ts
  frontend/src/services/api/backtestTasks.ts
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/unit/components/taskCardActions.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(snowball): cycle/lifecycle P/L warnings and same-tick counter adds
  backend/apps/trading/events/handler.py
  backend/apps/trading/services/position_lifecycle.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  docs/openapi.json
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(backtest): isolate stream per execution and purge stale state
  backend/apps/market/tasks/backtest.py
  backend/apps/market/tasks/base.py
  backend/apps/trading/serializers/summary.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/source.py
  backend/tests/integration/market/tasks/test_backtest_stream_publisher.py
  backend/tests/unit/market/tasks/test_base.py
  backend/tests/unit/trading/tasks/test_backtest_task.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/LatestMetricsSummary.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskSummary.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(tasks): stop exposing raw exception text on resume failure
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/views/task_base.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  backend/tests/unit/trading/views/test_trading_viewset.py
Due: ty, django-check, django-migrations-check, pytest

fix(tasks): remove exception text from resume error response bodies
  backend/apps/trading/views/task_base.py
Due: ty, django-check, django-migrations-check, pytest

fix(tasks): stop binding caught exceptions on resume error paths
  backend/apps/trading/views/task_base.py
Due: ty, django-check, django-migrations-check, pytest

fix(tasks): isolate resume error payloads from exception handlers
  backend/apps/trading/views/task_base.py
Due: ty, django-check, django-migrations-check, pytest

test(e2e): accept IDLE as a valid post-start trading state
  backend/tests/e2e/trading/test_trading_tasks_api.py
Due: ty, django-check, django-migrations-check, pytest

fix: task lifecycle followups (#541)
  backend/apps/trading/migrations/0046_backtesttask_sell_on_stop.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/serializers/backtest.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/views/backtest.py
  backend/apps/trading/views/task_base.py
  backend/tests/e2e/trading/test_trading_tasks_api.py
  backend/tests/unit/trading/tasks/test_service.py
  backend/tests/unit/trading/views/test_backtest_viewset.py
  backend/tests/unit/trading/views/test_trading_viewset.py
  docs/openapi.json
  frontend/src/components/backtest/BacktestTaskActions.tsx
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/actions/BacktestStopDialog.tsx
  frontend/src/components/tasks/actions/StopOptionsDialog.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/hooks/useBacktestTaskMutations.ts
  frontend/src/hooks/useTaskControls.ts
  frontend/src/services/api/backtestTasks.ts
  frontend/src/utils/taskActionError.ts
  frontend/tests/integration/pages/BacktestTaskDetail.test.tsx
  frontend/tests/integration/pages/TradingTaskDetail.test.tsx
  frontend/tests/unit/components/taskCardActions.test.tsx
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(snowball): cycle/lifecycle P/L warnings and same-tick counter adds (#543)
  backend/apps/trading/events/handler.py
  backend/apps/trading/services/position_lifecycle.py
  backend/apps/trading/strategies/snowball/models.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/views/mixins.py
  backend/tests/integration/trading/test_mixins_integration.py
  backend/tests/unit/trading/strategies/snowball/test_snowball_tick_patterns.py
  docs/openapi.json
  frontend/src/components/tasks/detail/PositionLifecycleDialog.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(backtest): isolate stream per execution and purge stale state (#544)
  backend/apps/market/tasks/backtest.py
  backend/apps/market/tasks/base.py
  backend/apps/trading/serializers/summary.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/source.py
  backend/tests/integration/market/tasks/test_backtest_stream_publisher.py
  backend/tests/unit/market/tasks/test_base.py
  backend/tests/unit/trading/tasks/test_backtest_task.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/tasks/detail/LatestMetricsSummary.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskSummary.ts
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(ui,backend): add stop reason, tidy log precision, fix resume
  backend/apps/trading/serializers/summary.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/utils.py
  backend/tests/unit/trading/tasks/test_service.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/trading.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

feat(ui,backend): add stop reason, tidy log precision, fix resume (#547)
  backend/apps/trading/serializers/summary.py
  backend/apps/trading/services/execution_snapshots.py
  backend/apps/trading/services/summary.py
  backend/apps/trading/strategies/snowball/strategy.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/utils.py
  backend/tests/unit/trading/tasks/test_service.py
  docs/openapi.json
  frontend/src/components/backtest/detail/BacktestOverviewTab.tsx
  frontend/src/components/trading/detail/TradingOverviewTab.tsx
  frontend/src/hooks/taskResourceQueries.ts
  frontend/src/hooks/useTaskSummary.ts
  frontend/src/i18n/locales/en/backtest.json
  frontend/src/i18n/locales/en/trading.json
  frontend/src/i18n/locales/ja/backtest.json
  frontend/src/i18n/locales/ja/trading.json
Due: ty, django-check, django-migrations-check, pytest, eslint, typescript-check, vitest

fix(ui): localise stop-options dialog and shrink strategy chip
  frontend/src/components/backtest/BacktestTaskActions.tsx
  frontend/src/components/backtest/BacktestTaskCard.tsx
  frontend/src/components/backtest/BacktestTaskDetail.tsx
  frontend/src/components/tasks/actions/StopOptionsDialog.tsx
  frontend/src/components/trading/TradingTaskActions.tsx
  frontend/src/components/trading/TradingTaskCard.tsx
  frontend/src/components/trading/TradingTaskDetail.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/ja/common.json
Due: eslint, typescript-check, vitest

fix(trading): separate celery_task_id from execution_id
  backend/apps/trading/migrations/0047_add_celery_task_id.py
  backend/apps/trading/models/backtest.py
  backend/apps/trading/models/trading.py
  backend/apps/trading/tasks/backtest.py
  backend/apps/trading/tasks/executor.py
  backend/apps/trading/tasks/lifecycle_commands.py
  backend/apps/trading/tasks/recovery.py
  backend/apps/trading/tasks/service.py
  backend/apps/trading/tasks/trading.py
  backend/tests/unit/trading/tasks/test_lifecycle_commands.py
  backend/tests/unit/trading/tasks/test_recovery.py
  backend/tests/unit/trading/tasks/test_service.py
  backend/tests/unit/trading/tasks/test_trading_task.py
  docs/openapi.json
Due: ty, django-check, django-migrations-check, pytest

Path conditions:
  ty: any of: ^backend/ and \.py$
  django-check: any of: ^backend/
  django-migrations-check: any of: ^backend/
  pytest: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  vitest: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
